<div class="footer">
  <!-- universal-footer -->
  <div class="universal-footer">
    <div class="universal-footer__container">
      <div class="universal-footer__row">
        <div class="universal-footer__col-main">
          <dl>
            <dt class="universal-footer__col-main-definition-term">企業情報：</dt>

            <dd class="universal-footer__col-main-definition-description">
              <ul>
                <li class="universal-footer__col-main-list">
                  <a href="https://www.excrie.co.jp/">会社概要</a>
                </li>

                <li class="universal-footer__col-main-list">
                  <a href="/contents/hyouji.html">特定商取引に基づく表記</a>
                </li>

                <li class="universal-footer__col-main-list">
                  <a href="https://api.moratame.net/inquiry/ja">メーカーご担当者の方へ</a>
                </li>
              </ul>
            </dd>
          </dl>

          <p>
            株式会社エクスクリエはプライバシーマークを取得しています。<span class="br br--sp">当社の</span>「<a
              href="https://www.excrie.co.jp/about/privacy-policy/"
              target="_blank"
              rel="external"
              >個人情報保護方針</a
            >」はこちらです。
          </p>
          <div class="universal-footer__col-pmark-image">
            <a href="https://privacymark.jp/" target="_blank">
              <img src="https://image.moratame.net/img2014/common/pmark_s.gif" height="78" width="71" alt="">
            </a>
          </div>

          <p>
            (c) excrie Inc. All rights reserved. 本サイトは、<a href="https://www.excrie.co.jp/" target="_blank" rel="external"
              ><span class="br br--sp">株式会社エクスクリエ</span>により運営されております。</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /universal-footer -->
</div>
