<div class="se-news t-sidemenu">
  <h1 class="heading">サポート</h1>
  <div class="container">
    <ul class="newsListWrap t-sidemenu-list">
      <li><a href="https://www.moratame.net/contents/about.php">モラタメとは</a></li>
      <li><a href="https://www.moratame.net/wp/cs/" target="_blank">FAQ</a></li>
      <li><a href="https://www.moratame.net/wp/cs/">モラタメ事務局へのお問い合わせ</a></li>
      <li><a href="https://www.moratame.net/contents/syounin.php" target="_blank">モラタメ利用規約</a></li>
      <li><a href="contents/trade/index.php">特定商取引表示</a></li>
    </ul>
  </div>
</div>

