<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Vサンプル,Vポイント,プレゼント,試供品,無料,サンプリング">
    <meta name="Description" content="主婦に嬉しい食品・日用品がもらえる・ためせるお試しサイト！お得に商品が試せて、更にVポイントを貯めることもできます。">
    <link rel="shortcut icon" href="../assets/images/v-samplefavicon.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/images/v-sample_touch_icon.png">

    <title>商品へのコメント　テスト「ポイント決済用少額」｜Vポイントが貯まる・使える Vサンプル</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.v3.3.7--scope.css?2026030610">

    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/properties.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/layout.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/module.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/style--common-sp-and-pc.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset-old-style--jp.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/style--pc.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/style--sp.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/t.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/pass_monitor.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/t-sample.css?2026030610">

    <link rel="stylesheet" type="text/css" href="../assets/css/p9255-common--pc.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/footer-common.css?2026030610">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <script src="../assets/vendor/ajaxzip3/ajaxzip3.js"></script>

    <!-- FontAwesome -->
    <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet">

    <script src="../assets/vendor/jquery/jquery-1.11.0.min.js"></script>
  </head>

  <body class="bootstrap-v3-3-7--scope itemDetail" style="">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="main">
        <div class="contents cf contents--responsive">
          <div class="primary primary--responsive">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <!-- breadCrumbs -->
              <p class="breadCrumbs mb_10"><a href="../">ホーム</a> ＞<a href="detail/tamesulist.php">ためせる商品一覧</a> ＞ためせる商品詳細</p>
              <!-- /breadCrumbs -->
              <!-- sub header -->
              <div class="t-sub-header">
                <h2>商品詳細</h2>
              </div>
              <!-- /sub header -->
              <!-- contents -->
              <div class="t-head">
                <h2 class="t-head__text">ポイント決済用少額</h2>
              </div>

              <!-- carousel -->
              <div class="t-bx__wrapper">
                <div class="t-bx__viewport">
                  <div class="bx">
                    <div class="t-bx__slide">
                      <div>
                        <a href="javascript:;">
                          <img src="https://tsample.tsite.jp/img/project/1132_20211110_145638.png">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /carousel -->

              <!-- itemInfo -->
              <div class="itemInfo">
                <div class="t-crosshead">
                  <div class="t-crosshead__inner">
                    <h2 class="t-crosshead__text">商品情報</h2>
                  </div>
                </div>
                <div class="t-table">
                  <table class="t-table__block item_box">
                    <tbody>
                      <tr>
                        <th>提供元</th>
                        <td>テスト</td>
                      </tr>
                      <tr>
                        <th>残数</th>
                        <td>9,930</td>
                      </tr>
                      <tr>
                        <th>参考価格<br><a href="https://ssl.help.tsite.jp/faq/show/56344?category_id=5726&amp;site_domain=qa-tsite
" class="t-text__ex" target="_blank">※参考価格とは</a></th>
                        <td>10円(税別)</td>
                      </tr>
                      <tr>
                        <th>発送予定日</th>
                        <td>2026年11月10日(火)<div class="t-text">
                            <div class="t-caption">
                              <p class="t-caption__text">配送に関する注意事項をご一読ください</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>終了日時</th>
                        <td>2026年11月10日(火) 23時59分</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /itemInfo -->
              <div id="anchor01" class="t-crosshead">
                <div class="t-crosshead__inner">
                  <h2 class="t-crosshead__text">クチコミ</h2>
                </div>
              </div>
              <div class="commentWrap" style="margin-top: 10px;">
                <!-- everyPost -->
                <div class="t-text">
                  <p class="t-text__small">
                    【 ご投稿についてのお願い 】<br>
                    本サイトは商品試用後の感想をお寄せいただくことを主旨としています。<br>
                    ＜ご注意＞<br>
                    掲載商品に関係がない、商品をお試しされていない投稿、また一言のみの感想については確認次第、削除いたします。
                  </p>
                </div>
                <div class="t-head">
                  <h2 class="t-head__text">コメントを確認する</h2>
                </div>

                <form action="detail/cmt.php#anchor01" method="post" name="frm">
                  <input type="hidden" name="project_id" value="41e20">
                  <input type="hidden" name="sns_url_tw" id="sns_url_tw" value="">
                  <input type="hidden" name="sns_name_tw" id="sns_name_tw" value=" ">
                  <input type="hidden" name="photo_img_tmp1" value="">
                  <input type="hidden" name="photo_img_tmp2" value="">
                  <input type="hidden" name="photo_img_tmp3" value="">
                  <input type="hidden" name="photo_img_tmp4" value="">
                  <input type="hidden" name="input_back" value="1">
                  <input type="hidden" name="ct" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dicta nulla? Molestias vero cupiditate modi nam non, amet impedit doloribus. Accusamus explicabo consectetur veritatis debitis hic rem exercitationem saepe?">
                  <input type="hidden" name="ct_content" value="">
                  <div class="t-text">
                    <p class="t-text__small">
                      取得したサンプル品に関するクチコミは、企業等に提供する場合があります。同意の上、投稿してください。また、以下に該当するクチコミを投稿しないようにしてください。<br>
                      (1) 公序良俗に反する表現、法令違反、宣伝・広告的な利用<br>
                      (2) 個人情報の記載、または個人が特定できる内容の投稿<br>
                      (3) 商品評価に関係のない投稿、悪質なリンク、その他不適切な投稿<br>
                      当社が不適切と判断した場合、投稿を削除する場合がございます。<br>
                      詳細は「<a href="https://www.moratame.net/contents/syounin.php">モラタメ利用規約</a>」をご確認ください。
                    </p>
                  </div>
                  <p class="t-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dicta nulla? Molestias vero cupiditate modi nam non, amet impedit doloribus. Accusamus explicabo consectetur veritatis debitis hic rem exercitationem saepe?</p>
                  <textarea name="ct" id="ct" cols="30" rows="10" class="textareaStyle01" style="display:none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dicta nulla? Molestias vero cupiditate modi nam non, amet impedit doloribus. Accusamus explicabo consectetur veritatis debitis hic rem exercitationem saepe?</textarea>
                  <div class="t-button">
                    <input type="submit" value="コメントを送信する" class="t-button__green t-button__smallText t-button__blue" onclick="javascript:return modeCmt();">
                  </div>
                  <div class="t-button">
                    <div>
                      <input type="submit" class="t-button__default" value="内容の変更">
                    </div>
                  </div>
                  <div class="p_20 bgc_gray01" id="sns_cmt_prv" style="display:none;">
                    <div id="scp_inr">
                      <h2 class="lead mb_10">プレビュー</h2>
                      <div class="unit" id="previewarea_tw">
                        <p class="icoBar02 twitter">twitter</p>
                        <textarea name="preview_tw" rows="10" cols="30" class="comment_textarea" id="preview_tw" readonly=""></textarea>
                        <p class="ta_r c_red02">あと<span id="count_tw"></span>文字入力できます。</p>
                      </div>
                    </div>
                  </div>
                </form>

                <!-- /everyPost -->
                <form action="detail/cmt2.php" method="post" name="cmt2">
                  <input type="hidden" name="project_id" value="41e20">
                  <input type="hidden" name="ct" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dicta nulla? Molestias vero cupiditate modi nam non, amet impedit doloribus. Accusamus explicabo consectetur veritatis debitis hic rem exercitationem saepe?">
                  <input type="hidden" name="ct_content" value="">
                  <input type="hidden" name="tw_account_name" value="">
                  <input type="hidden" id="sbtn_tw" name="sbtn_tw" value="">
                  <input type="hidden" id="kbn" name="kbn" value="0">
                  <input type="hidden" id="shohinmei" name="shohinmei" value="テスト「ポイント決済用少額」">
                  <input type="hidden" id="shohinmei_tw" name="shohinmei_tw" value="テスト「ポイント決済用少額」">
                  <input type="hidden" id="picture" name="picture" value="img/project/1132_item_20250502_122745.jpg">
                  <input type="hidden" name="photo_img_tmp1" value="">
                  <input type="hidden" name="photo_img_tmp2" value="">
                  <input type="hidden" name="photo_img_tmp3" value="">
                  <input type="hidden" name="photo_img_tmp4" value="">
                </form>
              </div>

              <br>
              <!-- /contents -->
              <!--/ここまで商品詳細-->
              <!-- footer -->
            </div>

            <!-- footBnr -->
            <div class="footBnr">
              <ul>
              </ul>
            </div>
            <!-- footBnr / -->

            <!-- /id="F001" class="js-t-wrapper itemDetailBox"-->
          </div><!-- /primary primary--responsive -->
          <!-- secondary -->
          <div class="secondary">
            <!-- category -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">カテゴリ</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li class="t-sidemenu-sub-ttl">ためせる・もらえる</li>
                  <li><a href="detail/category.php?category=4e058" title="食品"><img src="https://tsample.tsite.jp/img/ico21.png" width="18" height="18" alt="">食品（9）</a></li>
                  <li class="t-sidemenu-sub-ttl">マイページ</li>
                  <li><a href="../mymenu/basic.html" title="マイページ">マイページ</a></li>
                </ul>
              </div>
            </div> <!-- project-schedule -->
            <!--  /project-schedule -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">お届け先</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li><a href="detail/category.php?category=7b664" title="家族配送"><img src="https://tsample.tsite.jp/img/ico29.png" width="18" height="18" alt="">家族配送（4）</a></li>
                </ul>
              </div>
            </div>
            <!-- /category -->
            <!-- non-review-list -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">未投稿クチコミ　0件</h1>
              <div class="container">
                <ul class="cf">
                </ul>
                <a href="mymenu/basic.php?c=review" class="NotPostedList">
                  <p>クチコミ一覧へ</p>
                </a>
              </div>
            </div>
            <style>
              .reviewContainer {
                padding: 8px 0;
                width: auto;
                position: relative;
              }

              .col-l {
                width: auto;
                float: left;
              }

              .col-l.sideReviewReception p.dlineIco {
                border: #ff340c dotted 1px;
                border-radius: 25px;
                box-sizing: border-box;
                color: #ff340c;
                display: inline-block;
                font-size: 10px !important;
                height: 50px;
                line-height: 1.2;
                padding-top: 9px;
                text-align: center;
                width: 50px;
              }

              .col-l.sideReviewReception p.dlineIco span {
                font-size: 13px;
              }

              .col-l.sideReviewReception img {
                display: inline-block;
                vertical-align: top;
                width: 50px;
                height: 50px;
              }

              .col-l.sideReviewReception p.dlineIco_ex {
                background: #ff340c;
                color: #fff;
                height: 50px;
                width: 50px;
              }

              .col-r {
                width: auto;
                float: right;
              }

              .col-r.sideReviewReception p {
                padding: 0;
                width: 150px;
              }

              .col-r.sideReviewButton a {
                background: #8cc900;
                border-radius: 5px;
                color: #fff;
                display: inline-block;
                font-size: 10px;
                margin-top: 8px;
                width: 83px;
                height: 22px;
              }

              .col-r.sideReviewButton a p {
                font-size: 10px;
                padding: 6px 5px;
                text-align: center;
              }

              .col-r.sideReviewButton a:hover {
                opacity: 0.8;
                text-decoration: none;
              }

              a.NotPostedList {
                background-color: #eee;
                border-radius: 5px;
                display: block;
                padding: 10px;
                text-align: center;
                -moz-transition: background-color 0.2s linear;
                -o-transition: background-color 0.2s linear;
                -webkit-transition: background-color 0.2s linear;
                transition: background-color 0.2s linear;
              }

              a.NotPostedList:hover {
                background-color: #f7d806;
              }

              a.NotPostedList:active {
                background-color: #f79e05;
              }

              a.NotPostedList p {
                color: #313131;
              }
            </style>
            <!-- /non-review-list -->
            <!-- t-support-menu -->
            {% include 'support-menu' %}
            <!-- /t-support-menu -->

            <!-- sideBnr -->
            <div class="sideBnr">
              <ul>
                <li class="sideBnr-list">
                  <a href="http://www.jipc.jp/%e3%81%82%e3%82%93%e3%81%97%e3%82%93%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88/" target="_blank" rel="noopener noreferrer">
                    <p>
                      <img src="https://tsample.tsite.jp/img/side_banner/safety_point.png" alt="あんしんポイント">
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <!-- sideBnr / -->



          </div>
          <!-- /secondary -->
        </div><!-- /contents cf contents--responsive -->



      </div><!-- /main-->
      {% include 'footer' %}
    </div>
    <!--  //body-wrapper -->

    <link rel="stylesheet" type="text/css" href="../assets/css/t-cmt.css?2026030610">
    <script>
      var c_uri_https = '';
      var pjt_rand = '41e20';
    </script>
    <script>
      function modeCmt() {
        document.cmt2.target = '_self';

        // TwitterにチェックONなら値をセット
        if ($("#sbtn_tw").prop('checked')) {
          $("input#sbtn_tw").val(1);
        }

        document.cmt2.submit();
        return false;
      }
    </script>
    <script type="text/javascript" src="../assets/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/jquery-migrate/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
    <script src="../assets/js/CheckDeteredDevice.js"></script>
    <script src="../assets/js/announce_toggle.js?2026030610" async=""></script>
    <!-- hamburgerMenu -->
    <script src="../assets/js/hamburger-menu.js"></script





    <script type="text/javascript" id="" charset="">var vgHost = "chat3-ae.chatdealer.jp", vgProtocol = "https", vgPort = "443", vgAtxt = "9I4e1Chat3-ae", vgSid = 3; (function () { try { var a = document.createElement("script"), c = new Date, b = document.getElementsByTagName("script")[0]; a.type = "text/javascript"; a.async = !0; a.setAttribute("charset", "utf-8"); a.src = vgProtocol + "://" + vgHost + ":" + vgPort + "/chat/client.js?" + c.getTime(); b.parentNode.insertBefore(a, b) } catch (d) { console.log(d) } })();</script>

    <iframe name="vgloadif1772762571342" src="https://chat3-ae.chatdealer.jp:443/chat/webstorage_check.html?1772762571342&amp;ver=10.5.0.0&amp;modeno=1" style="margin: 0;padding: 0;border: 0;min-height: 1px;min-width: 1px;display: none;"></iframe><iframe id="vgdataMainFrm1772762571440" name="vgdataMainFrm1772762571440" allowtransparency="true" style="padding: 0;border: 0;min-height: 1px;min-width: 1px;margin: 0;width: 0px;height: 0px;position:fixed; overflow: hidden;border: none; z-index: 2000000000;display: none;" scrolling="no" frameborder="no" src="https://chat3-ae.chatdealer.jp:443/chat/blank.html?ver=10.5.0.0&amp;modeno=1" class="chatdealer-main-frame"></iframe><iframe id="vgCtaFrm1772762571440" name="vgCtaFrm1772762571440" style="margin: 0;padding: 0;border: 0;min-height: 1px;min-width: 1px;width: 0px;height: 0px;position:fixed; bottom:0px; right:15px;overflow: hidden;border: none;z-index: 2000000002;display: none;" scrolling="no" frameborder="no" src=""></iframe>
    <div id="vgCtaModalDivWrap">
      <div id="vgCtaModalDiv" style="width: 0px;height: 0px;position:fixed; bottom:0px; right:15px;overflow: hidden;border: none;z-index: 2000000001;display: none;"></div>
    </div>
  </body>

</html>
