<!doctype html>
<html lang="ja">
  <head>
    {% assign page_use_bootstrap = true %} {% assign page_title = '商品へのコメント　テスト「ポイント決済用少額」｜Vポイントが貯まる・使える Vサンプル' %} {% include 'head' %}
  </head>

  <body id="pageTop" class="bootstrap-v3-3-7--scope">
    <div class="body-wrapper">
      {% include 'header' %}
      <main class="main" aria-labelledby="page-heading">
        <div class="contents cf contents--responsive">
          <div class="">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <div class="t-sub-header">
                <h2 id="page-heading">コメント投稿完了</h2>
              </div>
              <!-- /sub header -->
              <div class="t-text">
                <div class="t-text__middle">
                  <p>コメントの投稿が完了しました。</p>
                  <p class="ta_c c_red mt_20">発送日以降のコメントは実際にお試し頂いた方から順に表示されます。</p>
                </div>
              </div>
              <div class="t-button">
                <p>
                  <a href="detail/review_list.php?project_id=41e20" class="t-button__default t-button__smallText t-arrow_right">コメントを確認する</a>
                </p>
              </div>
              <!-- /contents -->
            </div>

            <div class="footBnr">
              <ul></ul>
            </div>
            <!-- /footBnr -->

            <!-- /itemDetailBox -->
          </div>
        </div>
        <!-- /contents -->
      </main>
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
