<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'シェアフルモニター | 無料でもらえる商品一覧 応募受付中！' %} {% capture head_extra %} {% endcapture %} {% include 'head' %}
  </head>

  <body id="pageTop">
    <div class="body-wrapper">
      {% include 'header' %}
      <main aria-labelledby="page-heading">
        <div class="l-container pb-8">
          <div class="heading xx-large enclosing-btn with-icon mb-[16px]">
            <h1 id="page-heading">
              <span class="ico-wrap">
                <img alt="" height="79" src="../assets/images/icon-mora.png" width="64" />
              </span>
              <span>無料でもらえる商品一覧</span>
            </h1>
          </div>
          <!-- /headGroup -->
          <ul class="list14 p-project-lists c-grid--row c-grid--row--no-gutter" id="top_p_list">
            <li class="c-grid--col">
              <a class="ui-link" href="morau.html" rel="external" tabindex="0">
                <div class="p-project-list p-project-list--tame">
                  <div class="p-project-lists__thumbnail-wrap">
                    <h2>
                      <img alt="モラご確認用B" height="320" src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Mora" width="320" />
                    </h2>
                  </div>
                  <div class="p-project-lists__block">
                    <dl class="p-project-lists__dl p-project-lists__dl--tame">
                      <dt class="sp-top-project-company u-text-ellipsis">テスト</dt>
                      <dt class="sp-top-project-sname u-text-ellipsis">モラご確認用B</dt>
                    </dl>
                  </div>
                </div>
              </a>
            </li>
            <li class="c-grid--col">
              <a class="ui-link" href="morau.html" rel="external" tabindex="0">
                <div class="p-project-list p-project-list--tame">
                  <div class="p-project-lists__thumbnail-wrap">
                    <h2>
                      <img alt="モラご確認用A" height="640" src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Mora" width="640" />
                    </h2>
                  </div>
                  <div class="p-project-lists__block">
                    <dl class="p-project-lists__dl p-project-lists__dl--tame">
                      <dt class="sp-top-project-company">テスト</dt>
                      <dt class="sp-top-project-sname">モラご確認用A</dt>
                    </dl>
                  </div>
                </div>
              </a>
            </li>
            <li class="c-grid--col">
              <a class="ui-link" href="morau.html" rel="external" tabindex="0">
                <div class="p-project-list p-project-list--tame">
                  <div class="p-project-lists__thumbnail-wrap">
                    <span class="c-label-2 c-label-2--already">応募済み</span>
                    <h2>
                      <img alt="モラご確認用A" height="640" src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Mora" width="640" />
                    </h2>
                  </div>
                  <div class="p-project-lists__block">
                    <dl class="p-project-lists__dl p-project-lists__dl--tame">
                      <dt class="sp-top-project-company">テスト</dt>
                      <dt class="sp-top-project-sname">シェアフルモニター真冬のビタミンキャンペーン！</dt>
                    </dl>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <!-- /itemList -->
          <div class="mt-[20px]">
            <p class="btn-square-01-wrap">
              <a href="https://stg.tsample.tsite.jp/detail/moraupast.php" class="c-button c-button--gray"> 受付終了商品一覧はこちら</a>
            </p>
          </div>
          <!-- /btnGroup -->
        </div>
      </main>
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
