<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = 'もらえる商品応募内容確認｜Vポイントが貯まる・使える Vサンプル' %}
    {% include 'head' %}
  </head>

  <body class="bootstrap-v3-3-7--scope itemDetail itemConfirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="main">
        <div class="contents cf contents--responsive">
          <div class="primary primary--responsive">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <div class="t-sub-header">
                <h2>応募手続き完了</h2>
              </div>
              <!-- /sub header -->
              <ul class="t-media">
                <li>
                  <div class="t-media__inner">
                    <div class="t-media__img">
                      <img alt="商品名" class="img-responsive" height="240" src="https://placehold.jp/30/dd6699/ffffff/638x240.png?text=eye-catch+mora" width="638">
                    </div>
                    <div class="t-media__body">
                      <p class="t-media__body-title">
                        <span>
                          <em>モラご確認用A</em>
                        </span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="t-text">
                <p class="pt_10">もらえる商品へのご応募ありがとうございました。</p>
              </div>
              <div class="t-button">
                <div class="t-arrow_left">
                  <a href="https://stg.tsample.tsite.jp/"><button class="t-button__default t-button__smallText">トップへ戻る</button></a>
                </div>
              </div>
              <!-- /contents -->
            </div>

            <div class="footBnr">
              <ul>
              </ul>
            </div>
            <!-- /footBnr -->

            <!-- /itemDetailBox -->
          </div><!-- /primary -->
          <div class="secondary">
            <div class="se-news t-sidemenu">
              <h1 class="heading">カテゴリ</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li class="t-sidemenu-sub-ttl">ためせる・もらえる</li>
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=4e058" title="食品"><img src="../assets/images/ico21.png" width="18" height="18" alt="">食品（9）</a></li>
                  <li class="t-sidemenu-sub-ttl">マイページ</li>
                  <li><a href="../mymenu/basic.html" title="マイページ">マイページ</a></li>
                </ul>
              </div>
            </div> <!-- project-schedule -->
            <!-- /project-schedule -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">お届け先</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=7b664" title="家族配送"><img src="../assets/images/ico29.png" width="18" height="18" alt="">家族配送（4）</a></li>
                </ul>
              </div>
            </div>
            <!-- /category -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">未投稿クチコミ　0件</h1>
              <div class="container">
                <ul class="cf">
                </ul>
                <a href="https://stg.tsample.tsite.jp/mymenu/basic.php?c=review" class="NotPostedList">
                  <p>クチコミ一覧へ</p>
                </a>
              </div>
            </div>
            <!-- /non-review-list -->
            {% include 'support-menu' %}
            <!-- /t-support-menu -->

            <div class="sideBnr">
              <ul>
                <li class="sideBnr-list">
                  <a href="http://www.jipc.jp/%e3%81%82%e3%82%93%e3%81%97%e3%82%93%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88/" target="_blank" rel="noopener noreferrer">
                    <p>
                      <img src="../assets/images/side_banner/safety_point.png" alt="あんしんポイント">
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /sideBnr -->



          </div>
          <!-- /secondary -->
        </div><!-- /contents -->



      </div><!-- /main-->
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>

</html>
