<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = '無料でもらえる商品一覧 応募受付中！｜Vポイントが貯まる・使える Vサンプル' %}
    {% capture head_extra %}
    {% endcapture %}
    {% include 'head' %}
  </head>

  <body id="itemList" class="bootstrap-v3-3-7--scope">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="main">
        <div class="contents cf contents--responsive">
          <div class="primary primary--responsive">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <p class="breadCrumbs mb_10"><a href="https://stg.tsample.tsite.jp/">ホーム</a>＞もらえる商品一覧</p>
              <!-- /breadCrumbs -->
              <div class="pr-mora pr-content">
                <div class="heading xx-large enclosingBtn withIcon">
                  <h1>
                    <span class="icoWrap">
                      <img alt="" height="79" src="../assets/images/icon-mora.png" width="64">
                    </span>
                    <span class="">無料でもらえる商品一覧</span>
                  </h1>
                </div>
                <!-- /headGroup -->
                <ul class="list14 clearfix p-project-lists c-grid--row c-grid--row--no-gutter" id="top_p_list">
                  <li class="c-grid--col">
                    <a class="ui-link" href="https://stg.tsample.tsite.jp/detail/morau.php?project_id=4100c" onclick="ga('send','event','sp_top','click_tame','4100c');" rel="external" tabindex="0">
                      <div class="p-project-list p-project-list--tame">
                        <div class="p-project-lists__thumbnail-wrap">
                          <h2>
                            <img alt="モラご確認用B" height="320" src="../assets/images/project/2304_20260213_184437.png" width="320">
                          </h2>
                        </div>
                        <div class="p-project-lists__block">
                          <dl class="p-project-lists__dl p-project-lists__dl--tame">
                            <dt class="sp_top_project_company">テスト</dt>
                            <dt class="sp_top_project_sname">モラご確認用B</dt>
                          </dl>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="c-grid--col">
                    <a class="ui-link" href="https://stg.tsample.tsite.jp/detail/morau.php?project_id=6aaf2" onclick="ga('send','event','sp_top','click_tame','6aaf2');" rel="external" tabindex="0">
                      <div class="p-project-list p-project-list--tame">
                        <div class="p-project-lists__thumbnail-wrap">
                          <h2>
                            <img alt="モラご確認用A" height="320" src="../assets/images/project/2304_20260213_184437.png" width="320">
                          </h2>
                        </div>
                        <div class="p-project-lists__block">
                          <dl class="p-project-lists__dl p-project-lists__dl--tame">
                            <dt class="sp_top_project_company">テスト</dt>
                            <dt class="sp_top_project_sname">モラご確認用A</dt>
                          </dl>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="c-grid--col">
                    <a class="ui-link" href="https://stg.tsample.tsite.jp/detail/morau.php?project_id=d0ef6" onclick="ga('send','event','sp_top','click_tame','d0ef6');" rel="external" tabindex="0">
                      <div class="p-project-list p-project-list--tame">
                        <div class="p-project-lists__thumbnail-wrap">
                          <span class="c-label-2 c-label-2--already">応募済み</span>
                          <h2>
                            <img alt="Vサンプル真冬のビタミンキャンペーン！" height="320" src="../assets/images/project/1140_20240307_181426.png" width="320">
                          </h2>
                        </div>
                        <div class="p-project-lists__block">
                          <dl class="p-project-lists__dl p-project-lists__dl--tame">
                            <dt class="sp_top_project_company">テスト</dt>
                            <dt class="sp_top_project_sname">Vサンプル真冬のビタミンキャンペーン！</dt>
                          </dl>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!-- /itemList -->
                <div class="mt_20">
                  <p class="btnSquare01wrap">
                    <a href="https://stg.tsample.tsite.jp/detail/moraupast.php" class="btnSquare01 btnBeige01 medium">
                      受付終了商品一覧はこちら
                      <span class="arrow">
                        <img src="../assets/images/arrow03.png" alt="" width="20" height="32">
                      </span>
                    </a>
                  </p>
                </div>
                <!-- /btnGroup -->
              </div>
            </div>

            <div class="footBnr">
              <ul>
              </ul>
            </div>
            <!-- /footBnr -->

            <!-- /itemDetailBox -->
          </div><!-- /primary -->
          <div class="secondary">
            <div class="se-news t-sidemenu">
              <h1 class="heading">カテゴリ</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li class="t-sidemenu-sub-ttl">ためせる・もらえる</li>
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=4e058" title="食品"><img src="../assets/images/ico21.png" width="18" height="18" alt="">食品（9）</a></li>
                  <li class="t-sidemenu-sub-ttl">マイページ</li>
                  <li><a href="../mymenu/basic.html" title="マイページ">マイページ</a></li>
                </ul>
              </div>
            </div>
            <!-- /project-schedule -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">お届け先</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=7b664" title="家族配送"><img src="../assets/images/ico29.png" width="18" height="18" alt="">家族配送（4）</a></li>
                </ul>
              </div>
            </div>
            <!-- /category -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">未投稿クチコミ　0件</h1>
              <div class="container">
                <ul class="cf">
                </ul>
                <a href="https://stg.tsample.tsite.jp/mymenu/basic.php?c=review" class="NotPostedList">
                  <p>クチコミ一覧へ</p>
                </a>
              </div>
            </div>
            <!-- /non-review-list -->
            {% include 'support-menu' %}
            <!-- /t-support-menu -->

            <div class="sideBnr">
              <ul>
                <li class="sideBnr-list">
                  <a href="http://www.jipc.jp/%e3%81%82%e3%82%93%e3%81%97%e3%82%93%e3%83%9d%e3%82%a4%e3%83%b3%e3%83%88/" target="_blank" rel="noopener noreferrer">
                    <p>
                      <img src="../assets/images/side_banner/safety_point.png" alt="あんしんポイント">
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /sideBnr -->

          </div>
          <!-- /secondary -->
        </div><!-- /contents -->



      </div><!-- /main-->
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>

</html>
