<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'シェアフルモニター | もらえる商品応募内容確認' %} {% include 'head' %}
  </head>

  <body id="pageTop" class="itemDetail item-confirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <main aria-labelledby="page-heading">
        <div class="l-container">
          <div>
            <h2 id="page-heading" class="c-heading">応募手続き完了</h2>
            <ul class="t-media">
              <li>
                <div class="t-media__inner">
                  <div class="t-media__img">
                    <img alt="商品名" class="u-img" height="640" src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Mora" width="640" />
                  </div>
                  <div class="t-media__body">
                    <p class="t-media__body-title">
                      <span>
                        <em>モラご確認用A</em>
                      </span>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="t-text">
              <p class="pt-[10px]">もらえる商品へのご応募ありがとうございました。</p>
            </div>
            <div class="t-button">
              <div class="t-arrow_left">
                <a href="https://stg.tsample.tsite.jp/"><button class="t-button__default t-button__small-text">トップへ戻る</button></a>
              </div>
            </div>
          </div>
        </div>
      </main>
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
