<!doctype html>
<html lang="ja">
  <head>
    {% assign page_use_bootstrap = true %} {% assign page_title = 'もらえる商品応募内容確認｜シェアフルポイントが貯まる・使える シェアフルモニター' %} {% include 'head' %}
  </head>

  <body id="pageTop" class="bootstrap-v3-3-7--scope itemDetail itemConfirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <main class="main" aria-labelledby="page-heading">
        <div class="l-container">
          <div>
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <div class="t-sub-header">
                <h2 id="page-heading">応募手続き完了</h2>
              </div>
              <!-- /sub header -->
              <ul class="t-media">
                <li>
                  <div class="t-media__inner">
                    <div class="t-media__img">
                      <img alt="商品名" class="img-responsive" height="240" src="https://placehold.jp/30/dd6699/ffffff/638x240.png?text=eye-catch+mora" width="638" />
                    </div>
                    <div class="t-media__body">
                      <p class="t-media__body-title">
                        <span>
                          <em>モラご確認用A</em>
                        </span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="t-text">
                <p class="pt-[10px]">もらえる商品へのご応募ありがとうございました。</p>
              </div>
              <div class="t-button">
                <div class="t-arrow_left">
                  <a href="https://stg.tsample.tsite.jp/"><button class="t-button__default t-button__smallText">トップへ戻る</button></a>
                </div>
              </div>
            </div>

            <div class="footBnr">
              <ul></ul>
            </div>
            <!-- /footBnr -->

            <!-- /itemDetailBox -->
          </div>
        </div>
      </main>
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
