<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'モラご確認用A もらえる｜シェアフルポイントが貯まる・使える Vサンプル' %} {% capture head_extra %}
    <script>
      $(function () {
        $(document).on("click", "[id^='order-button']", function () {
          var $adultPermission = $("#adult-permission");

          if ($adultPermission.length && !$adultPermission.prop("checked")) {
            alert("20歳以上の方はチェックを入れてください");
            return;
          }

          location.href = "https://stg.tsample.tsite.jp/detail/tamesu2.php?fst=1&project_id=6aaf2";
        });

        $(document).on("change", "[id^='adult-permission']", function () {
          if ($("#" + this.id).prop("checked")) {
            $("[id^='adult-permission']").prop("checked", true);
          } else {
            $("[id^='adult-permission']").prop("checked", false);
          }
        });
      });
    </script>
    {% endcapture %} {% include 'head' %}
  </head>

  <body id="pageTop" class="itemDetail itemDetail-mora">
    <div class="body-wrapper">
      {% include 'header' %}
      <main class="main" aria-labelledby="page-heading">
        <div class="l-container">
          <div id="F001" class="js-t-wrapper itemDetailBox">
            <div class="t-sub-header">
              <h2 id="page-heading">商品詳細</h2>
            </div>
            <!-- /sub header -->
            <div class="t-head">
              <h2 class="t-head__text">モラご確認用A</h2>
            </div>
            <!-- carousel -->
            <div class="t-bx__wrapper">
              <div class="t-bx__viewport">
                <div class="bx">
                  <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Mora" width="640" height="640" class="u-img" />
                </div>
              </div>
            </div>
            <!-- /carousel -->
            <div class="t-crosshead">
              <div class="t-crosshead__inner">
                <h2 class="t-crosshead__text">商品情報</h2>
              </div>
            </div>
            <div class="t-table">
              <div class="price_bgbox">
                <table class="t-table__block">
                  <tbody>
                    <tr>
                      <th>提供元</th>
                      <td>テスト</td>
                    </tr>
                    <tr>
                      <th>アンケート</th>
                      <td>「お申し込み前」回答</td>
                    </tr>
                    <tr>
                      <th>応募期間</th>
                      <td>2026年02月13日(金)18:44&nbsp;～<br />2027年02月13日(土)23:59</td>
                    </tr>
                    <tr>
                      <th>当選数</th>
                      <td>100</td>
                    </tr>
                    <tr>
                      <th>発送予定日</th>
                      <td>2027年02月13日(土)</td>
                    </tr>
                  </tbody>
                </table>
                <form id="form-order" method="post" action="https://stg.tsample.tsite.jp/detail/tamesu2.php?fst=1&project_id=6aaf2" class="t-form">
                  <div class="t-text t-attention-terms">
                    <div class="t-text">
                      <p class="t-text__middle">※<a href="https://www.moratame.net/contents/syounin.php" target="_blank">利用規約</a>に同意の上お申し込み下さい</p>
                    </div>
                  </div>
                  <button type="button" id="order-button" class="c-button c-button--orange mt-[8px]">申し込む</button>
                </form>
              </div>
            </div>
            <div class="t-crosshead">
              <div class="t-crosshead__inner">
                <h2 class="t-crosshead__text">商品説明</h2>
              </div>
            </div>
            <div class="t-text">
              <div id="g3">
                <div class="t-text">
                  <div class="t-text__middle">
                    <!-- contentsarea__box -->
                    <div class="monitor-contentsarea__box">
                      <section class="monitor-caption__box">
                        <div class="t-subhead">
                          <h3 class="t-subhead__text">
                            <span style="font-weight: bold">新しい季節もビールで華やかに♪春の全国ビール共通券プレゼントキャンペーン </span>
                          </h3>
                        </div>
                        <div class="t-text">
                          <p>
                            お好きなアサヒ・キリン・サッポロ・サントリーの缶ビールいずれか2本と交換できる！<br /><br />全国のコンビニエンスストア、スーパーマーケット、デパート等の缶ビール商品取扱店で交換できます。<br /><br />
                            ※本券の有効期限は【2033年3月31日】です。<br />
                            ※販売価格や消費税の影響により、ビール券の額面を上回る場合がございます。<br />
                            ※その際は、不足分を現金でお支払いいただく場合がございます。ご利用前に店舗にて、差額の有無をご確認ください。
                          </p>
                        </div>
                      </section>
                    </div>
                    <!-- /contentsarea__box -->
                    <!-- attention__box1 -->
                    <div class="monitor-contentsarea__box">
                      <div class="monitor-attention__box">
                        <div class="t-text">
                          <p class="t-text">
                            <span style="font-weight: bold">【ご注意事項】</span>
                          </p>
                          <p class="t-text__small">
                            ・当選者の発表は商品の発送を持って代えさせていただきます。<br />
                            ・本企画の当選可否についてのお問い合わせはお答えできませんのでご了承下さい。
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /attention__box1 -->
                    <!-- attention2__box -->
                    <div class="t-crosshead">
                      <div class="t-crosshead__inner">
                        <h2 class="t-crosshead__text">配送に関する注意事項</h2>
                      </div>
                    </div>
                    <!--accordion-->
                    <div class="t-accordion t-border-top">
                      <dl id="faq01">
                        <dt class="t-accordion__title js-t-accordion t-arrow_down fs_16">
                          <font size="2">1.配送方法</font>
                        </dt>
                        <dd class="t-accordion__items" style="display: none">
                          <div class="t-accordion__item">
                            本商品は「普通郵便」でのお届けを予定しております。<br />
                            ※投函後の盗難、紛失・破損した場合でも補償はございません。予めご了承ください。<br />
                            ※万が一、配送に伴うトラブルが発生した場合におきましても、Vサンプル事務局でお荷物の追跡等ができない場合があります。あらかじめご了承ください。
                          </div>
                        </dd>
                      </dl>
                    </div>
                    <!--/accordion-->
                    <!-- /attention2__box -->
                  </div>
                </div>
              </div>
            </div>
            <div class="t-text t-attention-terms">
              <div class="t-text">
                <p class="t-text__middle">※<a href="https://www.moratame.net/contents/syounin.php" target="_blank">利用規約</a>に同意の上お申し込み下さい</p>
              </div>
            </div>
            <div>
              <button type="button" id="order-button" class="c-button c-button--orange mb-[16px] mt-[8px]">申し込む</button>
            </div>
            <!-- /contents -->
            <div style="margin: 0 0 40px">
              <button type="button" id="review-button" class="c-button c-button--review">クチコミを投稿する</button>
            </div>
            <script>
              $(function () {
                $(document).on("click", "[id^='review-button']", function () {
                  window.location.href = "https://stg.tsample.tsite.jp/detail/cmt.php?project_id=6aaf2#anchor01";
                });
              });
            </script>
            <style>
              .t-button__yellow {
                display: block;
                margin: auto;
                width: 90%;
                border: none;
                background: #fff100;
                background: -webkit-gradient(linear, left top, left bottom, from(#fff100), to(#fff100));
                background: gradient(linear, left top, left bottom, from(#fff100), to(#fff100));
                color: #000;
                cursor: pointer;
              }

              .disabled {
                height: initial;
                border: initial;
              }
            </style>
          </div>
          <!-- /itemDetailBox -->
          <div class="footBnr">
            <ul></ul>
          </div>
        </div>
      </main>
      {% include 'footer' %}
    </div>
    <!--  //body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
