<!DOCTYPE html>
<html dir="ltr" lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Vサンプル,Vポイント,プレゼント,試供品,無料,サンプリング">
    <meta name="Description" content="主婦に嬉しい食品・日用品がもらえる・ためせるお試しサイト！お得に商品が試せて、更にVポイントを貯めることもできます。">
    <link rel="shortcut icon" href="https://stg.tsample.tsite.jp/v-samplefavicon.png">
    <link rel="apple-touch-icon-precomposed" href="https://stg.tsample.tsite.jp/img/v-sample_touch_icon.png">

    <title>申し込み内容確認 | Vサンプル｜Vポイントが貯まる・使える Vサンプル</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.v3.3.7--scope.css?2026021912">

    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/properties.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/layout.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/module.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/style--common-sp-and-pc.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset-old-style--jp.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/style--pc.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/style--sp.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/t.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/pass_monitor.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/t-sample.css?2026021912">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="../assets/vendor/slick/slick.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/slick/slick-theme.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/vendor/slick/slick-theme-user.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/p9255-common--pc.css?2026021912">
    <link rel="stylesheet" type="text/css" href="../assets/css/footer-common.css?2026021912">

    <!--slideUp Down-->
    <script src="../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script>
      $(function () {
        $('.slideup').click(function () {
          // スライドアップ
          $('.input_area').slideUp(200);
        });

        $('.slidedown').click(function () {
          // スライドダウン
          $('.input_area').slideDown(300);
        });
      });

      $(function () {
        $('.slideup2').click(function () {
          // スライドアップ
          $('.input_area2').slideUp(200);
        });

        $('.slidedown2').click(function () {
          // スライドダウン
          $('.input_area2').slideDown(300);
        });
      });

      $(function () {
        $('.slideup3').click(function () {
          // スライドアップ
          $('.input_area3').slideUp(200);
        });

        $('.slidedown3').click(function () {
          // スライドダウン
          $('.input_area3').slideDown(300);
        });
      });
    </script>


    <!-- postalcode_address -->
    <script src="../assets/vendor/ajaxzip3/ajaxzip3.js"></script>

    <!-- FontAwesome -->
    <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet">




  </head>

  <body class="bootstrap-v3-3-7--scope itemDetail itemConfirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="main">
        <div class="contents cf contents--responsive">
          <div class="primary primary--responsive">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <!-- sub header -->
              <div class="t-sub-header">
                <h2>申し込み完了</h2>
              </div>
              <!-- /sub header -->
              <ul class="t-media">
                <li>
                  <div class="t-media__inner">
                    <div class="t-media__img">
                      <img src="https://stg.tsample.tsite.jp/img/project/2300_item_20260204_161934.png" width="80" alt="">
                    </div>
                    <div class="t-media__body">
                      <p class="t-media__body-title">
                        <span><em>ギフトコード10件B</em></span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="t-text">
                <p class="pt_10">
                  上記商品へのお申し込みが完了しました。ありがとうございました。<br>お申し込み内容については、<a href="https://stg.tsample.tsite.jp/mymenu/basic.php">申込履歴</a>からご確認いただけます。
                </p>
              </div>
              <div class="t-button">
                <div class="t-arrow_left">
                  <a href="https://stg.tsample.tsite.jp/">
                    <button class="t-button__default t-button__smallText">トップへ戻る</button>
                  </a>
                </div>
              </div>
            </div>

            <!-- footBnr -->
            <div class="footBnr">
              <ul>
              </ul>
            </div>
            <!-- footBnr / -->

            <!-- /id="F001" class="js-t-wrapper itemDetailBox"-->
          </div><!-- /primary primary--responsive -->
          <!-- secondary -->
          <div class="secondary">
            <!-- category -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">カテゴリ</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li class="t-sidemenu-sub-ttl">ためせる・もらえる</li>
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=4e058" title="食品"><img src="https://stg.tsample.tsite.jp/img/ico21.png" width="18" height="18" alt="">食品（9）</a></li>
                  <li class="t-sidemenu-sub-ttl">マイページ</li>
                  <li><a href="../mymenu/basic.html" title="マイページ">マイページ</a></li>
                </ul>
              </div>
            </div> <!-- project-schedule -->
            <!--  /project-schedule -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">お届け先</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=7b664" title="家族配送"><img src="https://stg.tsample.tsite.jp/img/ico29.png" width="18" height="18" alt="">家族配送（4）</a></li>
                </ul>
              </div>
            </div>
            <!-- /category -->
            <!-- non-review-list -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">未投稿クチコミ　0件</h1>
              <div class="container">
                <ul class="cf">
                </ul>
                <a href="https://stg.tsample.tsite.jp/mymenu/basic.php?c=review" class="NotPostedList">
                  <p>クチコミ一覧へ</p>
                </a>
              </div>
            </div>
          </div><!-- /secondary -->
        </div><!-- /contents cf contents--responsive -->
      </div><!-- /main-->
      {% include 'footer' %}
      <!-- pageTopScroll -->
      <p class="pageTopScroll" style="display: none;">
        <a href=https://stg.tsample.tsite.jp/ "#pageTop">▲ページトップへ</a>
      </p>
    </div>
    <!--  //body-wrapper -->

    <!-- bxsliderが機能しなくなるので、ためす詳細では使用しない-->
    <script type="text/javascript" src="../assets/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/jquery-migrate/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/js/t.js"></script>
    <script src="../assets/js/announce_toggle.js?2026021912" async></script>
    <!-- hamburgerMenu -->
    <script>
      $(document).ready(function () {
        // メインコンテンツをヘッダーの高さ分だけずらす
        var headerHeight = $('header').outerHeight();
        $('main').css('padding-top', headerHeight + 'px');
        $('#menu').css('margin-top', headerHeight + 'px');

        // MENUボタンがクリックされたときの処理
        $('#menu_btn').on('click', function () {
          if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(this).text('MENU');
            $('#menu').removeClass('open');
            $('.menu-background').removeClass('open');
          } else {
            $(this).addClass('active');
            $(this).text('CLOSE');
            $('#menu').addClass('open');
            $('.menu-background').addClass('open');
          }
        });

        // メニューの背景がクリックされたときの処理
        $('.menu-background').on('click', function () {
          if ($(this).hasClass('open')) {
            $(this).removeClass('open');
            $('#menu_btn').removeClass('active').text('MENU');
            $('#menu').removeClass('open');
          }
        });
      });
    </script>


  </body>

</html>
