<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = '申し込み内容確認 | Vサンプル｜Vポイントが貯まる・使える Vサンプル' %}
    {% assign page_css_ver = '2026021912' %}
    {% include 'head' %}
  </head>

  <body class="bootstrap-v3-3-7--scope itemDetail itemConfirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="main">
        <div class="contents cf contents--responsive">
          <div class="primary primary--responsive">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <!-- sub header -->
              <div class="t-sub-header">
                <h2>申し込み完了</h2>
              </div>
              <!-- /sub header -->
              <ul class="t-media">
                <li>
                  <div class="t-media__inner">
                    <div class="t-media__img">
                      <img src="../assets/images/project/2300_item_20260204_161934.png" width="80" alt="">
                    </div>
                    <div class="t-media__body">
                      <p class="t-media__body-title">
                        <span><em>ギフトコード10件B</em></span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="t-text">
                <p class="pt_10">
                  上記商品へのお申し込みが完了しました。ありがとうございました。<br>お申し込み内容については、<a href="https://stg.tsample.tsite.jp/mymenu/basic.php">申込履歴</a>からご確認いただけます。
                </p>
              </div>
              <div class="t-button">
                <div class="t-arrow_left">
                  <a href="https://stg.tsample.tsite.jp/">
                    <button class="t-button__default t-button__smallText">トップへ戻る</button>
                  </a>
                </div>
              </div>
            </div>

            <!-- footBnr -->
            <div class="footBnr">
              <ul>
              </ul>
            </div>
            <!-- footBnr / -->

            <!-- /id="F001" class="js-t-wrapper itemDetailBox"-->
          </div><!-- /primary primary--responsive -->
          <!-- secondary -->
          <div class="secondary">
            <!-- category -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">カテゴリ</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li class="t-sidemenu-sub-ttl">ためせる・もらえる</li>
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=4e058" title="食品"><img src="../assets/images/ico21.png" width="18" height="18" alt="">食品（9）</a></li>
                  <li class="t-sidemenu-sub-ttl">マイページ</li>
                  <li><a href="../mymenu/basic.html" title="マイページ">マイページ</a></li>
                </ul>
              </div>
            </div> <!-- project-schedule -->
            <!--  /project-schedule -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">お届け先</h1>
              <div class="container">
                <ul class="newsListWrap t-sidemenu-list">
                  <li><a href="https://stg.tsample.tsite.jp/detail/category.php?category=7b664" title="家族配送"><img src="../assets/images/ico29.png" width="18" height="18" alt="">家族配送（4）</a></li>
                </ul>
              </div>
            </div>
            <!-- /category -->
            <!-- non-review-list -->
            <div class="se-news t-sidemenu">
              <h1 class="heading">未投稿クチコミ　0件</h1>
              <div class="container">
                <ul class="cf">
                </ul>
                <a href="https://stg.tsample.tsite.jp/mymenu/basic.php?c=review" class="NotPostedList">
                  <p>クチコミ一覧へ</p>
                </a>
              </div>
            </div>
          </div><!-- /secondary -->
        </div><!-- /contents cf contents--responsive -->
      </div><!-- /main-->
      {% include 'footer' %}
    </div>
    <!--  //body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
    <script src="../assets/js/announce_toggle.js?2026021912" async></script>
    <!-- hamburgerMenu -->
    <script src="../assets/js/hamburger-menu.js"></script


  </body>

</html>
