<!doctype html>
<html lang="ja">
  <head>
    {% assign page_use_bootstrap = true %} {% assign page_title = '申し込み内容確認 | シェアフルモニター｜シェアフルポイントが貯まる・使える シェアフルモニター' %} {% include 'head' %}
  </head>

  <body id="pageTop" class="bootstrap-v3-3-7--scope itemDetail itemConfirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <main class="main" aria-labelledby="page-heading">
        <div class="contents cf contents--responsive">
          <div>
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <script language="Javascript" type="text/JavaScript">
                <!--
                var gflg = true;
                function go_next() {
                    var c = gflg;
                    if (c) {
                        gflg = false;
                        document.frm.submit();
                    }
                    return false;
                }

                function back() {
                    document.frm.action = "https://stg.tsample.tsite.jp/detail/tamesu2.php?project_id=fe6df";
                    document.frm.submit();
                }
                //-->
              </script>
              <div class="t-sub-header">
                <h2 id="page-heading">配送先・申し込み内容確認</h2>
              </div>
              <p style="padding: 15px; color: red; border: 1px solid red; font-size: 13px; text-align: center; margin-bottom: 12px">
                別タブなどで他のページを開くと、申し込みのお手続きがやり直しとなりますのでご注意ください。
              </p>
              <div id="select-address">
                <fieldset>
                  <div class="t-radio input radio">
                    <div class="t-table">
                      <table class="t-table__block" width="100%">
                        <tbody>
                          <tr>
                            <th>お名前</th>
                            <td>岩井　貴寛</td>
                          </tr>
                          <tr>
                            <th>フリガナ</th>
                            <td>イワイ　タカヒロ</td>
                          </tr>
                          <tr>
                            <th>郵便番号</th>
                            <td>134-0084</td>
                          </tr>
                          <tr>
                            <th>都道府県</th>
                            <td>東京都</td>
                          </tr>
                          <tr>
                            <th>市区町村・番地</th>
                            <td>江戸川区東葛西8-32</td>
                          </tr>
                          <tr>
                            <th>建物名・<br />部屋番号等</th>
                            <td>a</td>
                          </tr>
                          <tr>
                            <th>電話番号</th>
                            <td>03-5486-3530</td>
                          </tr>
                          <tr>
                            <th>メールアドレス</th>
                            <td>mod_develop+vsample202500105_2@cm-group.co.jp</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="t-crosshead">
                <div class="t-crosshead__inner">
                  <h2 class="t-crosshead__text">申し込み内容</h2>
                </div>
              </div>
              <ul class="t-media">
                <li>
                  <div class="t-media__inner">
                    <div class="t-media__img">
                      <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=商品画像" width="640" alt="" height="640" />
                    </div>
                    <div class="t-media__body">
                      <p class="t-media__body-title">
                        <span><em>ギフトコードK5 200件</em> </span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <form name="frm" id="frm" method="post" action="https://stg.tsample.tsite.jp/detail/order_sbps_pay.php" class="t-form">
                <div class="t-table">
                  <table class="t-table__block">
                    <tbody>
                      <tr>
                        <th>ギフトコード価格</th>
                        <td>198円</td>
                      </tr>
                      <tr>
                        <th>合計</th>
                        <td class="cell-strong">198円</td>
                      </tr>
                      <tr class="t-point-border">
                        <th>ご利用シェアフルポイント</th>
                        <td>
                          <input type="tel" max="198" min="0" id="use_point" name="use_point" style="width: 6rem; margin-bottom: 10px" placeholder="0" value="" />
                          <br /><button type="button" id="all_point" style="box-shadow: 1px 1px #000; margin-bottom: 10px; border-radius: 30px">全額シェアフルポイントで支払い</button>

                          <script>
                            $(function () {
                              $("#use_point").change(function () {
                                val_check();
                              });

                              $("#use_point").keyup(function () {
                                val_check();
                              });

                              $("#all_point").click(function () {
                                all_point();
                              });

                              $("#all_point_use").click(function () {
                                all_point_use();
                              });

                              // エンターキーを無効化
                              $("input").keydown(function (e) {
                                if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                                  return false;
                                } else {
                                  return true;
                                }
                              });

                              $("#use_point").trigger("change");
                            });

                            // 全額ポイント支払い
                            function all_point() {
                              $("#use_point").val($("#pay_sum_def").val());
                              val_check();
                            }

                            // ポイント全部使用
                            function all_point_use() {
                              $("#use_point").val(198);
                              val_check();
                            }

                            // 半角数値以外は認めない
                            function hankaku2Zenkaku(str) {
                              if (!String(str).match(/^\d+$/)) {
                                if ($("#use_point").val() != "") {
                                  $("#use_point").val("");
                                  window.alert("ポイント数に半角の数値以外は入力できません。");
                                }
                                return 0;
                              } else {
                                return 1;
                              }
                            }

                            function val_check() {
                              var tmp = $("#use_point").val();

                              // マイナス削除処理
                              tmp = tmp.replace("ー", "");
                              tmp = tmp.replace("−", "");

                              // ゼロ始まりの数値はあり得ないので、入力禁止
                              if (tmp[0] == "0") {
                                tmp = "";
                              }

                              $("#use_point").val(tmp);

                              // 半角数値以外は認めない
                              hankaku2Zenkaku($("#use_point").val());

                              // 合計金額計算
                              var pay_sum = $("#pay_sum_def").val() - $("#use_point").val();

                              // 0円以下にはできないようにする
                              if (pay_sum < 0) {
                                pay_sum = 0;
                                $("#use_point").val($("#pay_sum_def").val());
                              }

                              // 保有ポイント以上の処理はできないようにする
                              if ($("#use_point").val() > 198) {
                                pay_sum = $("#pay_sum_def").val() - 198;
                                $("#use_point").val(198);
                              }

                              // カンマ区切り表示に変更
                              var v_pay_sum = new Intl.NumberFormat("ja-JP").format(pay_sum);
                              // 計算結果を反映
                              $("#pay_sum").html(v_pay_sum + "");

                              if (pay_sum == 0) {
                                $("#pay_type").html("ポイント払い");
                                $("#card_number").css("display", "none");
                              } else {
                                $("#pay_type").html("クレジットカード一括払い");
                                $("#card_number").css("display", "");
                              }

                              if (pay_sum < 10 && pay_sum != 0) {
                                $("#submit_btn").html('<button type="button" class="t-button__default t-button__smallText t-button--disable">決済金額をご確認ください</button>');
                                $("#err_msg").html(
                                  "シェアフルポイントをご利用の場合、「合計」が1～9円となる決済ができません。0円または、10円以上になるようにシェアフルポイントのご利用数を変更してください。"
                                );
                              } else {
                                $("#submit_btn").html('<button onclick="javascript:return go_next();" class="t-button__green t-button__smallText t-button__blue">申し込みを確定する</button>');
                                $("#err_msg").html("");
                              }
                            }
                          </script>
                          <br /><span>(シェアフルポイント：10,000ポイント保有)</span>
                        </td>
                      </tr>
                      <tr class="t-point-border">
                        <th>合計</th>
                        <input type="hidden" id="pay_sum_def" value="198" />
                        <td class="cell-strong">
                          <span class="t-point__point"><span id="pay_sum" class="t-point__point__num">198</span>円（税込）</span><br />
                          <span style="" class="t-table__t-point__notice" id="pay_sum_msg"
                            >シェアフルポイントをご利用の場合、「合計」が1～9円となる決済ができません。「合計」が0円または、10円以上になるようにシェアフルポイントを利用してください。</span
                          >
                        </td>
                      </tr>
                      <tr>
                        <th>獲得シェアフルポイント<br /></th>
                        <td>0 ポイント</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="t-table">
                  <table class="t-table__block">
                    <tbody>
                      <tr>
                        <th>支払方法</th>
                        <td id="pay_type">クレジットカード一括払い</td>
                      </tr>
                      <tr id="card_number">
                        <th>カード番号</th>
                        <td>****-****-****-0004</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="border: solid; border-color: red; color: red; padding: 1rem">
                  <p style="font-weight: bold; margin-bottom: 15px">特定商取引の表示についてのご案内</p>
                  <p>◆支払の時期・方法について</p>
                  <p style="margin-bottom: 0.5rem">各クレジットカード会社の引き落とし日及び支払い方法に準ずる</p>
                  <p>◆引渡時期・提供時間</p>
                  <p style="margin-bottom: 0.5rem">各商品詳細ページでご案内している発送予定日から約3日以内。※お届け日、時間指定は承っておりません</p>
                  <p>◆申込みの期間</p>
                  <p style="margin-bottom: 0.5rem">2026年01月08日　から 2028年01月08日</p>
                  <p>◆申込みの撤回・解除に関する事項</p>
                  <p style="margin-bottom: 2rem">
                    会員様都合でのご返品はお受け出来ません。 万が一、商品が破損していた場合には、商品到着後3日以内に事務局へのメールにてお問い合わせください。
                    商品破損の場合、ご返品の際の送料およびご返金に必要な手数料は弊社の負担とさせていただきます）。
                  </p>

                  <p><a href="https://tsample.tsite.jp/contents/trade/index.php">&gt;特定商取引に基づく表記</a></p>
                </div>

                <div class="t-text" style="margin-top: 0">
                  <div class="t-text__small monitor-text__red">
                    <p>※こちらの商品の発送は、1個口で発送になります。</p>
                  </div>
                </div>
                <input type="hidden" name="project_id" value="fe6df" />
                <input type="hidden" name="amount" value="198" />
                <input type="hidden" name="pay" value="5" />
                <input type="hidden" name="commodity" value="" />
                <input type="hidden" name="ship_option" value="" />

                <div class="t-button" id="submit_btn">
                  <button onClick="javascript:return go_next();" class="t-button__green t-button__smallText t-button__blue" id="submit_btn">申し込みを確定する</button>
                </div>
                <div style="text-align: center; color: red"><span id="err_msg"></span></div>
                <div class="t-button">
                  <div class="t-arrow_left">
                    <button class="t-button__default t-button__smallText" onClick="javascript:back()">戻る</button>
                  </div>
                </div>
                <input type="hidden" name="order_tmp_id" value="2131" />
              </form>
              <!-- /contents -->
            </div>

            <div class="footBnr">
              <ul></ul>
            </div>
            <!-- /footBnr -->

            <!-- /itemDetailBox -->
          </div>
        </div>
        <!-- /contents -->
      </main>
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
