<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_use_bootstrap = true %}
    {% assign page_title = '申し込み内容確認 | Vサンプル｜Vポイントが貯まる・使える Vサンプル' %}
    {% include 'head' %}
  </head>

  <body class="bootstrap-v3-3-7--scope itemDetail itemConfirm">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="main">
        <div class="contents cf contents--responsive">
          <div class="">
            <div id="F001" class="js-t-wrapper itemDetailBox">
              <div class="t-sub-header">
                <h2>申し込み完了</h2>
              </div>
              <!-- /sub header -->
              <ul class="t-media">
                <li>
                  <div class="t-media__inner">
                    <div class="t-media__img">
                      <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=商品画像" width="640" alt="" height="640">
                    </div>
                    <div class="t-media__body">
                      <p class="t-media__body-title">
                        <span><em>ギフトコード10件B</em></span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="t-text">
                <p class="pt_10">
                  上記商品へのお申し込みが完了しました。ありがとうございました。<br>お申し込み内容については、<a href="https://stg.tsample.tsite.jp/mymenu/basic.php">申込履歴</a>からご確認いただけます。
                </p>
              </div>
              <div class="t-button">
                <div class="t-arrow_left">
                  <a href="https://stg.tsample.tsite.jp/">
                    <button class="t-button__default t-button__smallText">トップへ戻る</button>
                  </a>
                </div>
              </div>
            </div>

            <!-- footBnr -->
            <div class="footBnr">
              <ul>
              </ul>
            </div>
            <!-- /footBnr -->

            <!-- /itemDetailBox -->
          </div>
        </div><!-- /contents -->
      </div><!-- /main-->
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>

</html>
