<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'シェアフルモニター | ポイント決済用少額 クチコミ一覧' %} {% include 'head' %}
  </head>

  <body id="pageTop" class="itemDetail t-mymenu">
    <div class="body-wrapper">
      {% include 'header' %}
      <main aria-labelledby="page-heading">
        <div class="l-container">
          <div>
            <div class="t-support-menu__wrapper">
              <div class="heading xx-large enclosing-btn with-icon mb-[16px]">
                <h1 id="page-heading">
                  <span class="ico-wrap"><img alt="" height="79" src="../assets/images/icon-mymenu.png" width="64" /></span>ポイント決済用少額 - クチコミ一覧
                </h1>
              </div>
              <section class="hb-ms-scedule" id="content">
                <div class="schedule-box mb-5">
                  <div class="userinfo-box">
                    <div class="hb-ms-ctr">
                      <h3>
                        <span class="comment itemicon item-ico-abs-2">クチコミ</span>
                        <img src="../assets/images/profile_icon.gif" alt="ポイント決済用少額" width="72" height="72" />
                      </h3>

                      <p class="hb-ms-detail">投稿日時：2026-03-20 15:25:37</p>
                      <p class="review-line"></p>
                      <p class="review-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dicta nulla? Molestias vero cupiditate modi nam non, amet impedit doloribus. Accusamus explicabo consectetur
                        veritatis debitis hic rem exercitationem saepe?
                      </p>
                      <p class="good-btn-wrap">
                        <a href="javascript:void(0);" id="goodBtn100" class="goodBtn moreGood" onclick="sendGoodUpTbCtDetail('41e20', '100', '586f780d699563d0', 0, event)">Good</a>
                        <span class="counter c-red" id="goodnum100"></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="schedule-box mb-5">
                  <div class="userinfo-box">
                    <div class="hb-ms-ctr">
                      <h3>
                        <span class="comment itemicon item-ico-abs-2">クチコミ</span>
                        <img src="../assets/images/profile_icon.gif" alt="ポイント決済用少額" width="72" height="72" />
                      </h3>

                      <p class="hb-ms-detail">投稿日時：2026-03-06 11:04:33</p>
                      <p class="review-line"></p>
                      <p class="review-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dicta nulla? Molestias vero cupiditate modi nam non, amet impedit doloribus. Accusamus explicabo consectetur
                        veritatis debitis hic rem exercitationem saepe?
                      </p>
                      <p class="good-btn-wrap">
                        <a href="javascript:void(0);" id="goodBtn99" class="goodBtn moreGood" onclick="sendGoodUpTbCtDetail('41e20', '99', '88f8d35944dedc35', 0, event)">Good</a>
                        <span class="counter c-red" id="goodnum99"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <div id="msgwindow"></div>
              <!-- paging -->
              <table class="mx-auto mb-5">
                <tbody>
                  <tr>
                    <td>
                      <form name="formbase" action="https://stg.tsample.tsite.jp/detail/review_list.php" method="get">
                        <ul class="pagination">
                          <li><a class="active ui-link">1</a></li>
                        </ul>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- /paging -->
              <div class="t-button t-button2">
                <button type="button" id="order-button" class="c-button c-button--orange">詳しい商品情報はこちら</button>
              </div>
              <div class="t-button t-button2" class="mt-8">
                <button type="button" id="review-button" class="c-button c-button--review">クチコミを再投稿する</button>
              </div>
            </div>
            <form name="senddataform" action="review_list.html" method="get">
              <input type="hidden" name="project_id" value="41e20" />
              <input type="hidden" name="p" value="0" />
              <input type="hidden" name="d" value="10" />
            </form>
          </div>
        </div>
      </main>
      {% include 'footer' %}
    </div>
    <script src="../assets/js/goodup.js"></script>
    <script>
      $(function () {
        $(document).on("click", "[id^='order-button']", function () {
          window.location.href = "tamesu.html?project_id=41e20";
        });
        $(document).on("click", "[id^='review-button']", function () {
          window.location.href = "cmt.html?project_id=41e20#anchor01";
        });
      });
    </script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
