/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
html {
  color: #313131;
  background-color: #fff;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
a {
  color: #313131;
  text-decoration: none;
}
a:hover,
a:active {
  color: #393;
}
.blockLink {
  cursor: pointer;
}
.blockLink:hover,
.blockLink:active {
  color: #393;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.blockLink:hover .thumbnail,
.blockLink:hover .banner,
.blockLink:active .thumbnail,
.blockLink:active .banner {
  opacity: 0.6;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.blockLink:hover a,
.blockLink:active a {
  color: #393;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: underline;
}
input,
label {
  cursor: pointer;
}
