.mamahalo-pickup-items--sp-wrapper {
  padding-top: 12px;
}

.mamahalo-pickup-items .mamahalo-pickup-items__hgroup {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.mamahalo-pickup-items .mamahalo-pickup-items__hgroup__title {
  display: flex;
  align-items: center;
  color: #00b6cd;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
}
@media screen and (min-width: 375px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__hgroup__title {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__hgroup__title {
    font-size: 19.2px;
  }
}
.mamahalo-pickup-items .mamahalo-pickup-items__hgroup__button {
  max-width: 112px;
  height: auto;
}
@media screen and (min-width: 375px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__hgroup__button {
    max-width: 120px;
  }
}
@media screen and (min-width: 768px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__hgroup__button {
    max-width: 186px;
  }
}
.mamahalo-pickup-items .mamahalo-pickup-items__hgroup__icon {
  margin-right: 3px;
  width: 24px;
  height: 24px;
  fill: #00b6cd;
}
@media screen and (min-width: 375px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__hgroup__icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__hgroup__icon {
    margin-right: 6px;
    width: 40px;
    height: 40px;
  }
}
.mamahalo-pickup-items .mamahalo-pickup-items__item-name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  width: calc(100% - 18px);
  color: #595959;
  line-height: 1.25;
  -webkit-line-clamp: 2;
}
@media screen and (min-width: 768px) {
  .mamahalo-pickup-items .mamahalo-pickup-items__item-name {
    width: calc(100% - 24px);
  }
}
.mamahalo-pickup-items .p-card__detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px 5.07px 6px 6px;
}
@media screen and (min-width: 768px) {
  .mamahalo-pickup-items .p-card__detail {
    padding: 10px 3.615px 10px 10px;
  }
}
.mamahalo-pickup-items .p-card__detail .c-icon--clip {
  width: 18px;
  font-size: 0;
}
.mamahalo-pickup-items.mamahalo-pickup-items--pc {
  margin-top: 32px;
  padding: 6px 24px 12px;
  border: 2px solid #e7e7ea;
  background-color: #f9f9f9;
}
.mamahalo-pickup-items.mamahalo-pickup-items--sp {
  margin-right: 6px;
  margin-bottom: 12px;
  margin-left: 6px;
  padding: 6px 8px 12px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 768px) {
  .mamahalo-pickup-items.mamahalo-pickup-items--sp {
    margin-right: auto;
    margin-left: auto;
    max-width: 756px;
  }
}
.mamahalo-pickup-items .mamahalo-pickup-items__container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3px;
  margin-left: -3px;
}
.mamahalo-pickup-items .mamahalo-piciup-items__col {
  margin-top: 6px;
  padding-right: 3px;
  padding-left: 3px;
  width: 33.3333%;
}
.mamahalo-pickup-items .mamahalo-piciup-items__col:nth-child(-n+3) {
  margin-top: 0px;
}
.mamahalo-pickup-items .mamahalo-pickup-item {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  background-color: #f9f9f9;
}
.mamahalo-pickup-items .mamahalo-pickup-item img {
  width: 100%;
  height: auto;
}
.mamahalo-pickup-items .mamahalo-pickup-item .p-card__detail {
  display: flex;
}
.mamahalo-pickup-items .mamahalo-pickup-items__col .p-card--top {
  margin-top: 0px;
}
.mamahalo-pickup-items .mamahalo-pickup-items__col .p-card--top:nth-child(even) {
  margin-top: 10px;
}
.mamahalo-pickup-items .mamahalo-pickup-items__col .p-card--top .c-icon--favorite {
  right: unset;
  bottom: unset;
}
.mamahalo-pickup-items .mamahalo-pickup-items__clip-container {
  width: 24px;
  height: 24px;
}
