@charset "UTF-8";

.c-section-heading {
  display: flex;
  align-items: center;
  border-top: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  background: #eee;
  padding: 0 5px 0 10px;
  height: 38px;
}

.c-section-heading__title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  padding-right: 3px;
  min-width: 0;
}

body {
  overflow-x: hidden;
}

.t-table {
  padding: 10px;
}

.t-table .t-table__block {
  margin: 0 auto;
  border: 1px solid #e2e2e2;
}

.t-table .t-table__block tbody th,
.t-table .t-table__block tbody td {
  text-align: left;
  word-break: break-all;
}

.t-table .t-table__block tbody th {
  width: 80px;
}

.t-button__group li {
  display: table-cell;
}

.t-bx__viewport {
  margin-top: 20px;
}

details,
footer,
header,
hr,
menu,
nav,
section {
  display: block;
}

.c-section-heading {
  display: -webkit-box;
}

.c-section-heading__title {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.t-form__input {
  margin-top: 10px;
}

.monitor-text__red {
  color: #d90000;
}

.cell-strong {
  background: #fffad9 !important;
  color: #f76b1f !important;
}
