.fs-15 {
  font-size: 12px;
}

.fs-16 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.br {
  border-right: 1px dotted #e5e5e5;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

/* properties
---------------------------------------------------------------------------------------------------- */
.monitor-attention__box {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fceae0;
}

.c-section-heading {
  height: auto !important;
  padding: 0.5em !important;
}

.enq-section-heading {
  background: #fffad9 !important;
}

.select-box {
  margin: 10px;
}

.select-area input {
  display: none;
}

.select-area input[type="text"],
.select-area input[type="password"] {
  display: block;
}

.select-area label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 2px;
  color: #3e4956;
  font-size: 14px;
  line-height: 1;
}

.select-area label:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -11px;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  border-radius: 22px;
  background: #fff;
  border: 1px solid #a4a4a4;
}

.select-area input[type="radio"]:checked + label:after {
  position: absolute;
  content: "";
  top: 50%;
  left: -4px;
  width: 10px;
  height: 10px;
  margin-top: -4px;
  border-radius: 10px;
  background: #333;
}

.telephone-area ul {
  display: table;
}
.telephone-area li {
  display: table-cell;
}

.t-table {
  padding: 10px;
}

.t-form__input {
  margin-top: 10px;
}

input[type="checkbox"] {
  display: none;
}

.checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 2px 42px;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
}
.checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -10px;
  width: 22px;
  height: 22px;
  border: 1px solid #a4a4a4;
  border-radius: 6px;
  content: "";
}

.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;
  margin-top: -7px;
  width: 7px;
  height: 11px;
  border-right: 4px solid #333;
  border-bottom: 4px solid #333;
  content: "";
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked + .checkbox:before {
  opacity: 1;
}

.t-form__input {
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  overflow: hidden;
  height: 30px;
  background: #fff;
}

.t-form__input input {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0 10px;
  font-size: 14px;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.t-button__orange {
  color: #fff;
  border: 1px solid #c77777;
  background: #9a3c00;
  background: linear-gradient(#ea8200 0%, #a93a00 100%);
  background: -webkit-linear-gradient(#ea8200 0, #a93a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ea8200), to(#a93a00));
  font-size: 16px;
  min-width: 250px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
}

.pageTopScroll {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.pageTopScroll.is-visible {
  opacity: 1;
}

/* detail/tamesu */
.t-table .t-table__block tbody th,
.t-table .t-table__block tbody td {
  text-align: left;
  word-break: break-all;
}
.p-item-detail {
  margin-top: 16px;
  max-width: 640px;
  border: 1px solid #e2e2e2;
  margin-left: auto;
  margin-right: auto;
}
.cost-em {
  color: #f76b1f;
}
/* /detail/tamesu */
