@charset "UTF-8";
/*
PC, SP 共通のCSS

$xxs:  "only screen and (max-width:399px)"; // 399px or less
$xs:  "only screen and (min-width:400px) and (max-width:640px)"; // 400px to 640px
$sm:  "only screen and (min-width:641px) and (max-width:960px)"; // 641px to 960px
$md:  "only screen and (min-width:961px)"; // 961px or more
*/
/*
  @media (min-width: 1270px) // 1295px 以上
  {
    max-width: 1280px;
  }

  bootstrap

  .col-xs 975px 以下
  .col-sm 975px ~ 1294px
  .col-md 1295px ~ 1614px
  .col-lg 1615px 以上

  参考サイズ

  Mobile S: 320px;
  Mobile M: 375px;
  Mobile L: 425px;
  Tablet: 768px;
  Laptop: 1024px;
  Laptop L: 1440px;
  4k: 2560px;


*/
.cardContainer {
  border-collapse: collapse;
}
@media (max-width: 974px) {
  .cardContainer {
    max-width: 702px;
    margin-right: auto;
    margin-left: auto;
  }
}
.cardContainer--sp {
  padding-left: 20px;
  padding-right: 20px;
}
.cardContainer--sp .col-md-3,
.cardContainer--sp .col-lg-3,
.cardContainer--sp .col-sm-4,
.cardContainer--sp .col-xs-6 {
  padding-right: 5px;
  padding-left: 5px;
}
.cardContainer--pc-top-page {
  border: none;
  background: none;
}
.cardContainer .row .card {
  position: relative;
  display: table-cell;
  border: 1px dotted #e6e4dd;
}
.cardContainer .row .card .count {
  font-size: 14px;
}
.cardContainer.tame {
  display: table;
}
.cardContainer .thumbnail {
  width: 100%;
  height: auto;
}
.cardContainer.mora {
  position: relative;
  display: block;
  width: 448px;
  min-height: 152px;
  padding: 20px 10px 10px 180px;
}
.cardContainer.mora .item {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 160px;
}
.cardContainer.mora .number {
  font-size: 14px;
  display: inline;
}

.lt-ie8 .cardContainer {
  border: none;
}
.lt-ie8 .cardContainer .row {
  overflow: hidden;
}
.lt-ie8 .cardContainer .row .card {
  float: left;
  width: 191px;
}
.lt-ie8 .cardContainer.ta-list .card {
  width: 138px;
}

/* badge
---------------------------------------------------------*/
.badge {
  position: absolute;
  height: auto;
  border-radius: 0;
}
.badge.cardBadge {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  top: 0;
  left: 0;
  padding: 2px 0.5em;
  color: #fff;
  border-radius: 0 0 3px 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}
@media (min-width: 1270px) {
  .badge.cardBadge {
    font-size: 11px;
  }
}
@media (min-width: 1615px) {
  .badge.cardBadge {
    font-size: 12px;
  }
}
.badge.new {
  background-color: #ff451f;
}
.badge.few {
  background-color: #36f;
}
.badge.family {
  background-color: #14b111;
}
.badge.office {
  background-color: #00b594;
}
.badge.recommend {
  background-color: #ff398d;
}
.badge.pet {
  background-color: #d45b07;
}
.badge.report {
  background-color: #ff7f0e;
}
.badge.already {
  background-color: #919191;
}
.badge.oubo {
  background-color: #ff451f;
}
.badge.post {
  background-color: #f63b4d;
}
.badge.deadline {
  background-color: #eb47af;
}
.badge.return {
  background-color: #11b0dd;
}
.badge.premium {
  background-color: #b18d36;
}

/* /badge
---------------------------------------------------------*/
.c-footer-cart {
  font-size: 13px;
  line-height: 20px;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 84px;
  width: 60px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 50%;
  background-color: #a985eb;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 5px;
}
@media (min-width: 960px) {
  .c-footer-cart {
    right: auto;
    margin-left: 580px;
  }
}

.icoBar06 {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.5;
  display: inline-block;
  padding: 0 0.2em;
  word-break: keep-all;
  color: #fff;
}
.icoBar06.xs {
  font-size: 10px;
  line-height: 15px;
}
.icoBar06.md {
  font-size: 13px;
  line-height: 25px;
}
.icoBar06.new {
  background-color: #ff451f;
}
.icoBar06.few {
  background-color: #36f;
}
.icoBar06.family {
  background-color: #14b111;
}
.icoBar06.friend {
  background-color: #e38c10;
}
.icoBar06.office {
  background-color: #00b594;
}
.icoBar06.recommend {
  background-color: #ff398d;
}
.icoBar06.pet {
  background-color: #d45b07;
}
.icoBar06.report {
  background-color: #ff7f0e;
}
.icoBar06.repeat {
  background-color: #524d50;
}
.icoBar06.already {
  background-color: #919191;
}
.icoBar06.oubo {
  background-color: #ff451f;
}
.icoBar06.post {
  background-color: #f63b4d;
}
.icoBar06.deadline {
  background-color: #eb47af;
}
.icoBar06.return {
  background-color: #11b0dd;
}
.icoBar06.matomete {
  background-color: #a985eb;
}



.c-icon--favorite {
  position: absolute;
  height: auto;
  border-radius: 0;
  color: #8f837c;
  font-size: 24px;
  line-height: 1;
}
.c-icon--favorite:link,
.c-icon--favorite:visited {
  color: #8f837c !important;
}
.c-icon--favorite:active {
  color: #d6006c !important;
}
.c-icon--favorite--is-active {
  color: #d6006c;
}
.c-icon--favorite--is-active:link,
.c-icon--favorite--is-active:visited {
  color: #d6006c !important;
}
.c-icon--favorite--is-active:active {
  color: #8f837c !important;
}

.c-icon--heart {
  width: 24px;
  height: auto;
}

.p-project-lists img.c-icon--heart {
  width: 24px;
}

.overview.detail .container .col-l img.c-icon--heart {
  margin: 0;
  width: 24px;
}

.p-matomete-about {
  font-size: 14px;
  line-height: 1.75;
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 960px) {
  .p-matomete-about {
    font-size: 18px;
    padding: 40px;
  }
}
.p-matomete-about ul {
  list-style: none;
}
.p-matomete-about
  .p-matomete-about__upper-content.p-matomete-about__upper-content-row {
  margin-right: -10px;
  margin-left: -10px;
}
.p-matomete-about
  .p-matomete-about__upper-content.p-matomete-about__upper-content-row:after {
  display: block;
  clear: both;
  content: " ";
}
.p-matomete-about
  .p-matomete-about__upper-content
  .p-matomete-about__upper-content-col {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (max-width: 480px) {
  .p-matomete-about
    .p-matomete-about__upper-content
    .p-matomete-about__upper-content-col {
    float: none;
    width: 100%;
  }
}
.p-matomete-about .p-matomete-about__upper-content .icoBar06.matomete.xs {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.p-matomete-about .p-matomete-about__card {
  font-size: 14px;
  min-height: 241px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1e7fd;
}
@media (max-width: 480px) {
  .p-matomete-about .p-matomete-about__card {
    min-height: auto;
  }
}
.p-matomete-about .p-matomete-about__downer-content {
  font-size: 14px;
  margin-top: 40px;
  color: #ff3c00;
}
.p-matomete-about .p-matomete-about__downer-content li {
  margin-top: 0.75em;
  margin-left: 1em;
  text-indent: -1em;
}
.p-matomete-about .img-responsive {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
.p-matomete-about .img-responsive.img-responsive--matomete-bin-figure {
  max-width: 480px;
}
.p-matomete-about .img-responsive.img-responsive--matomete-bin-figure-2 {
  max-width: 170px;
}
.p-matomete-about .img-responsive.img-responsive--matomete-bin-figure-3 {
  max-width: 170px;
}
.p-matomete-about .img-responsive.img-responsive--matomete-bin-figure-4 {
  max-width: 170px;
}

. .p-premium {
  margin-bottom: 5px;
}

.p-premium__status {
  color: #b18d36;
}
.p-premium__status.p-premium__status__b {
  font-weight: bold;
}
.p-premium__status a:link,
.p-premium__status a:visited {
  text-decoration: underline;
  color: #b18d36;
}
.p-premium__status a:active,
.p-premium__status a:hover {
  text-decoration: none;
  color: #b18d36;
}

.p-premium__ico {
  font-size: 11px;
  line-height: 18px;
  display: inline-block;
  padding-left: 23px;
  background-image: url(https://image.moratame.net/images/common/icon_premium.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
}

.p-photocolle__comp {
  font-size: 14px;
  line-height: 1.75;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
@media (min-width: 640px) {
  .p-photocolle__comp {
    font-size: 16px;
    padding: 40px;
  }
}
@media (min-width: 960px) {
  .p-photocolle__comp {
    font-size: 16px;
    padding: 60px;
  }
}
.p-photocolle__comp .p-photocolle__comp__thanks-copy {
  font-size: 18px;
  color: #ff9558;
}
@media (min-width: 640px) {
  .p-photocolle__comp .p-photocolle__comp__thanks-copy {
    font-size: 21px;
  }
}
@media (min-width: 960px) {
  .p-photocolle__comp .p-photocolle__comp__thanks-copy {
    font-size: 27px;
  }
}
.p-photocolle__comp .p-photocolle__comp__thanks-message {
  margin-top: 20px;
}
.p-photocolle__comp .p-photocolle__comp__banner {
  margin-top: 20px;
}

.p-favorite-list {
  border-width: 0 0 5px;
  border-style: solid;
}
.p-favorite-list--tame {
  border-color: #3494d2;
}
.p-favorite-list--tame .p-favorite-list__tab__label--mora {
  background-color: #b1b1b1;
}
.p-favorite-list--tame .p-favorite-list__tab__label--photo {
  background-color: #b1b1b1;
}
.p-favorite-list--mora {
  border-color: #eb6519;
}
.p-favorite-list--mora .p-favorite-list__tab__label--tame {
  background-color: #b1b1b1;
}
.p-favorite-list--mora .p-favorite-list__tab__label--photo {
  background-color: #b1b1b1;
}
.p-favorite-list--photo {
  border-color: #67c336;
}
.p-favorite-list--photo .p-favorite-list__tab__label--mora {
  background-color: #b1b1b1;
}
.p-favorite-list--photo .p-favorite-list__tab__label--tame {
  background-color: #b1b1b1;
}
.p-favorite-list__tab {
  max-width: 960px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 975px) {
  .p-favorite-list__tab {
    max-width: 100%;
  }
}
.p-favorite-list__tab a:link,
.p-favorite-list__tab a:active,
.p-favorite-list__tab a:visited,
.p-favorite-list__tab a:hover {
  color: #fff;
}
.p-favorite-list__tab li {
  display: inline-block;
}
.p-favorite-list__tab__label {
  font-size: 11px;
  line-height: 1;
  display: block;
  width: 100px;
  padding: 10px 0 7px;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.p-favorite-list__tab__label--tame {
  background-color: #3494d2;
}
.p-favorite-list__tab__label--mora {
  background-color: #eb6519;
}
.p-favorite-list__tab__label--photo {
  background-color: #67c336;
}

.paid-point-exchange--attention {
  margin: 10px 0;
  border: 3px solid #ff0004;
  padding: 15px 20px;
}
.paid-point-exchange--attention .paid-point-unexchangeable-img {
  width: 100%;
  display: block;
  padding: 10px 0;
}
.paid-point-exchange--attention-sp {
  margin: 10px;
  border: 2px solid #ff0004;
  padding: 5px;
}
.paid-point-exchange--attention-sp .paid-point-unexchangeable-img {
  width: 100%;
  display: block;
  padding: 5px 0;
}

.dv_recommend {
  width: 100%;
  max-width: 492px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.dv_recommend::before,
.dv_recommend::after {
  display: table;
  content: "";
}
.dv_recommend::after {
  clear: both;
}
.dv_recommend .dv_rc_title {
  border-width: 0 0 5px;
  border-style: solid;
  border-color: #f19ec2;
}
.dv_recommend .dv_rc_title::after {
  font-size: 21px;
}
.dv_recommend .dv_rc_title::before {
  font-family: "Font Awesome 5 Solid";
  display: none;
}
.dv_recommend .dv_rc_title .svg-inline--fa {
  font-size: 21px;
  margin-right: 5px;
  color: #c6b777;
}
.dv_recommend .dv_rc_items {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 33.3333%;
  margin-top: 10px;
  padding: 0 2px;
}
.dv_recommend .dv_rc_items .dv_rc_img {
  position: relative;
}
.dv_recommend .dv_rc_items .dv_rc_img img {
  width: 100%;
  height: auto;
}
.dv_recommend .dv_rc_items .dv_rc_name {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 5px;
}

.p-card--top {
  position: relative;
  margin-top: 20px;
  border: 1px solid #e7e7ea;
  background-color: #fdfcfb;
}
.p-card--top .c-icon--favorite {
  right: 10px;
  bottom: 10px;
}
.p-card--top--sp {
  box-sizing: content-box;
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
}
.p-card--top--mora {
  position: relative;
  box-sizing: content-box;
  min-height: 158px;
}
.p-card--top--mora li {
  display: inline-block;
  margin-right: 10px;
}

.p-card--top--mitsu {
  position: relative;
  box-sizing: content-box;
  min-height: 158px;
  padding: 20px 20px 20px 220px;
}
.p-card--top--mitsu .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 198px;
}

.p-card--top--maga {
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  height: 130px;
}

.maga-site__link.maga--sdgs {
  width: 150px;
}

.p-card--top--maga:hover img {
  opacity: 0.5;
  transition: 0.7s;
}

.p-card--top--maga:hover .p-card__detail {
  text-decoration: underline;
}

.p-card--top--maga img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.maga-site__link {
  position: absolute;
  top: 20px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  z-index: 999;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2;
  padding: 2px 0.5em;
  border-radius: 0;
}
.maga-site__link p {
  color: #fff;
}

.maga-site__link:hover {
  opacity: 0.5;
  transition: 0.7s;
}

.maga-site__link a:hover {
  text-decoration-color: #fff;
}

.maga-site__link.maga--beauty {
  background-color: #ddb72a;
}
.maga-site__link.maga--sdgs {
  background-color: #00a6d9;
}
.maga-site__link.maga--robamimi {
  background-color: #50ab69;
}

.maga-site__date {
  text-align: right;
  font-size: 10px;
  position: absolute;
  right: 10px;
  bottom: -35px;
}

.maga-site__title {
  font-weight: bold;
  font-size: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.p-card__detail-maga {
  position: absolute;
  height: 80px;
  top: 0;
  right: 0;
  width: 70%;
  margin-top: 10px;
}

.maga-site__br {
  display: none;
}

@media (max-width: 640px) {
  .p-card--top--maga {
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    height: 75px;
  }

  .p-card__detail-maga {
    line-height: 1.2;
    height: 65px;
  }
  .maga-site__title {
    font-weight: bold;
    font-size: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .maga-site__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    width: fit-content;
    z-index: 999;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.2;
    padding: 2px 0.5em;
    border-radius: 0;
  }

  .maga-site__link.maga--sdgs {
    width: fit-content;
  }

  .col-moramaga {
    position: relative;
  }

  .maga-site__link p {
    color: #fff;
    font-size: 8px;
  }

  .maga-site__date {
    bottom: 5px;
  }
}

@media (min-width: 1270px) {
  .p-card--top--maga {
    min-height: 280px;
    height: 120px;
  }
  .maga-site__link.maga--sdgs {
    width: 150px;
  }
  .p-card--top--maga img {
    width: 100%;
    height: 197px;
  }

  .maga-site__link {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 10px;
    right: auto;
    width: fit-content;
    z-index: 999;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.2em;
    padding: 2px 0.5em;
    border-radius: 0 0 3px 0;
  }

  .p-card__detail-maga {
    position: static;
    height: 80px;
    width: 100%;
    margin-top: 0;
  }
  .maga-site__br {
    display: block;
  }

  .maga-site__date {
    bottom: 5px;
  }
}

@media (min-width: 1615px) {
  .p-card--top--maga {
    position: relative;
    box-sizing: content-box;
    min-height: 380px;
    overflow: hidden;
  }

  .maga-site__link.maga--sdgs {
    width: 150px;
  }

  .p-card--top--maga img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }

  .maga-site__link {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 10px;
    right: auto;
    width: fit-content;
    z-index: 999;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.2em;
    padding: 2px 0.5em;
    border-radius: 0 3px 0 0;
  }

  .maga-site__date {
    text-align: right;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: auto;
    left: auto;
    bottom: 5px;
  }

  .maga-site__title {
    font-weight: bold;
    font-size: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .p-card__detail-maga {
    position: static;
    height: 100px;
    width: 100%;
  }
  .maga-site__br {
    display: block;
  }
}

.p-card__detail {
  font-size: 12px;
  padding: 10px;
}
.p-card__detail--sp {
  padding: 8px 2px 0;
}
@media (min-width: 1615px) {
  .p-card__detail {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.p-card__detail--tw-ranking {
  height: auto;
}
.p-card__detail--tw-tame-list {
  height: 130px;
}
.p-card .count {
  font-size: 14px;
}
.p-card .thumbnail {
  width: 100%;
  height: auto;
}

.rss-faq {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #8bbc00;
}
.rss-faq__para {
  font-size: 14px;
  line-height: 1.75;
}
.rss-faq__para--1 {
  margin-bottom: 10px;
  padding: 0 20px 10px;
  border-bottom: 1px solid #8bbc00;
}
.rss-faq__para--2 {
  margin-top: 10px;
  padding: 0 20px;
}
.rss-faq__h3 {
  margin: 10px 0;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.2;
}
.rss-faq__ul {
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.js-menu__link {
  position: relative;
}
.js-menu__link::after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: #666;
  content: "\f13a";
  font-family: FontAwesome;
}
.js-menu__link.active::after {
  content: "\f139";
}
.js-menu__link {
  padding: 10px 30px 10px 20px;
  border-bottom: 1px solid #ddd;
  background: #eee;
  line-height: 1.5;
}

.js-submenu__link {
  position: relative;
}
.js-submenu__link::after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: #666;
  content: "\f13a";
  font-family: FontAwesome;
}
.js-submenu__link.active::after {
  content: "\f139";
}
.js-submenu__link {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background: #fafafa;
  text-indent: 2em;
  line-height: 1;
}

.submenu {
  display: none;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  line-height: 1.75;
}

.submenu_child {
  display: none;
  background: #fff;
}

.faqLink {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
}

.c-card--aside {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebebeb;
  color: #212121;
  font-size: 12px;
  line-height: 1.75;
}
.c-card--aside p {
  margin-left: 1ex;
  text-indent: -1ex;
}

.err-mail-wrapper {
  padding: 0 20px;
}

.err-mail {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid red;
}
.err-mail h3 {
  font-weight: normal;
  font-size: 16px;
}
.err-mail p {
  margin-top: 1ex;
  font-size: 14px;
  line-height: 1.75;
}
.err-mail a:link,
.err-mail a:hover,
.err-mail a:visited,
.err-mail a:active {
  color: #0085c3;
}

.p-thanks {
  font-size: 15px;
  line-height: 1.75;
}
.p-thanks__attention {
  padding: 15px 20px;
  border-left: 3px solid #f44336;
  background-color: #ffebee;
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  line-height: 1.75;
}
.p-thanks__block {
  padding: 0;
}
@media (max-width: 960px) {
  .p-thanks__block {
    padding: 20px;
  }
}
.p-thanks__btn {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: 280px;
  border-radius: 5px;
  background-color: #43a047;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
}
.p-thanks__pocke {
  position: relative;
  padding-right: 100px;
}
@media (max-width: 960px) {
  .p-thanks__pocke {
    padding-right: 110px;
  }
}
.p-thanks__pocke::after {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe082;
  background-image: url(https://image.moratame.net/images/detail/pocke.png);
  background-position: left 4px top -14px;
  background-size: calc(196px * 0.45);
  background-repeat: repeat;
  content: "";
}
@media (max-width: 960px) {
  .p-thanks__pocke::after {
    background-image: url(https://image.moratame.net/images/detail/pocke.png);
  }
}
.p-thanks__balloon {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}
@media (max-width: 960px) {
  .p-thanks__balloon {
    text-align-last: left;
    font-size: 18px;
  }
}
.p-thanks__balloon::after {
  position: absolute;
  right: 43px;
  bottom: -6px;
  display: block;
  width: 10px;
  height: 10px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #ccc;
  background-color: white;
  content: "";
  transform: rotate(-45deg);
}

.u-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.fz_11 {
  font-size: 11px;
}

.mt_100 {
  margin-top: 100px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mt_95 {
  margin-top: 95px;
}

.mb_95 {
  margin-bottom: 95px;
}

.mt_90 {
  margin-top: 90px;
}

.mb_90 {
  margin-bottom: 90px;
}

.mt_85 {
  margin-top: 85px;
}

.mb_85 {
  margin-bottom: 85px;
}

.mt_80 {
  margin-top: 80px;
}

.mb_80 {
  margin-bottom: 80px;
}

.mt_75 {
  margin-top: 75px;
}

.mb_75 {
  margin-bottom: 75px;
}

.mt_70 {
  margin-top: 70px;
}

.mb_70 {
  margin-bottom: 70px;
}

.mt_65 {
  margin-top: 65px;
}

.mb_65 {
  margin-bottom: 65px;
}

.mt_60 {
  margin-top: 60px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mt_55 {
  margin-top: 55px;
}

.mb_55 {
  margin-bottom: 55px;
}

.mt_50 {
  margin-top: 50px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mt_45 {
  margin-top: 45px;
}

.mb_45 {
  margin-bottom: 45px;
}

.mt_40 {
  margin-top: 40px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mt_35 {
  margin-top: 35px;
}

.mb_35 {
  margin-bottom: 35px;
}

.mt_30 {
  margin-top: 30px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mt_25 {
  margin-top: 25px;
}

.mb_25 {
  margin-bottom: 25px;
}

.mt_20 {
  margin-top: 20px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mt_15 {
  margin-top: 15px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mt_0 {
  margin-top: 0px;
}

.mb_0 {
  margin-bottom: 0px;
}

/* Visual Formatting
------------------------------ */
.d {
  display: block;
}

.d_n {
  display: none;
}

.d_b {
  display: block;
}

.d_f {
  display: flex;
}

.d_if {
  display: inline-flex;
}

.d_i {
  display: inline;
}

.d_ib {
  display: inline-block;
}

.d_li {
  display: list-item;
}

.d_ri {
  display: run-in;
}

.d_cp {
  display: compact;
}

.d_tb {
  display: table;
}

.d_itb {
  display: inline-table;
}

.d_tbcp {
  display: table-caption;
}

.d_tbcl {
  display: table-column;
}

.d_tbclg {
  display: table-column-group;
}

.d_tbhg {
  display: table-header-group;
}

.d_tbfg {
  display: table-footer-group;
}

.d_tbr {
  display: table-row;
}

.d_tbrg {
  display: table-row-group;
}

.d_tbc {
  display: table-cell;
}

.d_rb {
  display: ruby;
}

.d_rbb {
  display: ruby-base;
}

.d_rbbg {
  display: ruby-base-group;
}

.d_rbt {
  display: ruby-text;
}

.d_rbtg {
  display: ruby-text-group;
}

/* Box Sizing
------------------------------ */
.bxz {
  box-sizing: border-box;
}

.bxz_cb {
  box-sizing: content-box;
}

.bxz_bb {
  box-sizing: border-box;
}

.u_br::before {
  content: "\A";
  white-space: pre;
}

/* Text
------------------------------ */
.lh_20 {
  line-height: 20px;
}

/* ------------------------------
css/style--pc.css の上書きスタイル
------------------------------ */

.icoBar06.md.detail-label {
  margin-bottom: 3px;
  vertical-align: bottom;
}

/* ------------------------------
/ css/style--pc.css の上書きスタイル
------------------------------ */
/* ------------------------------
 css/style--sp.css の上書きスタイル
------------------------------ */
.p-project-lists__dl.p-project-lists__dl--tame {
  width: 90%;
}

/* ------------------------------
/ css/style--sp.css の上書きスタイル
------------------------------ */
/* ------------------------------
SP and PC
------------------------------ */
.p-clip-lists__card-container-tab {
  background: #f7f7f7;
  color: #7b7b7b;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 32px;
  padding: 6px 24px 0;
}
.p-clip-lists__card-container {
  background: #f7f7f7;
  padding: 0 20px 20px;
}
.p-clip-lists__about {
  background: #f7f7f7;
  font-size: 18px;
  padding: 24px 32px;
  position: relative;
  text-align: center;
}
.p-clip-lists__about-header {
  align-items: center;
  display: flex;
  justify-content: center;
}
.p-clip-lists__about h3 {
  color: #eb651b;
  font-size: 32px;
  font-weight: bold;
}
.p-clip-lists__about p {
  margin-top: 16px;
}
.p-clip-lists__about img {
  display: none;
}
.p-clip-lists__no-clips {
  font-size: 18px;
  margin-top: 32px;
  text-align: center;
}
.p-clip-lists__no-clips a {
  background: #eb651b;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 32px;
  margin-top: 16px;
  padding: 12px 90px;
}
.p-clip-lists__no-clips a:link,
.p-clip-lists__no-clips a:hover,
.p-clip-lists__no-clips a:active,
.p-clip-lists__no-clips a:visited {
  color: white;
}



/* ------------------------------
/SP and PC
------------------------------ */
/* ------------------------------
PC
------------------------------ */
.c-icon--clip {
  height: auto;
  width: 24px;
}

.c-tooltip {
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #eb651b;
  display: block;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  line-height: 1.35;
  margin-left: -70px;
  padding: 3px 6px;
  position: absolute;
  text-align: center;
  top: -52px;
  width: 140px;
  z-index: 1;
}
.c-tooltip::before,
.c-tooltip::after {
  border-style: solid;
  border-width: 10px 6px 0 6px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
.c-tooltip::before {
  border-color: #ccc transparent transparent transparent;
  top: 38px;
}
.c-tooltip::after {
  border-color: #fff transparent transparent transparent;
  top: 36px;
}
.c-tooltip.appear {
  opacity: 1;
  transition: opacity 0.2s;
}
.c-tooltip.hidden {
  opacity: 0;
  transition: opacity 0.2s;
}

.c-clip-list-heading {
  align-items: center;
  display: flex;
  margin-top: 6px;
}

.p-clip-lists__card-container-tab {
  background: #f7f7f7;
  color: #7b7b7b;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 32px;
  padding: 6px 24px 0;
}
.p-clip-lists__card-container {
  background: #f7f7f7;
  padding: 0 20px 20px;
}

.c-label-clip-add {
  align-items: center;
  border: 1px solid #eb651b;
  color: #eb651b;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  height: 23px;
  padding: 0 6px 0 3px;
}
.c-label-clip-add-container {
  display: inline-block;
}
.c-label-clip-add-container:hover {
  color: #eb651b;
}
.c-label-clip-add p {
  line-height: 1;
}

.c-masthead-clip-list {
  align-items: center;
  background-color: #eb651b;
  border-radius: 5px;
  color: #fff;
  display: table;
  font-size: 10px;
  line-height: 1;
  margin-top: 5px;
  padding: 5px 3px 4px;
  position: relative;
  width: 95px;
}
.c-masthead-clip-list svg {
  height: 14px;
  width: 14px;
}
.c-masthead-clip-list__flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.c-masthead-clip-list__label {
  background-color: #ff0000;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 3px 6px;
  position: absolute;
  right: -8px;
  top: -8px;
}

@media (min-width: 1270px) {
  .c-masthead-clip-list {
    padding: 8px 3px 7px;
  }

  .p-clip-lists__about img {
    bottom: 24px;
    display: block;
    height: auto;
    position: absolute;
    right: 64px;
    width: 72px;
  }
}
/* ------------------------------
/PC
------------------------------ */
/* ------------------------------
SP
------------------------------ */
.c-clip-icon-sp {
  font-size: 0;
  font-size: 0;
  margin-top: -9px;
  position: absolute;
  top: 50%;
}

.c-clip-btn-add {
  align-items: center;
  border: 2px solid #eb651b;
  border-radius: 6px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 12px;
  padding: 6px;
}
.c-clip-btn-add:link,
.c-clip-btn-add:hover,
.c-clip-btn-add:active,
.c-clip-btn-add:visited {
  color: #eb651b;
}

.c-clip-lists-heading {
  background: #dbdbdb;
  color: #7b7b7b;
  font-size: 16px;
  line-height: 1;
  padding: 9px 9px 6px;
  text-align: center;
}

.p-clip-lists__about--sp {
  font-size: 14px;
  position: relative;
  text-align: center;
}
.p-clip-lists__about--sp-header {
  background: #f7f7f7;
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 6px;
}
.p-clip-lists__about--sp-header-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 260px;
}
.p-clip-lists__about--sp h3 {
  color: #eb651b;
  font-size: 18px;
  font-weight: bold;
}
.p-clip-lists__about--sp-badge {
  background-color: white;
  background-image: url(https://image.moratame.net/img/common/pocke-2.png);
  background-position: left 20px top 0px;
  background-repeat: no-repeat;
  background-size: 45px;
  border-radius: 50%;
  height: 90px;
  margin-left: auto;
  width: 90px;
}
.p-clip-lists__about--sp__container {
  padding: 24px 16px;
}
.p-clip-lists__about--sp p + p {
  margin-top: 16px;
}
.p-clip-lists__about--sp img {
  bottom: 24px;
  height: auto;
  position: absolute;
  right: 64px;
  width: 72px;
}
.p-clip-lists__no-clips--sp {
  font-size: 14px;
  margin-top: 32px;
  padding: 0 16px 24px;
  text-align: center;
}
.p-clip-lists__no-clips--sp a {
  background: #eb651b;
  border-radius: 6px;
  display: inline-block;
  margin-top: 30px;
  padding: 12px 90px;
}
.p-clip-lists__no-clips--sp a:link,
.p-clip-lists__no-clips--sp a:hover,
.p-clip-lists__no-clips--sp a:active,
.p-clip-lists__no-clips--sp a:visited {
  color: white;
}

.icon_user {
  background-position: -170px -54px;
  height: 25px;
  width: 20px;
}

.icon_login {
  background-position: -16px 4px;
  height: 25px;
  width: 14px;
}

.icon_rgt {
  background-position: 0px 4px;
  height: 25px;
  width: 13px;
}

/* ------------------------------
/SP
------------------------------ */
/* ------------------------------
modal-clip
------------------------------ */
body {
  position: relative;
}

.p-modal-clip-base {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100vh;
  position: fixed;
  top: 0;
  transition: opacity 0.2s;
  width: 100vw;
}
.p-modal-clip-base.appear {
  left: 0;
}
.p-modal-clip-base.hidden {
  left: -9999px;
}

.p-modal-clip {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  height: 360px;
  justify-content: center;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 280px;
  z-index: 1;
}
.p-modal-clip.appear {
  opacity: 1;
  transition: opacity 0.2s;
}
.p-modal-clip.hidden {
  left: -9999px;
  opacity: 0;
  transition: opacity 0.2s;
}
.p-modal-clip img {
  height: auto;
  margin-left: 40px;
  max-width: 105px;
}
.p-modal-clip p {
  color: #eb651b;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 12px;
}
.p-modal-clip p + p {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}
.p-modal-clip span {
  background-color: #eb651b;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 1;
  margin: 10px auto 0;
  padding: 12px 24px;
  width: 210px;
}

/* ------------------------------
/ modal-clip
------------------------------ */
.c-label {
  border-style: solid;
  border-width: 0 35px 35px 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.c-label:before {
  color: #fff;
  display: block;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  right: -33px;
  top: 4px;
  white-space: nowrap;
}
.c-label.c-label-mora {
  border-color: transparent #f25932 transparent transparent;
}
.c-label.c-label-mora:before {
  content: "モラ";
}
.c-label.c-label-tame {
  border-color: transparent #1b94d3 transparent transparent;
}
.c-label.c-label-tame:before {
  content: "タメ";
}
.c-label.c-label-repo {
  border-color: transparent #ff7e00 transparent transparent;
}
.c-label.c-label-repo:before {
  content: "レポ";
}
.c-label.c-label-photo {
  border-color: transparent #67c336 transparent transparent;
}
.c-label.c-label-photo:before {
  content: "フォト";
  right: -37px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
/* ------------------------------
/ SDGs
------------------------------ */
.sdgs-box {
  background-color: #f7fff1;
  color: #17b112;
  font-weight: bold;
}
.sdgs-box img {
  height: auto;
}
.sdgs-box--sp {
  position: relative;
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}
.sdgs-box--sp img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-right: 3px;
  margin-bottom: auto;
  margin-left: 3px;
  margin-left: -138px;
  width: 28px;
}
.sdgs-box--pc {
  display: flex;
  margin-top: 6px;
  font-size: 12px;
  line-height: 23px;
}
.sdgs-box--pc img {
  margin-right: 3px;
  margin-left: 3px;
  width: 19px;
}

.sdgs-text-link {
  font-size: 10px;
}
.sdgs-text-link a {
  color: #17b112;
  text-decoration: underline;
}
.sdgs-text-link a:hover {
  color: #17b112;
  text-decoration: none;
}
.sdgs-text-link--sp {
  display: block;
}
.sdgs-text-link--pc {
  transform: scale(0.8);
  transform-origin: left top;
}

/* @tailwind base; */
.bl-8423-relative {
  position: relative;
}

.bl-8423-left-4 {
  left: 16px;
}

.bl-8423-left-2 {
  left: 8px;
}

.bl-8423-left-8 {
  left: 32px;
}

.bl-8423-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.bl-8423--mx-4 {
  margin-right: -16px;
  margin-left: -16px;
}

.-bl-8423-mx-4 {
  margin-right: -16px;
  margin-left: -16px;
}

.bl-8423-mt-4 {
  margin-top: 16px;
}

.bl-8423-mt-6 {
  margin-top: 24px;
}

.bl-8423-mb-8 {
  margin-bottom: 32px;
}

.bl-8423-mt-8 {
  margin-top: 32px;
}

.-bl-8423-mt-6 {
  margin-top: -24px;
}

.bl-8423-ml-2 {
  margin-left: 8px;
}

.bl-8423-mt-3 {
  margin-top: 12px;
}

.-bl-8423-mt-2 {
  margin-top: -8px;
}

.bl-8423-box-border {
  box-sizing: border-box;
}

.bl-8423-flex {
  display: flex;
}

.bl-8423-table {
  display: table;
}

.bl-8423-w-1\/2 {
  width: 50%;
}

.bl-8423-w-full {
  width: 100%;
}

.bl-8423-w-72 {
  width: 288px;
}

.bl-8423-max-w-md {
  max-width: 28rem;
}

.bl-8423-list-none {
  list-style-type: none;
}

.bl-8423-flex-wrap {
  flex-wrap: wrap;
}

.bl-8423-items-center {
  align-items: center;
}

.bl-8423-justify-center {
  justify-content: center;
}

.bl-8423-rounded-full {
  border-radius: 9999px;
}

.bl-8423-border {
  border-width: 1px;
}

.bl-8423-border-2 {
  border-width: 2px;
}

.bl-8423-border-b-4 {
  border-bottom-width: 4px;
}

.bl-8423-border-solid {
  border-style: solid;
}

.bl-8423-bg-yellow-50 {
  background-color: #fefce8;
}

.bl-8423-px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.bl-8423-px-6 {
  padding-right: 24px;
  padding-left: 24px;
}

.bl-8423-py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bl-8423-px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.bl-8423-py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.bl-8423-pb-12 {
  padding-bottom: 48px;
}

.bl-8423-pt-2 {
  padding-top: 8px;
}

.bl-8423-pb-4 {
  padding-bottom: 16px;
}

.bl-8423-text-left {
  text-align: left;
}

.bl-8423-text-center {
  text-align: center;
}

.bl-8423-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.bl-8423-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.bl-8423-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.bl-8423-font-bold {
  font-weight: 700;
}

.bl-8423-leading-none {
  line-height: 1;
}

.bl-8423-leading-snug {
  line-height: 1.375;
}

.bl-8423-text-red-600 {
  color: #dc2626;
}

@media (min-width: 375px) {
  .module_m\:bl-8423-left-8 {
    left: 32px;
  }
}
@media (min-width: 768px) {
  .tablet\:bl-8423-left-4 {
    left: 16px;
  }

  .tablet\:bl-8423-w-1\/2 {
    width: 50%;
  }

  .tablet\:bl-8423-w-auto {
    width: auto;
  }

  .tablet\:bl-8423-px-2 {
    padding-right: 8px;
    padding-left: 8px;
  }

  .tablet\:bl-8423-px-4 {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.contents .p-social_login * {
  box-sizing: border-box;
}
.p-social_login__lead::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-width: 20px 80px 0 80px;
  border-style: solid;
  border-color: #ffef8a transparent transparent transparent;
  content: "";
}

.u-btn-sns {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 12px 12px 12px 48px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  line-height: 1;
}
.u-btn-sns--base {
  padding: 12px 24px;
  font-size: 16px;
}
.u-btn-sns:link,
.u-btn-sns:visited,
.u-btn-sns:hover,
.u-btn-sns:active {
  color: white;
}
.u-btn-sns img,
.u-btn-sns i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 24px;
}
.u-btn-sns img {
  max-width: 32px;
  height: 18px;
}
.u-btn-sns i {
  display: block;
  height: 24px;
  font-size: 24px;
}
.contents--responsive .secondary .u-btn-sns i {
  font-size: 24px;
}
.u-btn-sns--yahoo {
  border-color: #ff0033;
  background-color: #ff0033;
}
.u-btn-sns--facebook {
  border-color: #3b5998;
  background-color: #3b5998;
}
.u-btn-sns--twitter {
  border-color: #1da1f2;
  background-color: #1da1f2;
}
.u-btn-sns--line {
  border-color: #06c755;
  background-color: #06c755;
}
.u-btn-sns--apple {
  border-color: #000;
  background-color: #000;
}
.u-btn-sns--google {
  border-color: #db4437;
  background-color: #db4437;
}
.u-btn-sns--mail {
  border-color: #333;
  color: #333;
}
.u-btn-sns--mail:link,
.u-btn-sns--mail:visited,
.u-btn-sns--mail:hover,
.u-btn-sns--mail:active {
  color: #333;
}

.u-ico-sns {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 12px 12px 12px 40px;
  width: 140px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}
.u-ico-sns i,
.u-ico-sns img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.u-ico-sns i {
  height: 24px;
  font-size: 24px;
}
.u-ico-sns img {
  max-width: 32px;
  height: 18px;
}
.contents--responsive .secondary .u-ico-sns i {
  font-size: 24px;
}
.u-ico-sns--pc {
  padding: 12px 12px 12px 40px;
  width: 160px;
}
.u-ico-sns--pc i {
  left: 8px;
}
.u-ico-sns--yahoo {
  border-color: #ff0033;
  background-color: #ff0033;
}
.u-ico-sns--facebook {
  border-color: #3b5998;
  background-color: #3b5998;
}
.u-ico-sns--twitter {
  border-color: #1da1f2;
  background-color: #1da1f2;
}
.u-ico-sns--line {
  border-color: #06c755;
  background-color: #06c755;
}
.u-ico-sns--apple {
  border-color: #000;
  background-color: #000;
}
.u-ico-sns--google {
  border-color: #db4437;
  background-color: #db4437;
}
