/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

.fs-15 {
  font-size: 12px;
}

.fs-16 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.br {
  border-right: 1px dotted #e5e5e5;
}

/* properties
---------------------------------------------------------------------------------------------------- */
.monitor-attention__box {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #fceae0;
  padding: 10px 0;
}

.c-section-heading {
  padding: 0.5em !important;
  height: auto !important;
}

.c-heading {
  font-size: 12px;
  padding: 10px;
  text-align: center;
  background: #ededed;
}

.c-drawer-category {
  display: grid;
  align-items: center;
  grid-template-columns: 18px 1fr;
  gap: 4px;
}

.enq-section-heading {
  background: #fffad9 !important;
}

.select-box {
  margin: 10px;
}

.select-area input {
  display: none;
}

.select-area input[type="text"],
.select-area input[type="password"],
.select-area input[type="tel"] {
  display: block;
}

.select-area label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 2px;
  padding: 10px 20px;
  color: #3e4956;
  font-size: 14px;
  line-height: 1;
}

.select-area label:before {
  position: absolute;
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border: 1px solid #a4a4a4;
  border-radius: 22px;
  background: #fff;
  width: 22px;
  height: 22px;
  content: "";
}

.select-area input[type="radio"]:checked + label:after {
  position: absolute;
  top: 50%;
  left: -5px;
  margin-top: -4px;
  border-radius: 10px;
  background: #333;
  width: 10px;
  height: 10px;
  content: "";
}

.telephone-area ul {
  display: table;
}

.telephone-area li {
  display: table-cell;
}
.telephone-area .t-form__input {
  margin-right: 8px;
}

.t-table {
  padding: 10px;
  font-size: 12px;
  /* 768px以上の場合 */
  @media (width >= 768px) {
    font-size: 14px;
  }
}

.t-form__input {
  margin-top: 10px;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  background: #fff;
  height: 30px;
  overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: block;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.2s linear;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 20px 8px 0;
  border-radius: 8px;
  padding: 12px 12px 2px 42px;
  font-size: 14px;
}

.checkbox::after {
  -webkit-transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 10px;
  transition: border-color 0.2s linear;
  margin-top: -10px;
  border: 1px solid #a4a4a4;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  content: "";
}

.checkbox::before {
  -webkit-transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s linear;
  margin-top: -7px;
  border-right: 4px solid #333;
  border-bottom: 4px solid #333;
  width: 7px;
  height: 11px;
  content: "";
}

input[type="checkbox"]:checked + .checkbox:before {
  opacity: 1;
}

.t-form__input input {
  box-sizing: border-box;
  border: 0;
  background: transparent;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.pageTopScroll {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pageTopScroll.is-visible {
  opacity: 1;
}

/* detail/tamesu */
.t-table .t-table__block tbody th,
.t-table .t-table__block tbody td {
  text-align: left;
  word-break: break-all;
  white-space: normal;
}

.p-item-detail {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e2e2e2;
  max-width: 640px;
}

.cost-em {
  color: #f76b1f;
}

.review_box {
  width: 50%;
}

.img_list {
  margin: 5px 1px;
}

@media only screen and (width <= 1269px) {
  .review_box {
    width: 49.5%;
  }

  .img_list {
    margin: 5px;
  }
}

@media only screen and (width <= 639px) {
  .review_box {
    width: 100%;
  }

  .img_list {
    margin: 5px;
  }
}

.review_line {
  vertical-align: top;
  margin: 10px 0;
  border-top: 1px solid #ccc;
}

.review_text {
  margin-bottom: 5px;
  font-size: 85%;
}

.comment {
  background-color: #fff100;
  color: #000;
}

.twitter {
  background-color: #00acee;
  color: #fff;
}

.family-balloon {
  position: relative;
  box-sizing: border-box;
  margin: 32px auto 20px;
  border-radius: 4px;
  background-color: #e8e5d6;
  padding: 10px;
  width: 100%;
  max-width: 640px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.family-balloon::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 10px 5px 0;
  border-style: solid;
  border-color: #e8e5d6 transparent transparent;
  width: 0;
  height: 0;
  content: "";
}

.disabled {
  border: initial;
  height: initial;
}

.c-balloon {
  position: relative;
  margin-top: 4px;
  border-radius: 2px;
  background: #f76b1f;
  padding: 2px 4px;
  width: fit-content;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}

.c-balloon:after {
  position: absolute;
  top: 50%;
  top: -4px;
  right: 100%;
  left: 10px;
  margin-top: 0;
  border-width: 0 3px 4px;
  border-style: solid;
  border-color: rgb(247 107 31 / 0%);
  border-color: transparent transparent #f76b1f;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
}

/* /detail/tamesu */

/* detail/tamesulist, detail/moraurist */

.c-grid--row {
  margin-top: 1px;
  margin-left: 1px;
}

.c-grid--col {
  margin-top: -1px;
  margin-left: -1px;
}

/* /detail/tamesulist, detail/moraurist */

/* detail/cmt.html */

.comment_textarea {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: 1.3;
  height: 150px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

.preview_box {
  margin: 20px 0;
}
/* /detail/cmt.html */

/* detail/order_sbps ------------------------------------------------- */

.p-order-confirm__page-alert {
  padding: 15px;
  color: red;
  border: 1px solid red;
  font-size: 13px;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 16px;
}

.p-order-confirm__tradelaw-box {
  border: solid;
  border-color: red;
  color: red;
  padding: 1rem;
  font-size: 12px;
  @media (width >= 768px) {
    font-size: 14px;
  }
}

.p-order-confirm__tradelaw-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.p-order-confirm__tradelaw-text {
  margin-bottom: 0.5rem;
}

.p-order-confirm__tradelaw-text--lg {
  margin-bottom: 2rem;
}

.p-order-confirm__bottom-text {
  margin-top: 0;
}

.p-order-confirm__error {
  text-align: center;
  color: red;
}

/* /detail/order_sbps */
