.bl-10705-recommended-items {
  margin-bottom: 32px;
}
.bl-10705-recommended-items.bl-10705-recommended-items--sp {
  margin-top: 32px;
}

.bl-10705-recommended-items__balloon {
  background-color: #1b94d3;
  border-radius: 3px;
  color: white;
  font-size: clamp(16px, (24vw / 1280 * 100), 24px);
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  position: relative;
  text-align: center;
}
.bl-10705-recommended-items__balloon::after {
  border-color: #1b94d3 transparent transparent transparent;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  bottom: -10px;
  content: "";
  height: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 0;
}

.bl-10705-recommended-items__row {
  display: flex;
  list-style: none;
  margin-left: -8px;
  margin-right: -8px;
}
@media screen and (max-width: 424px) {
  .bl-10705-recommended-items__row {
    margin-left: -4px;
    margin-right: -4px;
  }
}

.bl-10705-recommended-items__col {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  width: 33.3333%;
}
@media screen and (max-width: 424px) {
  .bl-10705-recommended-items__col {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.bl-10705-recommended-items__card {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  margin-top: 16px;
}

.bl-10705-recommended-items__card__maker-name,
.bl-10705-recommended-items__card__item-name {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.bl-10705-recommended-items__card__maker-name {
  border-bottom: 1px solid lightgray;
  -webkit-line-clamp: 1;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

.bl-10705-recommended-items__card__item-name {
  -webkit-line-clamp: 2;
}

.bl-10705-recommended-items__card__item-name a {
  color: #000;
}

.bl-10705-recommended-items__card__body {
  padding: 8px 16px;
}
@media screen and (max-width: 424px) {
  .bl-10705-recommended-items__card__body {
    padding: 8px;
  }
}

.bl-10705-recommended-items__thumbnail {
  height: auto;
  width: 100%;
}
