* .min {
  display: none;
}

@media (width <= 530px) {
  * .min {
    display: block;
  }
}

/* common-settings---------------------------------------- */
.t-select__layout {
  height: 31px;
}

.sp-min {
  display: none;
}

@media (width <= 639px) {
  .sp-min {
    display: block;
  }
}

/* Modal ------------------------------------------------- */

/* HanburgerMenu ------------------------------------------------- */
/* header */
header {
  position: relative;
  z-index: 8;
  width: 100%;
  background: #fff;
}

@media (width <= 1614px) {
  header {
    margin: 0 auto;
    max-width: 1255px;
  }
}
/* #menu */
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  max-width: 250px;
  width: 100%;
  height: 100%;
  background-color: #004098;
  font-size: 14px;
  transform: translate(250px);
  transition: transform 0.3s ease-in-out;
}
#menu a {
  text-decoration: none;
}
#menu a:hover {
  text-decoration: none;
}

#menu.open {
  transform: translate(0);
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu li a {
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  line-height: 1.8;
  display: block;
}

#menu .menu-close {
  display: none;
  position: absolute;
  top: 4px;
  left: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

#menu.open .menu-close {
  display: block;
}

#menu_btn {
  padding-top: 42px;
  width: 58px;
  height: 62px;
  background: url(../images/btn-hbg.png);
  background-size: contain;
  color: #fff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

@media (width <= 530px) {
  #menu_btn {
    padding-top: 34px;
    width: 48px;
    height: 51px;
  }
}

/* menu-background */
.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu-background.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* ドロワー開時は下レイヤーの縦スクロールを防止 */
body.is-drawer-open {
  overflow: hidden;
}

/* accordion ------------------------------------------------- */
#menu .menu__item {
  padding-bottom: 0;
  padding-left: 0;
}
#menu .menu__item .menu__item__link {
  color: #fff;
  border: none;
  margin: 0;
  font: inherit;
  text-align: left;
  cursor: pointer;
  background: none;
  background-color: transparent;
  width: 100%;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  line-height: 1.8;
  display: block;
}

#menu .menu__item .menu__item__link:after {
  content: "\f13a";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: 8px;
}

#menu .menu__item .menu__item__link.on:after {
  content: "\f139";
  font-weight: 900;
}
#menu .menu__item .submenu {
  background: #fff;
}
#menu .menu__item .submenu li {
  border-bottom: 1px solid #004098;
  color: #004098;
}
#menu .menu__item .submenu li:last-child {
  border-bottom: none;
}
#menu .menu__item .submenu li.t-sidemenu-sub-ttl {
  background: #d8e4f4;
  font-weight: bold;
  padding: 10px 0 10px 15px;
}
#menu .menu__item .submenu a {
  color: #004098;
}

/*newsLink------------------------------------------------- */

/* body ------------------------------------------------- */

body .select-box {
  margin: 10px 0;
}

body .t-text {
  padding: 0;
}

body .p-masthead {
  color: #000;
}

body .contents {
  margin-top: 0;
}

body input[type="text"] {
  -webkit-appearance: none;
}

body .sexs input {
  -webkit-appearance: radio;
}

body .select-area label {
  color: #000;
}

/* header ------------------------------------------------- */
.p-masthead {
  position: relative;
  padding: 0px;
  border-bottom: none;
  background-image: none;
  /*グローバルナビゲーション----- */
}

.sp-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 51px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (width >= 768px) {
  .sp-header-menu {
    height: 62px;
  }
}

.sp-header-menu_component {
  position: absolute;
  top: 0;
}
.sp-header-menu_component-hbg {
  right: 0;
}
.sp-header-menu_component img {
  width: 58px;
}

@media (max-width: 530px) {
  .sp-header-menu_component img {
    width: auto;
    height: 51px;
  }
}

.p-masthead__nav {
  display: flex;
  max-width: 640px;
  width: 100%;
  list-style: none;
  padding-left: 0;
  align-items: center;
  height: 100%;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 60px;
  box-sizing: border-box;
  @media (width >= 768px) {
    font-size: 16px;
  }
}

.p-masthead__nav li {
  width: 160px;
}

@media (width <= 959px) {
  .p-masthead__nav li {
    width: 115px;
  }
}

@media (width <= 530px) {
  .p-masthead__nav li {
    width: 90px;
  }
}
.p-masthead__nav-item {
  color: #004098;
  font-weight: bold;

  &.is-active {
    border-bottom: 3px solid #004098;
  }
}

/* primary ------------------------------------------ */

@media (width <= 639px) {
  .heading.xx-large.enclosingBtn {
    padding-right: 0;
    padding-left: 35px;
  }
}

@media (width <= 530px) {
  .heading__sub-title {
    display: block;
    padding-right: 0;
  }
}
.row {
  overflow: hidden;
}

@media (width <= 959px) {
  .row {
    margin: 0;
  }
}
.row:after {
  clear: none;
}
.t-table__block {
  margin: 0 auto;
  border: 1px solid #e2e2e2;
}
.price_bgbox {
  margin: 20px auto 0;
  padding: 40px;
  background-color: #fef8f3;
}

@media (width <= 639px) {
  .price_bgbox {
    padding: 10px;
  }
}
.c-form__select select {
  padding: 0 40px 0 6px;
  width: 100%;
  height: 30px;
  border: 0;
  border: red 2px solid;
  background: transparent;
  color: #333;
  font-size: 13px;
  -webkit-appearance: none;
  appearance: none;
}
.c-form__select::after {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  border-width: 12px 8px 0 8px;
  border-style: solid;
  border-color: #8b8b8b transparent transparent transparent;
  content: "";
  transform: translateY(-50%);
  pointer-events: none;
}
select:invalid {
  color: red;
}
.c-form__select {
  position: relative;
}
.txt_Alert {
  padding: 10px 0 0;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.p-card__detail {
  line-height: 1.5;
}
.p-card__detail .badge.cardBadge {
  height: auto;
}
.badge.cardBadge {
  height: auto;
}

/* icoWrap, mise-nnew-icon ---------------------------------------------------- */
@media (max-width: 639px) {
  .heading.xx-large .icoWrap {
    width: 38px;
  }
}

@media (max-width: 639px) {
  .heading.xx-large .icoWrap img {
    height: 26px;
  }
}
/* secondary -------------------------------------------------- */

/* // common-settings */
/* toppage ------------------------------------------------ */
body.toppage {
  /* icoWrap */
}

@media (max-width: 530px) {
  body.toppage .heading.xx-large.enclosingBtn {
    padding-left: 45px;
  }
}

@media (width <= 530px) {
  body.toppage .heading.xx-large .icoWrap {
    top: 3px;
    width: 46px;
  }
}

@media (width <= 530px) {
  body.toppage .heading.xx-large .icoWrap img {
    height: 39px;
  }
}

/* /toppage */

/* itemList ------------------------------------------------- */

body#itemList .heading.xx-large.enclosingBtn {
  margin-bottom: 10px;
}

body#itemList .heading.xx-large.enclosingBtn h1 .icoWrap {
  width: 40px;
}

@media (width <= 639px) {
  body#itemList .heading.xx-large.enclosingBtn h1 .icoWrap {
    width: 30px;
  }
}

@media (width <= 1269px) {
  body#itemList .heading.xx-large.enclosingBtn h1 .icoWrap img {
    height: 30px;
  }
}

body#itemList .p-project-lists {
  max-width: 768px;
}

body#itemList .p-project-lists .ui-link {
  outline: none;
}

@media (max-width: 959px) {
  body#itemList .p-project-lists {
    max-width: 960px;
  }
}

body#itemList .p-project-lists li:hover,
body#itemList .p-project-lists li:active {
  color: #393;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

@media (max-width: 1269px) {
  body#itemList .p-project-lists li {
    width: 25%;
  }
}

@media (max-width: 959px) {
  body#itemList .p-project-lists li {
    width: 20%;
  }
}

@media (width <= 799px) {
  body#itemList .p-project-lists li {
    width: 25%;
  }
}

@media (max-width: 530px) {
  body#itemList .p-project-lists li {
    width: 33.333%;
  }
}

body#itemList .p-project-lists li .p-project-lists__thumbnail-wrap {
  background-color: #fff;
}

body#itemList .p-project-lists li .p-project-lists__thumbnail-wrap:hover,
body#itemList .p-project-lists li .p-project-lists__thumbnail-wrap:active {
  opacity: 0.6;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

body#itemList .p-project-lists li .p-project-lists__block {
  height: 57px;
}

body#itemList .p-project-lists li .p-project-lists__block .sp_top_project_count {
  padding-top: 2px;
  font-size: 11px;
}

/* / itemList */
/* itemDetail ------------------------------------------------- */

/* /itenDetail */
/* itenDetail-mora ------------------------------------------------- */

/* /itenDetail-mora */
/* itemApply ------------------------------------------------- */
body.itemApply {
  /*availableCards*/
}

/* クーポン選択エリア */
ul.coupon p {
  display: inline;
}

ul.coupon li {
  text-indent: -1.3em;
  padding-left: 1.3em;
  line-height: 2em;
}

ul.coupon label {
  padding: 0.5em 0.5em 0.5em 0;
}

ul.coupon em {
  margin-left: 0.5em;
  color: #f76b1f;
}

ul.coupon input[type="text"] {
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0 1em 0 1em;
}

ul.coupon input:checked + p {
  font-weight: bold;
}

#input_coupon_code {
  display: inline-block;
  width: auto;
  height: 34px;
  margin: 0.5em 0;
  padding: 6px 12px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body.itemApply .contents .cards img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

body.itemApply .c-section-heading {
  display: block;
  padding: 6px 10px !important;
  border: none;
}

body.itemApply .select-area input[type="radio"]:checked + label:after {
  top: 47%;
  left: -5px;
}

body.itemApply .checkbox:before {
  top: 65%;
  left: 17px;
  -webkit-transition: none;
  transition: none;
}

body.itemApply .checkbox:after {
  top: 60%;
}

body.itemApply .item-part {
  margin: 15px 10px;
  line-height: 1.5;
}

@media (max-width: 530px) {
  body.itemApply .item-part {
    padding: 10px;
  }
}

body.itemApply .item-part a:hover,
body.itemApply .item-part a:focus {
  text-decoration: none;
}

body.itemApply .item-part .telephone-area ul li {
  display: inline-block;
  margin-right: 3px;
  width: 70px;
}

body.itemApply .item-part .t-column-head__text:before {
  background-color: #004098;
}

body.itemApply .st-table01 {
  margin-top: 10px;
  width: 100%;
}

@media (max-width: 530px) {
  body.itemApply .st-table01 {
    font-size: 12px;
  }
}

body.itemApply .st-table01 th {
  width: 30%;
  vertical-align: top;
  white-space: inherit;
}

@media (max-width: 530px) {
  body.itemApply .st-table01 th {
    padding: 8px;
  }
}

body.itemApply .st-table01 td {
  width: 70%;
}

@media (max-width: 530px) {
  body.itemApply .st-table01 td {
    padding: 8px;
  }
}

body.itemApply .st-table01 .form-control {
  display: block;
  padding: 6px;
  width: 100%;
  height: 34px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: none;
  color: #555;
  color: #555555;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
    width: auto;
    display: inline-block;
}

/* /itemApply */
/* itemConfirm ------------------------------------------------- */
body.itemConfirm .t-radio {
  padding: 0;
}

/* /itemConfirm */
/* itemComplete ------------------------------------------------- */

/* /itemComplete */
/* mymenu ------------------------------------------------- */

body.t-mymenu .subTabBox {
  width: 100%;
  height: 50px;
  border-bottom: #004098 solid 8px;
}

body.t-mymenu :is(.p-mymenu-main-tab, .p-mymenu-sub-tab) {
  margin-top: 10px;
  width: 100%;
  list-style: none;
  display: flex;
  text-align: center;
}

body.t-mymenu .p-mymenu-main-tab__item {
  padding: 10px;
  padding: 0;
  width: 50%;
  height: 100%;
  border: 3px solid #004098;
  border-bottom: 8px solid #004098;
  border-radius: 0;
  background-color: #fff;
  color: #004098;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 639px) {
  body.t-mymenu .p-mymenu-main-tab__item {
    padding: 4px;
    font-size: 13px;
    line-height: 17px;
  }
}

body.t-mymenu .p-mymenu-main-tab__item:last-child {
  border-left: none;
}

body.t-mymenu .p-mymenu-sub-tab__item {
  padding: 2px 0 8px;
  width: 50%;
  height: 50px;
  border: #004098 solid 3px;
  border-bottom: #004098 solid 8px;
  border-radius: 0;
  background-color: #fff;
  color: #004098;
  font-size: 15px;
  line-height: 36px;
  cursor: pointer;
}

@media (max-width: 639px) {
  body.t-mymenu .p-mymenu-sub-tab__item {
    padding: 5px 0 8px;
    font-size: 13px;
    line-height: 1.3;
  }
}

body.t-mymenu .p-mymenu-sub-tab__item:last-child {
  border-left: #004098 solid 3px;
}

body.t-mymenu .p-mymenu-main-tab__item.is-active,
body.t-mymenu .p-mymenu-sub-tab__item.is-active {
  background-color: #004098 !important;
  color: #fff !important;
}

body.t-mymenu .tabContent {
  display: none;
  clear: both;
  padding-top: 20px;
  width: 100%;
}

body.t-mymenu .tabContent1 {
  padding-top: 1px;
}

body.t-mymenu .is-active {
  display: block;
}

body.t-mymenu .p-registration_info_edit {
  margin-top: 10px;
}

body.t-mymenu .js-submenu__link {
  text-indent: 1em;
}

body.t-mymenu .js-submenu__link:after {
  content: "\f13a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

body.t-mymenu .js-submenu__link.active::after {
  content: "\f139";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

body.t-mymenu .menu a:hover,
body.t-mymenu .menu a:focus {
  text-decoration: none;
}

body.t-mymenu .t-column-head:first-child {
  margin-top: 0;
}

body.t-mymenu .telephone-area ul li {
  display: inline-block;
  width: 80px;
}

body.t-mymenu .t-column-head__text:before {
  background-color: #004098;
}

body.t-mymenu .tabContent1 .container {
  width: 100%;
}

body.t-mymenu .tabContent1 .schedule_box {
  margin: 0 0 10px;
  width: 49.5%;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}


@media (width <= 1269px) {
  body.t-mymenu .tabContent1 .schedule_box {
    width: 49.5%;
  }
}

@media (width <= 639px) {
  body.t-mymenu .tabContent1 .schedule_box {
    width: 100%;
  }
}

body.t-mymenu .tabContent1 .schedule_box .hb_cmn_btn02 {
  padding: 0;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbed00), color-stop(1, #efe200));
  line-height: 30px;
  color: #333;
}

body.t-mymenu .tabContent1 .schedule_box .hb_cmn_btn03 {
  padding: 0;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b9b9b9), color-stop(1, #aeaeae));
  background: gradient(linear, left top, left bottom, color-stop(0, #b9b9b9), color-stop(1, #aeaeae));
  color: #fff;
  line-height: 30px;
}

body.t-mymenu .tabContent1 .pagination li a {
  background-color: #307ee8;
}

body.t-mymenu .tabContent1 .pagination li a.active {
  background-color: #fff;
}

body.t-mymenu .subTabContent {
  display: none;
}

body.t-mymenu .subTabContent.is-active {
  display: block;
}

.hb_ms_scedule {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}
.hb_ms_scedule .schedule_box {
  display: flex;
  flex-direction: column;
}
.hb_ms_scedule .schedule_box .userinfo_box {
  padding: 0 15px;
}
.hb_ms_scedule .schedule_box .btn_box {
  margin-top: auto;
  padding: 0 15px 10px;
}

/* /mymenu */
/* mymenu_update ------------------------------------------------- */

/* /mymenu_update */
/* inquiry ------------------------------------------------- */

/* /inquiry*/
/* faq ------------------------------------------------- */

.t-accordion__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
}
.t-accordion__title:hover {
  cursor: pointer;
}

.t-accordion__items {
  line-height: 1.4;
}
.t-accordion__items a {
  color: #0085c3;
}

/* tentame-saininsyou ------------------------------------------- */

/* t-wrappers ------------------------------------------------- */
.t-support-menu_wrapper {
  padding-bottom: 40px;
}

/* t-wrappers */

/* t-support------------------------------------------------------- */

/* t-about------------------------------------------------------- */

/* common_tools------------------------------------------------- */
.t-column-head__text:before {
  background: #004098;
}

.t-button__green {
  border: none;
  font-size: inherit;
  line-height: 2.9 !important;
}
.t-button__green:hover {
  text-decoration: none;
}

.t-button__blue {
  display: block;
  margin: auto;
  width: 60%;
  border: none;
  background: #307ee8;
  background: -webkit-gradient(linear, left top, left bottom, from(#4188e8), to(#307ee8));
  background: gradient(linear, left top, left bottom, from(#4188e8), to(#307ee8));
  line-height: 1.2;
}

.t-button__default {
  display: block;
  margin: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* /common_tools */

/* Conponent
------------------------------ */
.t-point-block {
  padding: 12px 16px;
}

.t-point-border {
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: #e53e3e;
}

.t-point__dt {
  display: inline;
  font-weight: bold;
}

@media (width <= 639px) {
  .t-point__dt {
    display: block;
  }
}
.t-point__point {
  display: inline;
  color: #e53e3e;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

@media (width <= 639px) {
  .t-point__point {
    display: block;
    margin-top: 8px;
  }
}
.t-point__point__num {
  font-size: 30px;
  font-family: sans-serif;
}

/* notice ----------------------------------------- */

/* /Conponent
------------------------------ */

