.br {
  border-right: 1px dotted #e5e5e5;
}

.title {
  margin: 0;
  background: #90a1b8;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-shadow: none;
}

div.page,
div.content {
  border: 0 solid;
  background: #fff;
  padding: 0;
  overflow: hidden;
  color: #000;
}

li:active {
  background-color: #ece9d8;
}

.p-terms {
  font-size: 14px;
  line-height: 1.7;
  font-feature-settings: "palt";
  letter-spacing: 0.8px;
  text-align: justify;
}

.p-terms h4 {
  margin-top: 1em;
}

.p-terms a {
  color: #66a3ff;
  word-break: break-all;
  overflow-wrap: anywhere;
}

.p-terms li li {
  margin-top: 1ex;
}

/* new */

.p-terms__chapter-title {
  margin-top: 2em;
  margin-bottom: 32px;
  border-bottom: 1px dashed #313131;
  border-left: 5px solid #8cbc00;
  background-color: #f3f3f3;
  padding-right: 15px;
  padding-left: 10px;
  font-size: 16px;

  @media (width >= 640px) {
    font-size: 21px;
  }
}

.p-terms__clause-title {
  margin-left: 1.2em;
  text-indent: -1.2em;
}

.p-terms__chapter-lead {
  margin-bottom: 1em;
}

.p-terms__clause-body {
  margin-left: 1.6em;
}

.p-terms__clause-list {
  margin-left: 1.6em;
}

.p-terms__clause-list-item {
  list-style: disc;
}

ol.p-terms__clause-list .p-terms__clause-list-item {
  list-style: decimal;
}

.p-terms__date-revision {
  margin-top: 30px;
  text-align: right;
}
