/* スクリーンリーダー用テキスト（視覚的に非表示） */
.sr-only {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.u-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* テキスト省略 */
.u-text-ellipsis {
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* ※印のデザイン */
.u-note {
  margin-left: 1em;
  text-indent: -1em;
}

/* 画像中央寄せ */
.u-img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* アンカーリンクの下線 */

/* アンカーリンクの青文字 */
.u-anchor-blue:link,
.u-anchor-blue:visited,
.u-anchor-blue:hover {
  color: #0085c3;
}
