<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta content="試供品,無料,お試し,プレゼント,モラタメ" name="Keywords">
    <meta name="Description" content="試供品や新商品がもらえる・ためせる、プレゼント＆クチコミサイト！お得に話題の商品をためせて、ポイントもたまる♪" />

    <title>SMS認証電話番号入力</title>
    <script src="../assets/vendor/jquery/jquery-1.12.4.min.js"></script>
    <script src="../assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/jquery-mobile/jquery.mobile-1.3.1.min.js?2026030513"></script>
    <script type="text/javascript" src="../assets/js/jquery.mobile.custom.js?2026030513"></script>
    <script type="text/javascript" src="../assets/js/smoothScroll.js?2026030513"></script>
    <script src="../assets/vendor/jquery-heightLine/jquery.heightLine.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.v3.3.7--scope.css?2026030513">
    <script type="text/javascript" src="../assets/js/clips.js?2026030513"></script>
    <script type="text/javascript" src="../assets/js/helper-sp.js?2026030513"></script>



    <link rel="stylesheet" href="../assets/vendor/jquery-mobile/jquery.mobile-1.3.1.min.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/jquery.mobile-1.3.1-user.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/html5-doctor-reset-stylesheet.min.css" />
    <link rel="stylesheet" href="../assets/css/common.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style.3078.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style--sp.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style.moratamelist-tame--sp.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/tooltip.css?2026030513">
    <link rel="stylesheet" href="../assets/css/pickup.css?2026030513">

    <!-- remodal -->
    <link rel="stylesheet" href="../assets/vendor/remodal/remodal.css">
    <link rel="stylesheet" href="../assets/vendor/remodal/remodal-default-theme.css">
    <link rel="stylesheet" href="../assets/vendor/remodal/remodal-user.css">
    <script src="../assets/vendor/remodal/remodal.min.js"></script>
    <!-- /remodal -->

    <link rel="stylesheet" href="../assets/css/style--common-sp-and-pc.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style--common-sp-and-pc-2.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/footer-common.css?2026030513" />

    <!-- 共通ヘッダー用 -->
    <link rel="stylesheet" href="../assets/css/style--pc.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/t-sample.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <link rel="stylesheet" href="../assets/css/mamahalo-pickup-items.css?2026030513">
    <!-- /mamahalo-slider -->

    <!-- checkBox・radioBtn -->
    <script src="../assets/js/inputimg.js?2026030513"></script>
    <!-- //checkBox・radioBtn -->
    <!-- ドロワメニューの高さ取得・コンテンツ制御 -->
    <script type="text/javascript">
      jQuery(function ($) {
        $(".ui-block-d").click(function () {
          var mnHeight = $('#drawerMenu').height();
          $('.ui-panel-content-wrap').css('height', mnHeight);
        });
      });
    </script>
    <!-- //ドロワメニューの高さ取得・コンテンツ制御 -->

    <script>
      if (window.jQuery && jQuery.mobile) {
        jQuery.mobile.ajaxEnabled = false;
      }
    </script>



    <!-- fontawesome -->

    <!-- ページ固有 Style -->
    <link rel="stylesheet" href="../assets/css/p9255-common--sp.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/p9255-top--sp.css?2026030513" />
    <!-- //ページ固有 Style -->

    <!-- sms_auth_input 用ヘッダ・ラジオボタン調整 -->
    <style>
      .page .p-masthead .p-masthead__nav {
        margin: 10px auto 10px;
      }

      /* SMS 配信方法のラジオボタンをスプライトに依存せず描画する */
      .smsListUl .cbxbd1_0 {
        position: relative;
        width: 30px;
        height: 30px;
        background: none;
      }

      .smsListUl .cbxbd1_0 input[type='radio'] {
        position: absolute;
        inset: 0;
        margin: 0;
        opacity: 0;
      }

      .smsListUl .cbxbd1_0::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #666;
        background: #fff;
        transform: translate(-50%, -50%);
      }

      .smsListUl .cbxbd1_0.c_on2::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #333;
        transform: translate(-50%, -50%);
      }
    </style>

  </head>

  <body>
    <div data-role="page" class="page">













      <!-- drawerMenu -->
      <div data-role="panel" id="r-panel" data-position="right" data-display="push" data-theme="x" data-animate="true">
        <nav class="p0-0-10-0" id="drawerMenu">
          <div>


            <!-- nav1 -->
            <section>
              <ul class="drwMnNav1 m-0 p0" data-role="none">
                <li class="bxz-bb fl-l m0-5p-0-0 bdrs5">
                  <div id="display_badge_drawer"></div>

                  <a href="https://stg.moratame.net/s/contents/myindex.php" rel="external">
                    <span class="icon-set01 icon_gmo-enq m5-0-0-0"></span>
                    <p class="fnt-wgt-n fz-10px tsh-none c-333">提携<br />アンケート</p>
                  </a>
                </li>
                <li class="bxz-bb fl-l m0-5p-0-0 bdrs5">
                  <a href="https://stg.moratame.net/s/contents/history_point.php" rel="external">
                    <span class="icon-set01 icon_moratamePnt m5-0-0-0"></span>
                    <p class="fnt-wgt-n fz-10px tsh-none c-333">現在の<br />獲得ポイント</p>
                  </a>
                </li>
                <li class="bxz-bbm fl-l bdrs5">
                  <a class="pos-r" href="https://stg.moratame.net/s/contents/myshipment.php" rel="external">
                    <span class="icon-set01 icon_post m5-0"></span>
                    <p class="fnt-wgt-n fz-10px tsh-none c-333">発送<br />スケジュール</p>
                  </a>
                </li>
                <br class="cl-b" />
              </ul>
            </section>
            <!-- //nav1 -->
            <hr class="hrList" />
            <!-- link -->
            <ul class="drwMnNavList bdrs5 m10 ov-h" data-role="none" id="toTopDrw">
              <li id="drwMnClose">
                <a class="drawerMenuLink" href="https://stg.moratame.net/s/contents/myindex.php" rel="external">マイページはこちら</a>
              </li>
            </ul>
            <!-- //link -->
            <hr class="hrList" />
            <!-- nav2 -->
            <section>
              <h3>はじめての方へ</h3>
              <ul class="drwMnNavList bdrs5 m0-10-10 ov-h" data-role="none">
                <li>
                  <a href="https://stg.moratame.net/s/contents/about.php" rel="external">モラタメとは</a>
                </li>
                <li>
                  <a href="https://stg.moratame.net/s/contents/signup00.php" rel="external"><span class="c-newCstm">新規会員登録</span></a>
                </li>
                <li>
                  <a href="https://stg.moratame.net/s/contents/point_support.php" rel="external">モラタメポイントについて</a>
                </li>
              </ul>
            </section>
            <!-- //nav2 -->
            <!-- 20191010追記　ハンバーガーメニュー内に、バナー類とカテゴリを移動する -->
            <hr class="hrList">
            <!-- pickup -->
            <section>
              <ul data-role="none" class="pickup-bnr-area pt-10px">
                <li class="bnr-img">
                  <a href="https://www.moratame.net/wp/sdgs" rel="external" class="ui-link" tabindex="0">
                    <img src="../assets/images/banner/SDGs_SP.png" width="710" alt="寄付で社会を応援！SDGsプロジェクト">
                  </a>
                </li>
                <li class="bnr-img">
                  <a href="https://contents.moratame.net/feature/premium/main.php" rel="external" class="ui-link" tabindex="0">
                    <img src="../assets/images/banner/pickup-bnr--premium.png?20211224" width="710" alt="さらにお得に便利に！モラタメプレミアムサービス">
                  </a>
                </li>
                <li class="bnr-img">
                  <a href="https://www.moratame.net/rd/?p=robamimi_sidebanner_sp" rel="external" class="ui-link" tabindex="0">
                    <img src="../assets/images/banner/robamimi-mt-slide-sp.png" width="710" alt="ロバ耳">
                  </a>
                </li>
                <li class="bnr-img">
                  <a href="https://www.moratame.net/s/detail/category.php?category=cb416" rel="external" class="ui-link" tabindex="0">
                    <img src="../assets/images/banner/pickup-bnr--family.20190614.png" width="710" alt="家族発送">
                  </a>
                </li>
                <li class="bnr-img">
                  <a href="https://www.moratame.net/support/anti-fraud/" rel="external" class="ui-link" tabindex="0">
                    <img src="../assets/images/banner/anti-fraud_sp-side.jpg" width="710" alt="不正行為への取り組みについて">
                  </a>
                </li>
                <li class="bnr-img">
                  <a href="https://store.line.me/stickershop/product/7935396/ja" rel="external" class="ui-link" tabindex="0" target="_blank">
                    <img src="../assets/images/banner/pickup-bnr--stamp.png" width="710" alt="LINEスタンプ">
                  </a>
                </li>
              </ul>
            </section>
            <!-- //pickup -->
            <hr class="hrList">
            <!-- category -->
            <section>
              <div class="body">
                <ul data-role="none" class="ctgList ctgList-HunbergerMenu">
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=4e058" rel="external">
                      <span class="icon-set02min icon_ctgFoodmin"></span>
                      <span>食品</span>(<span class="countCtg">34</span>)
                    </a>
                  </li>
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=f76c3" rel="external">
                      <span class="icon-set02min icon_ctgCosmemin"></span>
                      <span>化粧品関連</span>(<span class="countCtg">2</span>)
                    </a>
                  </li>
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=4f8fd" rel="external">
                      <span class="icon-set02min icon_ctgBabymin"></span>
                      <span>ベビー/キッズ</span>(<span class="countCtg">3</span>)
                    </a>
                  </li>
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=d6572" rel="external">
                      <span class="icon-set02min icon_ctgFlowermin"></span>
                      <span>花/ガーデニング</span>(<span class="countCtg">1</span>)
                    </a>
                  </li>
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=cb416" rel="external">
                      <span class="icon-set02min icon_ctgOthermin"></span>
                      <span>家族配送</span>(<span class="countCtg">6</span>)
                    </a>
                  </li>
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=ee05a" rel="external">
                      <span class="icon-set02min icon_ctgOthermin"></span>
                      <span>クーポン</span>(<span class="countCtg">2</span>)
                    </a>
                  </li>
                  <li>
                    <a class="p10 ui-link ui-link-black" href="https://stg.moratame.net/s/detail/category.php?category=27446" rel="external">
                      <span class="icon-set02min icon_ctgOthermin"></span>
                      <span>リニューアルカテゴリID指定</span>(<span class="countCtg">1</span>)
                    </a>
                  </li>
                </ul>
              </div>
            </section>
            <!-- category ///-->
            <hr class="hrList">
            <!-- 20191010追記　ハンバーガーメニュー内に、バナー類とカテゴリを移動する -->
            <!-- nav3 -->
            <section>
              <h3>お知らせ・お問い合わせ</h3>
              <ul class="drwMnNavList bdrs5 m0-10-10" data-role="none">
                <li class="bdrs-t5">
                  <a class="d-b pos-r" href="http://www.moratame.net/wp/support/" rel="external"> メンテナンス・サポート情報</a>
                </li>
                <li>
                  <a href="https://stg.moratame.net/contents/atari.php" rel="external">モラえるクイズの正解発表</a>
                </li>
                <li>
                  <a href="https://api-stg.moratame.net/inquiry/ja" rel="external">掲載ご希望メーカー・<br>企業の方へ</a>
                </li>
                <li class="bdrs-b5">
                  <a href="https://www.moratame.net/wp/cs/" rel="external">カスタマーサポート</a>
                </li>
              </ul>
            </section>
            <!-- //nav3 -->
            <!-- 20200121 アプリLP導線追加 1/2 ここから　-->
            <section>
              <h3>モラタメ公式アプリ</h3>
              <ul class="drwMnNavList bdrs5 m10 ov-h" data-role="none">
                <li>
                  <a class="drawerMenuLink ui-link" href="https://stg.moratame.net/feature/app_renewal/main.html" rel="external" style="position: relative;">
                    <figure class="icon-sns"><img class="icon-sns" src="../assets/images/img2014/common/moratame-appli.png" alt="モラタメ公式アプリアイコン"></figure>
                    <p class="moratame-appli">モラタメ公式アプリ</p>
                  </a>
                </li>
              </ul>
              　
            </section>
            　<!-- 20200121 アプリLP導線追加 1/2　ここまで　-->
            <!-- nav4 -->
            <section>
              <h3>モラタメ公式ソーシャルメディア</h3>
              <ul class="drwMnCtg bdrs5" data-role="none">
                <li class="type3 drwMnCtgBdrb bxz-bb">
                  <a href="https://www.facebook.com/moratame.net/" rel="external" target="_blank" class="ui-link"><img class="icon-sns mt_10" src="../assets/images/img2014/common/fb01.png" alt="facebook"></a>
                </li>
                <li class="type3 drwMnCtgBdb bxz-bb">
                  <a href="https://twitter.com/moratame/" rel="external" target="_blank" class="ui-link"><img class="icon-sns mt_10" src="../assets/images/img2014/common/twitter01.png" alt="twitter"></a>
                </li>
                <li class="type3 bxz-bb drwMnCtgBdr">
                  <a href="https://instagram.com/moratame_net/" rel="external" target="_blank" class="ui-link"><img class="icon-sns mt_10" src="../assets/images/img2014/common/instagram.png" alt="instagram"></a>
                </li>
                <li class="type3 bxz-bb line">
                  <a href="https://line.me/ti/p/%40moratame" rel="external" target="_blank" class="ui-link"><img class="icon-sns mt_10" src="../assets/images/img2014/common/line.png" alt="line"></a>
                </li>
              </ul>
            </section>
            <!-- //nav4 -->
            <!-- nav5 -->
            <section>
              <hr class="hrList">
              <!-- link --> <a class="drawerMenuLink p10" href="https://www.excrie.co.jp/about/privacy-policy/" rel="external">
                <p class="c-333">個人情報の取扱いについて</p>
              </a> <!-- //link -->
              <hr class="hrList">
              <!-- link --> <a class="drawerMenuLink p10" href="https://stg.moratame.net/contents/hyouji.php" rel="external">
                <p class="c-333">特定商取引に基づく表記</p>
              </a> <!-- //link -->
              <hr class="hrList">
              <!-- link --> <a class="drawerMenuLink p10" href="https://stg.moratame.net/contents/syounin.php" rel="external">
                <p class="c-333">利用規約</p>
              </a> <!-- //link -->
              <hr class="hrList">
              <!-- link -->
              <a class="drawerMenuLink p10" href="https://stg.moratame.net/s/contents/regulation.php" rel="external">
                <p class="c-333">ご利用にあたってのお約束ごと</p>
              </a> <!-- //link -->
              <hr class="hrList">
              <!-- link -->
              <a class="drawerMenuLink p10" href="https://stg.moratame.net/support/anti-fraud/" rel="external">
                <p class="c-333">不正行為への取り組みについて</p>
              </a> <!-- //link -->
              <hr class="hrList">
            </section>
            <!-- //nav5 -->
            <!-- nav6 -->
            <section>
              <script language="JavaScript" type="text/JavaScript">
        $(function() {
        $('#toTopDrw').click(function () {
            $('body,html').scrollTop(0);
        });
        });
        </script>
              <ul class="drwMnNavList bdrs5 m10-10-0 ov-h" id="toTopDrw">
                <li id="drwMnClose">
                  <a class="" href="https://stg.moratame.net/" rel="external">ページトップへ</a>
                </li>
              </ul>
            </section>
            <!-- //nav6 -->
          </div>
        </nav>
      </div>
      <!-- //drawerMenu -->

      <div class="body-wrapper">
        {% include 'header' %}
      </div>

      <!-- cliplist -->

      <div data-role="content" class="content">
        <div class="container">
          <div class="block">
            <div class="smsAuth-hdl mb_10">
              <p>
                <img src="../assets/images/banner/banner_sms_auth_sp.png" alt="SMS（電話番号）認証の導入を始めました。" width="100%" usemap="#Map">
              </p>
            </div>

            <form action="https://stg.moratame.net/s/login/sms_auth_confirm.php" method="post" id="authform">
              <div class="block_inner">
                <div>
                  サービスの品質向上・セキュリティ対策の観点から、サービスご利用にあたり、電話番号認証を導入しました。<br>
                  ご自身の携帯番号を入力後、送信してください。<br>
                  携帯番号をお持ちでない場合、固定電話番号を入力していただき、音声ガイダンスを選択し送信してください。<br>
                  <br>
                  送信後、SMSメッセージ、または音声ガイダンスにて配信された認証コードを入力してください。<br>
                </div>
                <div class="error" id="errmsgfil"><span id="errmsg"></span></div>
                <div data-role="fieldcontain">
                  <label>電話番号</label>
                  <input type="tel" id="mobilenumber" name="mobilenumber" value="" placeholder="電話番号" data-theme="d" onKeyPress="return(event.keyCode !==13)" />
                  <div class="mt_10">
                    <label>配信方法</label>
                    <ul class="smsListUl">
                      <li class="smsListLi">
                        <div class="smsListLiPd">
                          <label class="cbxbd1_0 c_on2">
                            <input type="radio" id="deliveryKindSms" data-role="none" class="smsDelivery" name="deliveryKind" value="1" checked>
                          </label>
                          <div class="smsListTxt">
                            <p><label for="deliveryKindSms">SMS配信</label></p>
                          </div>
                          <br class="flowBrClear">
                        </div>
                      </li>
                      <li class="smsListLi">
                        <div class="smsListLiPd">
                          <label class="cbxbd1_0">
                            <input type="radio" id="deliveryKindVoice" data-role="none" class="smsDelivery" name="deliveryKind" value="2">
                          </label>
                          <div class="smsListTxt">
                            <p><label for="deliveryKindVoice">音声ガイダンス</label></p>
                          </div>
                          <br class="flowBrClear">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="url" value="https://stg.moratame.net/s/contents/signup05.php?ID=31bafddd99a113e9eecbf0097e133378" />
              </div>

              <div class="block_inner" data-mini="true">
                <button type="button" rel="external" onclick="javascript:ajax_auth_send()" ;>SMS認証コードを送信</button>
              </div>
            </form>
            <div class="c-card--aside smsAuth-c-card--aside">
              <p>モラタメでは、ご登録できるアカウントは、ご本人様かつお一人様1つまでとしています。<br>詳しくは、<a href="https://www.moratame.net/contents/regulation.php
			" target="_blank" class="smsAuth-normalLink">「ご利用にあたってのお約束ごと」</a>をご確認ください。
              </p>
            </div>
          </div>
        </div>
      </div>
      <script src="../assets/js/smsauthinput.js" charset="UTF-8"></script>

      {% include 'footer' %}

      <!-- footer-cart -->
      <div style="display: none;" id="sys--footer-cart" class="c-footer-cart" onClick="show_nimatome_cart_contents();">
        <p>カート</p>
        <p id="sys--nimatome-cart-cnt" data-nimatome-cart-cnt="0">0</p>
      </div>
      <!-- /footer-cart -->

      <!-- remodal -->
      <div class="remodal-bg"></div>
      <div id="sys--remodal--cart" class="remodal remodal--matomete-bin remodal--cart" data-remodal-id="modal-cart"></div>
      <!-- /remodal -->

      <script type="text/javascript" language="javascript">
        $(document).ready(function () {
          var hidden_cart_page_list = ['tamesu2.php', 'tamesu2_nimatome.php']
          var now_url = location.href;
          var now_url_list = now_url.split("/");
          var page = now_url_list[now_url_list.length - 1];
        })

        function new_add_alert() {
          alert('カートに入れました。内容については右下のカートをクリックして確認してください');
        }

        function nimatome_add_init_project(project_id, show_tamesu_modal_flg) {

          if ($('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt') == 0) {
            var modal = $('[data-remodal-id=modal]').remodal();
            modal.open();
          } else {
            nimatome_add_project(project_id, show_tamesu_modal_flg);
          }
        }

        function nimatome_add_project(project_id, show_tamesu_modal_flg) {
          var add_cnt = 1;
          $.ajax({
            type: "POST",
            url: "/app/api/nimatome/nimatome_cart_api.php",
            data: {
              "process": "addProject",
              "project_id": project_id,
              "add_cnt": add_cnt,
              "device": 'sp'
            },
            success: function (res) {
              if (res['result']) {
                if (show_tamesu_modal_flg) {
                  if ($('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt') == 0) {
                    var modal = $('[data-remodal-id=modal]').remodal();
                    $('#sys--nimatome-cart-cnt').text('1');
                    $('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt', 1);
                    $('#sys--footer-cart').show();
                    //modal.open();
                    setTimeout('new_add_alert()', 200);
                  } else {
                    show_nimatome_cart_contents();
                  }
                } else {
                  show_nimatome_cart_contents();
                }
              } else {
                if (res['reason'] && res['reason'] == 'nologin') {
                  location.href = res['uri_next'];
                } else {
                  alert('Error :' + res['msg']);
                }
              }
            }
          });
        }

        function nimatome_clear_cart_project(project_id) {
          $.ajax({
            type: "POST",
            url: "/app/api/nimatome/nimatome_cart_api.php",
            data: {
              "process": "clearCartProject",
              "project_id": project_id
            },
            success: function (res) {
              if (res['result']) {
                show_nimatome_cart_contents();
              } else {
                alert('Error :' + res['msg']);
              }
            }
          });
        }

        function show_nimatome_cart_contents() {
          $.ajax({
            type: "POST",
            url: "/app/api/nimatome/nimatome_cart_api.php",
            data: {
              "process": "checkCartContents"
            },
            success: function (res) {
              if (!res['result']) {
                alert('Error :' + res['msg']);
              } else {
                if (res['cart_sum'] == '0') {
                  var modal = $('[data-remodal-id=modal-cart]').remodal();
                  $('#sys--nimatome-cart-cnt').text(res['cart_sum']);
                  $('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt', res['cart_sum']);
                  $('#sys--footer-cart').hide();
                  modal.close();
                } else {
                  var remodal_cart_head_html = '';
                  remodal_cart_head_html += '<div class="remodal-heading">';
                  remodal_cart_head_html += '  <button data-remodal-action="close" class="remodal-close"></button>';
                  remodal_cart_head_html += '  <p>カート</p>';
                  remodal_cart_head_html += '</div>';
                  remodal_cart_head_html += '<div id="sys--cart-contents-remodal-row" class="remodal-row"></div>';
                  $('#sys--remodal--cart').html(remodal_cart_head_html);

                  var cart_contents_html = '';
                  var cart_price_sum = 0;
                  var cart_price_notax = 0;
                  var cart_cnt = 0;
                  for (var i = 0; i < res['rows'].length; i++) {
                    for (var j = 0; j < res['rows'][i]['cnt']; j++) {
                      cart_cnt += 1;
                      if (res['cart_sum'] == '2') {
                        cart_contents_html += '<div class="remodal-col">';
                        cart_contents_html += '  <div class="remodal--matomete-bin__card">';
                        cart_contents_html += '    <p class="remodal__card-heading">';
                        cart_contents_html += '      商品' + String(cart_cnt);
                        cart_contents_html += '      <span class="remodal__card-heading-close" onClick="nimatome_clear_cart_project(\'' + res['rows'][i]['pjt_id'] + '\');">';
                        cart_contents_html += '      </span>';
                        cart_contents_html += '    </p>';
                        cart_contents_html += '    <div class="remodal--matomete-bin__img-contaner">';
                        cart_contents_html += '      <img src="' + res['rows'][i]['img_path'] + '" alt="' + res['rows'][i]['sname'] + '" width="320" height="320">';
                        cart_contents_html += '    </div>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__item-name">' + res['rows'][i]['disp_sname'] + '</p>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__price mt_10" style="height:auto;">';
                        cart_contents_html += '      送料関係費<br><span class="remodal--matomete-bin__number">' + res['rows'][i]['offer_price'] + '円(税込' + res['rows'][i]['price_notax'] + '円)</span>';
                        cart_contents_html += '    </p>';
                        cart_contents_html += '  </div>';
                        cart_contents_html += '</div>';
                      } else if (res['cart_sum'] == '1') {
                        cart_contents_html += '<div class="remodal-col">';
                        cart_contents_html += '  <div class="remodal--matomete-bin__card">';
                        cart_contents_html += '    <p class="remodal__card-heading">';
                        cart_contents_html += '      商品' + String(cart_cnt);
                        cart_contents_html += '      <span class="remodal__card-heading-close" onClick="nimatome_clear_cart_project(\'' + res['rows'][i]['pjt_id'] + '\');">';
                        cart_contents_html += '      </span>';
                        cart_contents_html += '    </p>';
                        cart_contents_html += '    <div class="remodal--matomete-bin__img-contaner">';
                        cart_contents_html += '      <img src="' + res['rows'][i]['img_path'] + '" alt="' + res['rows'][i]['sname'] + '" width="320" height="320">';
                        cart_contents_html += '    </div>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__item-name">' + res['rows'][i]['disp_sname'] + '</p>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__price mt_10" style="height:auto;">';
                        cart_contents_html += '      送料関係費<br><span class="remodal--matomete-bin__number">' + res['rows'][i]['offer_price'] + '円(税込' + res['rows'][i]['price_notax'] + '円)</span>';
                        cart_contents_html += '    </p>';
                        if (res['rows'][i]['nimatome_flg'] != '2') {
                          cart_contents_html += '    <button data-remodal-action="close" class="remodal--matomete-bin__btn  mt_10"';
                          cart_contents_html += '        onClick="location.href=\'https://stg.moratame.net/s/detail/tamesu2.php?fst=1&quick=1&project_id=' + res['rows'][i]['pjt_id'] + '#anchor01\';">';
                          cart_contents_html += '        この商品のみ<br>タメす！';
                          cart_contents_html += '    </button>';
                        }
                        cart_contents_html += '    </div>';
                        cart_contents_html += '  </div>';
                        cart_contents_html += '</div>';
                      }

                      cart_price_sum += parseInt(res['rows'][i]['offer_price'].split(",").join(""));
                      cart_price_notax += parseInt(res['rows'][i]['price_notax'].split(",").join(""));
                    }
                  }

                  var cart_after_contents_html = ''
                  if (res['cart_sum'] == '2') {
                    cart_after_contents_html += '<div class="mt_10">';
                    cart_after_contents_html += '  <p class="remodal--matomete-bin__price ta_c">';
                    cart_after_contents_html += '    送料関係費：<span class="remodal--matomete-bin__number">' + cart_price_sum + '円(税込' + cart_price_notax + '円)</span>';
                    cart_after_contents_html += '  </p>';
                    cart_after_contents_html += '  <p class="remodal--matomete-bin__price ta_c">';
                    cart_after_contents_html += '    ポイント：<span class="remodal--matomete-bin__number">&yen;+100pt</span>';
                    cart_after_contents_html += '  </p>';
                    cart_after_contents_html += '</div>';
                    cart_after_contents_html += '<button data-remodal-action="close" class="remodal--matomete-bin__btn  mt_10"';
                    cart_after_contents_html += '    onClick="location.href=\'https://stg.moratame.net/s/detail/tamesu2_nimatome.php\';">まとめてタメす</button>';
                  } else if (res['cart_sum'] == '1') {
                    cart_contents_html += '<div class="remodal-col">';
                    cart_contents_html += '  <div class="remodal--matomete-bin__card">';
                    cart_contents_html += '    <p class="remodal__card-heading">';
                    cart_contents_html += '      商品' + String(cart_cnt + 1);
                    cart_contents_html += '    </p>';
                    cart_contents_html += '    <div class="remodal--matomete-bin__img-contaner remodal--matomete-bin__img-contaner--right-col-no-image">';
                    cart_contents_html += '    </div>';
                    cart_contents_html += '    <p class="remodal--matomete-bin__price mt_10" style="height:auto;">　</p>';
                    cart_contents_html += '    <button data-remodal-action="close" class="remodal--matomete-bin__btn  mt_10"';
                    cart_contents_html += '        onClick="location.href=\'https://stg.moratame.net/s/detail/nimatomelist.php\';">もう１商品選ぶ</button>';
                    cart_contents_html += '  </div>';
                    cart_contents_html += '</div>';

                    $('#sys--cart-point').html('&yen;+0');
                  }
                  $('#sys--cart-contents-remodal-row').html(cart_contents_html);
                  $('#sys--cart-contents-remodal-row').after(cart_after_contents_html);
                  $('#sys--nimatome-cart-cnt').text(res['cart_sum']);
                  $('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt', res['cart_sum']);

                  var modal = $('[data-remodal-id=modal-cart]').remodal();
                  $('#sys--footer-cart').show();
                  modal.open();
                }
              }
            }
          });
        }
      </script>

    </div>
    </div>

    <!-- hamburgerMenu -->
    <script src="../assets/js/hamburger-menu.js"></script>
    <script type="module" src="../assets/js/main.js"></script>

  </body>



  <script type="text/javascript" src="../assets/js/moratame_s_common.js?2026030513"></script>
  <script type="text/javascript" src="../assets/js/p9255-scripts.js?2026030513"></script>

</html>
