<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = 'SMS認証電話番号入力' %}
    {% capture head_extra %}
    <style>
      .page .p-masthead .p-masthead__nav {
        margin: 10px auto 10px;
      }

      .smsListUl .cbxbd1_0 {
        position: relative;
        width: 30px;
        height: 30px;
        background: none;
      }

      .smsListUl .cbxbd1_0 input[type='radio'] {
        position: absolute;
        inset: 0;
        margin: 0;
        opacity: 0;
      }

      .smsListUl .cbxbd1_0::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #666;
        background: #fff;
        transform: translate(-50%, -50%);
      }

      .smsListUl .cbxbd1_0.c_on2::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #333;
        transform: translate(-50%, -50%);
      }
    </style>
    {% endcapture %}
    {% include 'head-login-contents' %}

  <body>
    <div class="page">














      <div class="body-wrapper">
        {% include 'header' %}
      </div>

      <!-- cliplist -->

      <div class="content">
        <div class="container">
          <div class="block">
            <div class="smsAuth-hdl mb_10">
              <p>
                <img src="../assets/images/banner/banner_sms_auth_sp.png" alt="SMS（電話番号）認証の導入を始めました。" width="100%" usemap="#Map">
              </p>
            </div>

            <form action="https://stg.moratame.net/s/login/sms_auth_confirm.php" method="post" id="authform">
              <div class="block_inner">
                <div>
                  サービスの品質向上・セキュリティ対策の観点から、サービスご利用にあたり、電話番号認証を導入しました。<br>
                  ご自身の携帯番号を入力後、送信してください。<br>
                  携帯番号をお持ちでない場合、固定電話番号を入力していただき、音声ガイダンスを選択し送信してください。<br>
                  <br>
                  送信後、SMSメッセージ、または音声ガイダンスにて配信された認証コードを入力してください。<br>
                </div>
                <div class="error" id="errmsgfil"><span id="errmsg"></span></div>
                <div>
                  <label>電話番号</label>
                  <input type="tel" id="mobilenumber" name="mobilenumber" value="" placeholder="電話番号" data-theme="d" onKeyPress="return(event.keyCode !==13)" />
                  <div class="mt_10">
                    <label>配信方法</label>
                    <ul class="smsListUl">
                      <li class="smsListLi">
                        <div class="smsListLiPd">
                          <label class="cbxbd1_0 c_on2">
                            <input type="radio" id="deliveryKindSms" class="smsDelivery" name="deliveryKind" value="1" checked>
                          </label>
                          <div class="smsListTxt">
                            <p><label for="deliveryKindSms">SMS配信</label></p>
                          </div>
                          <br class="flowBrClear">
                        </div>
                      </li>
                      <li class="smsListLi">
                        <div class="smsListLiPd">
                          <label class="cbxbd1_0">
                            <input type="radio" id="deliveryKindVoice" class="smsDelivery" name="deliveryKind" value="2">
                          </label>
                          <div class="smsListTxt">
                            <p><label for="deliveryKindVoice">音声ガイダンス</label></p>
                          </div>
                          <br class="flowBrClear">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="url" value="https://stg.moratame.net/s/contents/signup05.php?ID=31bafddd99a113e9eecbf0097e133378" />
              </div>

              <div class="block_inner" data-mini="true">
                <button type="button" rel="external" onclick="javascript:ajax_auth_send()" ;>SMS認証コードを送信</button>
              </div>
            </form>
            <div class="c-card--aside smsAuth-c-card--aside">
              <p>モラタメでは、ご登録できるアカウントは、ご本人様かつお一人様1つまでとしています。<br>詳しくは、<a href="https://www.moratame.net/contents/regulation.php
			" target="_blank" class="smsAuth-normalLink">「ご利用にあたってのお約束ごと」</a>をご確認ください。
              </p>
            </div>
          </div>
        </div>
      </div>
      <script src="../assets/js/smsauthinput.js" charset="UTF-8"></script>

      {% include 'footer' %}

      <!-- footer-cart -->
      <div style="display: none;" id="sys--footer-cart" class="c-footer-cart" onClick="show_nimatome_cart_contents();">
        <p>カート</p>
        <p id="sys--nimatome-cart-cnt" data-nimatome-cart-cnt="0">0</p>
      </div>
      <!-- /footer-cart -->

      <!-- remodal -->
      <div class="remodal-bg"></div>
      <div id="sys--remodal--cart" class="remodal remodal--matomete-bin remodal--cart" data-remodal-id="modal-cart"></div>
      <!-- /remodal -->

      <script type="text/javascript" language="javascript">
        $(document).ready(function () {
          var hidden_cart_page_list = ['tamesu2.php', 'tamesu2_nimatome.php']
          var now_url = location.href;
          var now_url_list = now_url.split("/");
          var page = now_url_list[now_url_list.length - 1];
        })

        function new_add_alert() {
          alert('カートに入れました。内容については右下のカートをクリックして確認してください');
        }

        function nimatome_add_init_project(project_id, show_tamesu_modal_flg) {

          if ($('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt') == 0) {
            var modal = $('[data-remodal-id=modal]').remodal();
            modal.open();
          } else {
            nimatome_add_project(project_id, show_tamesu_modal_flg);
          }
        }

        function nimatome_add_project(project_id, show_tamesu_modal_flg) {
          var add_cnt = 1;
          $.ajax({
            type: "POST",
            url: "/app/api/nimatome/nimatome_cart_api.php",
            data: {
              "process": "addProject",
              "project_id": project_id,
              "add_cnt": add_cnt,
              "device": 'sp'
            },
            success: function (res) {
              if (res['result']) {
                if (show_tamesu_modal_flg) {
                  if ($('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt') == 0) {
                    var modal = $('[data-remodal-id=modal]').remodal();
                    $('#sys--nimatome-cart-cnt').text('1');
                    $('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt', 1);
                    $('#sys--footer-cart').show();
                    //modal.open();
                    setTimeout('new_add_alert()', 200);
                  } else {
                    show_nimatome_cart_contents();
                  }
                } else {
                  show_nimatome_cart_contents();
                }
              } else {
                if (res['reason'] && res['reason'] == 'nologin') {
                  location.href = res['uri_next'];
                } else {
                  alert('Error :' + res['msg']);
                }
              }
            }
          });
        }

        function nimatome_clear_cart_project(project_id) {
          $.ajax({
            type: "POST",
            url: "/app/api/nimatome/nimatome_cart_api.php",
            data: {
              "process": "clearCartProject",
              "project_id": project_id
            },
            success: function (res) {
              if (res['result']) {
                show_nimatome_cart_contents();
              } else {
                alert('Error :' + res['msg']);
              }
            }
          });
        }

        function show_nimatome_cart_contents() {
          $.ajax({
            type: "POST",
            url: "/app/api/nimatome/nimatome_cart_api.php",
            data: {
              "process": "checkCartContents"
            },
            success: function (res) {
              if (!res['result']) {
                alert('Error :' + res['msg']);
              } else {
                if (res['cart_sum'] == '0') {
                  var modal = $('[data-remodal-id=modal-cart]').remodal();
                  $('#sys--nimatome-cart-cnt').text(res['cart_sum']);
                  $('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt', res['cart_sum']);
                  $('#sys--footer-cart').hide();
                  modal.close();
                } else {
                  var remodal_cart_head_html = '';
                  remodal_cart_head_html += '<div class="remodal-heading">';
                  remodal_cart_head_html += '  <button data-remodal-action="close" class="remodal-close"></button>';
                  remodal_cart_head_html += '  <p>カート</p>';
                  remodal_cart_head_html += '</div>';
                  remodal_cart_head_html += '<div id="sys--cart-contents-remodal-row" class="remodal-row"></div>';
                  $('#sys--remodal--cart').html(remodal_cart_head_html);

                  var cart_contents_html = '';
                  var cart_price_sum = 0;
                  var cart_price_notax = 0;
                  var cart_cnt = 0;
                  for (var i = 0; i < res['rows'].length; i++) {
                    for (var j = 0; j < res['rows'][i]['cnt']; j++) {
                      cart_cnt += 1;
                      if (res['cart_sum'] == '2') {
                        cart_contents_html += '<div class="remodal-col">';
                        cart_contents_html += '  <div class="remodal--matomete-bin__card">';
                        cart_contents_html += '    <p class="remodal__card-heading">';
                        cart_contents_html += '      商品' + String(cart_cnt);
                        cart_contents_html += '      <span class="remodal__card-heading-close" onClick="nimatome_clear_cart_project(\'' + res['rows'][i]['pjt_id'] + '\');">';
                        cart_contents_html += '      </span>';
                        cart_contents_html += '    </p>';
                        cart_contents_html += '    <div class="remodal--matomete-bin__img-contaner">';
                        cart_contents_html += '      <img src="' + res['rows'][i]['img_path'] + '" alt="' + res['rows'][i]['sname'] + '" width="320" height="320">';
                        cart_contents_html += '    </div>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__item-name">' + res['rows'][i]['disp_sname'] + '</p>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__price mt_10" style="height:auto;">';
                        cart_contents_html += '      送料関係費<br><span class="remodal--matomete-bin__number">' + res['rows'][i]['offer_price'] + '円(税込' + res['rows'][i]['price_notax'] + '円)</span>';
                        cart_contents_html += '    </p>';
                        cart_contents_html += '  </div>';
                        cart_contents_html += '</div>';
                      } else if (res['cart_sum'] == '1') {
                        cart_contents_html += '<div class="remodal-col">';
                        cart_contents_html += '  <div class="remodal--matomete-bin__card">';
                        cart_contents_html += '    <p class="remodal__card-heading">';
                        cart_contents_html += '      商品' + String(cart_cnt);
                        cart_contents_html += '      <span class="remodal__card-heading-close" onClick="nimatome_clear_cart_project(\'' + res['rows'][i]['pjt_id'] + '\');">';
                        cart_contents_html += '      </span>';
                        cart_contents_html += '    </p>';
                        cart_contents_html += '    <div class="remodal--matomete-bin__img-contaner">';
                        cart_contents_html += '      <img src="' + res['rows'][i]['img_path'] + '" alt="' + res['rows'][i]['sname'] + '" width="320" height="320">';
                        cart_contents_html += '    </div>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__item-name">' + res['rows'][i]['disp_sname'] + '</p>';
                        cart_contents_html += '    <p class="remodal--matomete-bin__price mt_10" style="height:auto;">';
                        cart_contents_html += '      送料関係費<br><span class="remodal--matomete-bin__number">' + res['rows'][i]['offer_price'] + '円(税込' + res['rows'][i]['price_notax'] + '円)</span>';
                        cart_contents_html += '    </p>';
                        if (res['rows'][i]['nimatome_flg'] != '2') {
                          cart_contents_html += '    <button data-remodal-action="close" class="remodal--matomete-bin__btn  mt_10"';
                          cart_contents_html += '        onClick="location.href=\'https://stg.moratame.net/s/detail/tamesu2.php?fst=1&quick=1&project_id=' + res['rows'][i]['pjt_id'] + '#anchor01\';">';
                          cart_contents_html += '        この商品のみ<br>タメす！';
                          cart_contents_html += '    </button>';
                        }
                        cart_contents_html += '    </div>';
                        cart_contents_html += '  </div>';
                        cart_contents_html += '</div>';
                      }

                      cart_price_sum += parseInt(res['rows'][i]['offer_price'].split(",").join(""));
                      cart_price_notax += parseInt(res['rows'][i]['price_notax'].split(",").join(""));
                    }
                  }

                  var cart_after_contents_html = ''
                  if (res['cart_sum'] == '2') {
                    cart_after_contents_html += '<div class="mt_10">';
                    cart_after_contents_html += '  <p class="remodal--matomete-bin__price ta_c">';
                    cart_after_contents_html += '    送料関係費：<span class="remodal--matomete-bin__number">' + cart_price_sum + '円(税込' + cart_price_notax + '円)</span>';
                    cart_after_contents_html += '  </p>';
                    cart_after_contents_html += '  <p class="remodal--matomete-bin__price ta_c">';
                    cart_after_contents_html += '    ポイント：<span class="remodal--matomete-bin__number">&yen;+100pt</span>';
                    cart_after_contents_html += '  </p>';
                    cart_after_contents_html += '</div>';
                    cart_after_contents_html += '<button data-remodal-action="close" class="remodal--matomete-bin__btn  mt_10"';
                    cart_after_contents_html += '    onClick="location.href=\'https://stg.moratame.net/s/detail/tamesu2_nimatome.php\';">まとめてタメす</button>';
                  } else if (res['cart_sum'] == '1') {
                    cart_contents_html += '<div class="remodal-col">';
                    cart_contents_html += '  <div class="remodal--matomete-bin__card">';
                    cart_contents_html += '    <p class="remodal__card-heading">';
                    cart_contents_html += '      商品' + String(cart_cnt + 1);
                    cart_contents_html += '    </p>';
                    cart_contents_html += '    <div class="remodal--matomete-bin__img-contaner remodal--matomete-bin__img-contaner--right-col-no-image">';
                    cart_contents_html += '    </div>';
                    cart_contents_html += '    <p class="remodal--matomete-bin__price mt_10" style="height:auto;">　</p>';
                    cart_contents_html += '    <button data-remodal-action="close" class="remodal--matomete-bin__btn  mt_10"';
                    cart_contents_html += '        onClick="location.href=\'https://stg.moratame.net/s/detail/nimatomelist.php\';">もう１商品選ぶ</button>';
                    cart_contents_html += '  </div>';
                    cart_contents_html += '</div>';

                    $('#sys--cart-point').html('&yen;+0');
                  }
                  $('#sys--cart-contents-remodal-row').html(cart_contents_html);
                  $('#sys--cart-contents-remodal-row').after(cart_after_contents_html);
                  $('#sys--nimatome-cart-cnt').text(res['cart_sum']);
                  $('#sys--nimatome-cart-cnt').attr('data-nimatome-cart-cnt', res['cart_sum']);

                  var modal = $('[data-remodal-id=modal-cart]').remodal();
                  $('#sys--footer-cart').show();
                  modal.open();
                }
              }
            }
          });
        }
      </script>

    </div>
    </div>

    <script type="module" src="../assets/js/main.js"></script>

  </body>



  <script type="text/javascript" src="../assets/js/moratame_s_common.js?2026030513"></script>
  <script type="text/javascript" src="../assets/js/p9255-scripts.js?2026030513"></script>

</html>
