.se-news {
  margin-bottom: 20px;
}

.se-news .heading {
  background-color: #f8405f;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

.se-news .container {
  border-color: #f8405f;
  padding: 10px;
  border-width: 0 1px 1px;
  border-style: solid;
  background-color: #fff;
}

.se-news .container .newsListWrap {
  padding: 0 5px 10px;
  font-size: 12px;
}

.se-news .container .newsListWrap li {
  font-size: 12px;
  line-height: 1.7;
}

.about .container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.about .container .catch {
  position: relative;
}

.about .container .catch img {
  width: 960px;
  height: auto;
  margin-bottom: 70px;
}

.about .container .catch .caption {
  position: absolute;
  right: -7px;
  top: 149px;
  text-align: center;
  font-size: 10px;
}

.pr-tame .ta-list .unit {
  position: relative;
  margin: 5px 0;
  padding: 5px 15px 5px 5px;
  width: 295px;
  background: #fff;
  cursor: pointer;
}

.pr-tame .ta-list .unit .item {
  float: left;
  width: 60px;
}

.pr-tame .ta-list .unit .item img {
  width: 60px;
  height: auto;
}

.contents {
  width: 768px;
  margin: 0 auto;
}

.contents .cards img {
  height: 30px;
  width: auto;
  margin-right: 2px;
}

.footer {
  width: 100%;
  padding-top: 30px;
}

.contents {
  margin-top: 10px;
}

.result {
  position: relative;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.result .count {
  position: absolute;
  right: 0;
  bottom: 0;
}

.privacy p,
.privacy h3,
.privacy h4,
.privacy ol,
.privacy ul,
.regulation p,
.regulation h3,
.regulation h4,
.regulation ol,
.regulation ul {
  margin-bottom: 1em;
}

.privacy ul,
.privacy ol,
.regulation ul,
.regulation ol {
  padding-left: 1.5em;
}

.privacy ul,
.regulation ul {
  list-style-type: disc;
}

.privacy ol,
.regulation ol {
  list-style-type: decimal;
}

.privacy h3,
.regulation h3 {
  border-left: 7px solid #8cbc00;
  border-bottom: 1px dashed #cdcdcd;
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
}

.privacy h4,
.regulation h4 {
  font-weight: bold;
}

.border {
  border-bottom: 2px solid #b8b4a1;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* grid system */
.l-card-items {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16px;

  @media (width >= 375px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.l-card-items--tame {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin-top: 16px;

  @media (width >= 375px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >= 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.l-card-items--mora {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 16px;

  @media (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* grid system */

.l-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}
