/* A
-----------------------------------------------------------
--------------------------------------------------------- */
/* aboutKazokuHassou
--------------------------------------------------------- */

/* /aboutKazokuHassou
--------------------------------------------------------- */
/* aboutOffice
--------------------------------------------------------- */

/* /aboutOffice
--------------------------------------------------------- */
/* accordionContainer
--------------------------------------------------------- */

/* accordionContainer
--------------------------------------------------------- */
/* arrow
--------------------------------------------------------- */

/* /arrow
--------------------------------------------------------- */
/* alerts
--------------------------------------------------------- */

/* /alerts
--------------------------------------------------------- */
/* attentions
--------------------------------------------------------- */

/* /attentions
--------------------------------------------------------- */
/* attention
--------------------------------------------------------- */

/* /attention
--------------------------------------------------------- */
/* attentionAccordion
--------------------------------------------------------- */

/* /attentionAccordion
--------------------------------------------------------- */
/* /A
-----------------------------------------------------------
--------------------------------------------------------- */
/* B
-----------------------------------------------------------
--------------------------------------------------------- */

/* /cardContainr
--------------------------------------------------------- */
/* balloonPocke
--------------------------------------------------------- */

/* /balloonPocke
--------------------------------------------------------- */
/* bar
--------------------------------------------------------- */

/* bar
--------------------------------------------------------- */
/* banner
--------------------------------------------------------- */

/* /banner
--------------------------------------------------------- */
/* background-color
--------------------------------------------------------- */
.bgc_gray01 {
  background-color: #e6e5dd;
}

/* /background-color
--------------------------------------------------------- */
/* btnGlid
--------------------------------------------------------- */

/* /btnGlid
--------------------------------------------------------- */
/* button
--------------------------------------------------------- */
/* btnSquare */
.btnSquare01wrap {
  padding: 2px 0;
}

/* /btnSquare */
/* btnRakuten */

/* /btnRakuten */
/* btnBean */

/* /btnBean */
/* goodBtn */

.goodBtnWrap {
  position: relative;
  padding-right: 30px;
  width: 70px;
}
.goodBtnWrap .goodBtn {
  display: block;
  padding-left: 35px;
  background-size: 30px;
  background-repeat: no-repeat;
  line-height: 31px;
}
.goodBtnWrap .goodBtn.moreGood {
  background-image: url(https://image.moratame.net/img2014/icons/ico_good01.png);
}
.goodBtnWrap .goodBtn.moreGood:hover {
  background-image: url(https://image.moratame.net/img2014/icons/ico_good01.png);
}
.goodBtnWrap .goodBtn.moreGood:active {
  background-image: url(https://image.moratame.net/img2014/icons/ico_good02.png);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.goodBtnWrap *.goodBtn.moreGood {
  background-image: url(https://image.moratame.net/img2014/icons/ico_good01-ltie8.png);
}
.goodBtnWrap *.goodBtn.moreGood:hover {
  background-image: url(https://image.moratame.net/img2014/icons/ico_good01-ltie8.png);
}
.goodBtnWrap *.goodBtn.moreGood:active {
  background-image: url(https://image.moratame.net/img2014/icons/ico_good02-ltie8.png);
}
.goodBtnWrap .counter {
  position: absolute;
  top: 50%;
  left: 73px;
  margin-top: -10px;
  text-decoration: none;
}

/* /goodBtn */
/* btnInput */

/* /btnInput */
/* btnBar */

/* /btnBar */
/* /button
--------------------------------------------------------- */
/* babbleList
--------------------------------------------------------- */

/* /babbleList
--------------------------------------------------------- */
/* border
--------------------------------------------------------- */

/* /border
--------------------------------------------------------- */
/* box size
--------------------------------------------------------- */

/* /box size
--------------------------------------------------------- */
/* C
-----------------------------------------------------------
--------------------------------------------------------- */
/* categoryContainer
--------------------------------------------------------- */

/* /categoryContainer
--------------------------------------------------------- */
/* color
--------------------------------------------------------- */
.c_red {
  color: red;
}

.c_red02 {
  color: #e70033;
}

/* /color
--------------------------------------------------------- */
/* container
--------------------------------------------------------- */

.item-part {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* /container
--------------------------------------------------------- */
/* /C
-----------------------------------------------------------
--------------------------------------------------------- */
/* D
-----------------------------------------------------------
--------------------------------------------------------- */
/* /D
-----------------------------------------------------------
--------------------------------------------------------- */
/* E
-----------------------------------------------------------
--------------------------------------------------------- */
/* everyPost
--------------------------------------------------------- */
.everyPost .lead {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.everyPost .unit {
  position: relative;
  padding-top: 24px;
}
.everyPost .unit .icoBar02 {
  position: absolute;
  left: -24px;
  top: 0;
}

/* /everyPost
--------------------------------------------------------- */
/* /E
-----------------------------------------------------------
--------------------------------------------------------- */
/* F
-----------------------------------------------------------
--------------------------------------------------------- */

/* form-fields
--------------------------------------------------------- */
.textInputStyle01 {
  border: 1px solid #bfbfbf;
  padding: 8px;
  font-size: 14px;
  border-radius: 3px;
}

.textareaStyle01 {
  width: 578px;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  height: 150px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

.textInputStyle01:focus {
  background-color: #fcfbc2;
}

form input::-webkit-input-placeholder {
  color: #aaa;
}

form input:-ms-input-placeholder {
  color: #aaa;
}

form input::-moz-placeholder {
  color: #aaa;
}

/* /form-fields
--------------------------------------------------------- */
/* firstV-modal
--------------------------------------------------------- */

/* /firstV-modal
--------------------------------------------------------- */
/* /F
-----------------------------------------------------------
--------------------------------------------------------- */
/* G
-----------------------------------------------------------
--------------------------------------------------------- */
/* gcseSearch
--------------------------------------------------------- */

/* /gcseSearch
--------------------------------------------------------- */
/* loginStatusBar
------------------------------------------------- */

/* /loginStatusBar
------------------------------------------------- */
/* /G
-----------------------------------------------------------
--------------------------------------------------------- */
/* goods-table
--------------------------------------------------------- */

/* H
-----------------------------------------------------------
--------------------------------------------------------- */
/* heading
--------------------------------------------------------- */
.heading.xx-large {
  font-size: 27px;
  line-height: 1.5;
}
.heading.xx-large.withIcon {
  padding-left: 45px;
  position: relative;
}
.heading.xx-large .icoWrap {
  width: 45px;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.heading.xx-large .icoWrap img {
  height: 36px;
  width: auto;
  vertical-align: top;
}
.heading.small {
  font-size: 16px;
  font-weight: bold;
}
.heading.active {
  background-color: #ffff9a;
}

/* /heading
--------------------------------------------------------- */
/* /H
-----------------------------------------------------------
--------------------------------------------------------- */
/* I
-----------------------------------------------------------
--------------------------------------------------------- */
/* ico
--------------------------------------------------------- */

.icoBar02 {
  font-size: 14px;
  line-height: 20px;
  width: 90px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
  text-decoration: none;
  display: block;
}
.icoBar02.twitter {
  background-color: #0ba7e1;
}
.icoBar02.facebook {
  background-color: #083eb3;
}

.icoBar06 {
  color: #fff;
  display: inline;
  padding: 0 0.2em;
  word-break: keep-all;
}
.icoBar06.new {
  background-color: #ff451f;
}
.icoBar06.few {
  background-color: #3366ff;
}
.icoBar06.recommend {
  background-color: #ff398d;
}
.icoBar06.pet {
  background-color: #d45b07;
}
.icoBar06.report {
  background-color: #ff7f0e;
}
.icoBar06.repeat {
  background-color: #524d50;
}
.icoBar06.already {
  background-color: #919191;
}
.icoBar06.post {
  background-color: #f63b4d;
}
.icoBar06.return {
  background-color: #11b0dd;
}

/* /ico
--------------------------------------------------------- */
/* imgDabbleSize
--------------------------------------------------------- */

/* /imgDabbleSize
--------------------------------------------------------- */
/* itemIcon
--------------------------------------------------------- */
.itemicon {
  font-size: 10px;
  text-decoration: none;
  line-height: 18px;
  color: #fff;
  padding: 0 5px;
}

/* /itemIcon
--------------------------------------------------------- */
/* /I
-----------------------------------------------------------
--------------------------------------------------------- */
/* J
-----------------------------------------------------------
--------------------------------------------------------- */
/* /J
-----------------------------------------------------------
--------------------------------------------------------- */
/* K
-----------------------------------------------------------
--------------------------------------------------------- */
/* /K
-----------------------------------------------------------
--------------------------------------------------------- */
/* L
-----------------------------------------------------------
--------------------------------------------------------- */
/* list
--------------------------------------------------------- */

/* /list
--------------------------------------------------------- */
/* list-contaier
--------------------------------------------------------- */

/* /list-contaier
--------------------------------------------------------- */
/* /L
-----------------------------------------------------------
--------------------------------------------------------- */
/* M
-----------------------------------------------------------
--------------------------------------------------------- */

/* mitsukeru
--------------------------------------------------------- */

/*--------------------------
mitsukeru way
-------------------------- */

/*--------------------------
receipt
-------------------------- */

/*--------------------------
mark-list
-------------------------- */

/* /mitsukeru
--------------------------------------------------------- */
/* /M
-----------------------------------------------------------
--------------------------------------------------------- */
/* N
-----------------------------------------------------------
--------------------------------------------------------- */
/* navigation
--------------------------------------------------------- */

/* /navigation
--------------------------------------------------------- */
/* /N
-----------------------------------------------------------
--------------------------------------------------------- */
/* O
-----------------------------------------------------------
--------------------------------------------------------- */
/* overview
--------------------------------------------------------- */

/* /overview
--------------------------------------------------------- */
/* office
--------------------------------------------------------- */

/* /office
--------------------------------------------------------- */
/* /O
-----------------------------------------------------------
--------------------------------------------------------- */
/* P
-----------------------------------------------------------
--------------------------------------------------------- */
/* pageTopScroll
--------------------------------------------------------- */
.pageTopScroll {
  position: fixed;
  font-size: 14px;
  right: 30px;
  bottom: -10px;
  text-align: center;
}
.pageTopScroll a {
  text-decoration: none;
  display: block;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  padding: 10px 10px 20px;
  border-radius: 10px;
  background-color: rgba(20, 20, 20, 0.5);
  color: #fff;
}
.pageTopScroll a:hover {
  background-color: rgba(20, 20, 20, 0.9);
}

/* /pageTopScroll
--------------------------------------------------------- */
/* paging
--------------------------------------------------------- */
.paging {
  width: 100%;
  position: relative;
  background: #d8d4c6;
  height: 30px;
}

/* /paging
--------------------------------------------------------- */
/* photoList
--------------------------------------------------------- */

/* /photoList
--------------------------------------------------------- */
/* pickup-list
--------------------------------------------------------- */

/* /pickup-list
--------------------------------------------------------- */
/* mo-pickupReview
--------------------------------------------------------- */

/* /mo-pickupReview
--------------------------------------------------------- */
/* pr-list
--------------------------------------------------------- */

/* /pr-list
--------------------------------------------------------- */
/* /P
-----------------------------------------------------------
--------------------------------------------------------- */
/* quickBtn
--------------------------------------------------------- */

/* /quickBtn
--------------------------------------------------------- */
/* Q
-----------------------------------------------------------
--------------------------------------------------------- */
/* /Q
-----------------------------------------------------------
--------------------------------------------------------- */
/* R
-----------------------------------------------------------
--------------------------------------------------------- */
/* reviews
--------------------------------------------------------- */

/* /reviews
--------------------------------------------------------- */
/* reviewsWrap
--------------------------------------------------------- */

/* /reviewsWrap
--------------------------------------------------------- */
/* /R
-----------------------------------------------------------
--------------------------------------------------------- */
/* S
-----------------------------------------------------------
--------------------------------------------------------- */
/* siteMap
--------------------------------------------------------- */

/* /siteMap
--------------------------------------------------------- */
/* snsBtnList
--------------------------------------------------------- */

/* /snsBtnList
--------------------------------------------------------- */
/* stamp
--------------------------------------------------------- */

/* /stamp
--------------------------------------------------------- */
/* style-table
--------------------------------------------------------- */
.st-table01 {
  border: 1px solid #c9c9c9;
  width: 100%;
}
.st-table01 th,
.st-table01 td {
  padding: 10px;
}
.st-table01 th {
  background-color: #eee;
  font-weight: bold;
}
.st-table01 td {
  background-color: #fff;
}
.st-table01 .bd-raw {
  border-bottom: 1px solid #c9c9c9;
}
.st-table01 .avatar ul {
  width: 450px;
  padding-bottom: 5px;
}
.st-table01 .avatar ul li {
  width: 40px;
  float: left;
  margin: 0 10px 5px 0;
  text-align: center;
}
.st-table01 .avatar ul li img {
  width: 40px;
  height: auto;
}

/* /style-table
--------------------------------------------------------- */
/* scrollBox
--------------------------------------------------------- */

/* /scrollBox
--------------------------------------------------------- */
/* /S
-----------------------------------------------------------
--------------------------------------------------------- */
/* T
-----------------------------------------------------------
--------------------------------------------------------- */

/* /T
-----------------------------------------------------------
--------------------------------------------------------- */
/* U
-----------------------------------------------------------
--------------------------------------------------------- */

/* /U
-----------------------------------------------------------
--------------------------------------------------------- */
/* V
-----------------------------------------------------------
--------------------------------------------------------- */
/* /V
-----------------------------------------------------------
--------------------------------------------------------- */
/* W
-----------------------------------------------------------
--------------------------------------------------------- */
/* /W
-----------------------------------------------------------
--------------------------------------------------------- */
/* X
-----------------------------------------------------------
--------------------------------------------------------- */
/* /X
-----------------------------------------------------------
--------------------------------------------------------- */
/* Y
-----------------------------------------------------------
--------------------------------------------------------- */
/* /Y
-----------------------------------------------------------
--------------------------------------------------------- */
/* Z
-----------------------------------------------------------
--------------------------------------------------------- */
/* /Z
-----------------------------------------------------------
--------------------------------------------------------- */
