.heading__sub-title {
  font-size: 12px;
}
@media only screen and (min-width: 1270px) {
  .heading__sub-title {
    font-size: 18px;
  }
}
.heading.xx-large {
  font-size: 18px;
}
@media only screen and (min-width: 1270px) {
  .heading.xx-large {
    font-size: 27px;
  }
}
.heading.xx-large .icoWrap {
  top: auto;
  bottom: 0;
}

.footer {
  font-size: 12px;
}

.pageTopScroll a:link,
.pageTopScroll a:active,
.pageTopScroll a:hover,
.pageTopScroll a:visited {
  color: #fff;
}

/*
  ここからリニューアル商品ページ用のCSS
--------------------- */
/* ---------------------
  ここまでリニューアル商品ページ用のCSS  
*/
/*
  ここからトップページ用のCSS  
--------------------- */

/* ---------------------
  ここまでトップページ用のCSS  
*/
