.contents {
  width: auto;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 1270px) {
  .contents {
    max-width: 1255px;
  }
}
@media only screen and (min-width: 1615px) {
  .contents {
    max-width: 1600px;
  }
}

.contents {
  max-width: 768px;
}
.contents * {
  box-sizing: content-box;
}

/* badge
--------------------------------------------------------- */
.badge {
  position: absolute;
  height: auto;
  border-radius: 0;
}
.badge.cardBadge {
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  top: 0;
  left: 0;
  padding: 0 0.5em;
  color: #fff;
  border-radius: 0 0 5px 0;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}
@media only screen and (min-width: 1270px) {
  .badge.cardBadge {
    font-size: 11px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 1615px) {
  .badge.cardBadge {
    font-size: 12px;
    line-height: 24px;
  }
}
.badge.new {
  background-color: #ff451f;
}
.badge.few {
  background-color: #36f;
}
.badge.recommend {
  background-color: #ff398d;
}
.badge.pet {
  background-color: #d45b07;
}
.badge.report {
  background-color: #ff7f0e;
}
.badge.already {
  background-color: #919191;
}
.badge.post {
  background-color: #f63b4d;
}
.badge.return {
  background-color: #11b0dd;
}

/* /badge
--------------------------------------------------------- */

/*
  http://www.cssportal.com/css-ribbon-generator/
*/
.box {
  position: relative;
}

.p-masthead {
  padding-top: 20px;
  color: #6f6056;
  background-image: url(\//image.moratame.net/images/masthead/masthead-bg--spring.png);
  background-size: 103px;
}

.p-masthead__nav {
  display: flex;
  display: -ms-flexbox;
  /*--- IE10 --- */
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  -js-display: flex;
  -ms-flex-line-pack: stretch;
  /*--- IE10 --- */
  -ms-flex-pack: justify;
  /*--- IE10 --- */
  justify-content: space-around;
}
@media only screen and (min-width: 1270px) {
  .p-masthead__nav {
    width: 1255px;
  }
}
@media only screen and (min-width: 1615px) {
  .p-masthead__nav {
    width: 1600px;
  }
}
.p-masthead__nav li {
  position: relative;
  width: 100%;
  text-align: center;
}
@media all and (-ms-high-contrast: none) {
  .p-masthead__nav li {
    width: auto;
    /* IE10以下 => 結果的にIE10のみ */
  }
}
@media all and (-ms-high-contrast: none) {
  .p-masthead__nav {
    /* IE11 */
  }
  .p-masthead__nav *::-ms-backdrop,
  .p-masthead__nav li {
    width: 100%;
  }
}
.p-masthead__nav a {
  font-weight: bold;
  line-height: 45px;
  display: block;
  box-sizing: border-box;
  height: 45px;
}
.p-masthead__nav a:hover,
.p-masthead__nav a:active {
  text-decoration: none;
  color: #e52c06;
  border-bottom: 3px solid #e52c06;
}
.p-masthead__nav a:hover span::before,
.p-masthead__nav a:active span::before {
  color: #e52c06;
}
.p-masthead__nav a span::before {
  color: #6f6056;
}

.p-card--top {
  position: relative;
  border: 1px solid #e7e7ea;
  background-color: #fdfcfb;
}
.p-card--top--mora {
  position: relative;
  box-sizing: content-box;
  min-height: 158px;
}
.p-card--top--mora li {
  display: inline-block;
  margin-right: 10px;
}
.p-card__detail {
  font-size: 12px;
  padding: 10px;
}
@media only screen and (min-width: 1615px) {
  .p-card__detail {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.p-card .count {
  font-size: 14px;
}

#g3 .container {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
