/* badge
--------------------------------------------------------- */
.badge {
  position: absolute;
  height: auto;
  border-radius: 0;
}
.badge.cardBadge {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  top: 0;
  left: 0;
  padding: 2px 0.5em;
  color: #fff;
  border-radius: 0 0 3px 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}
@media (min-width: 1270px) {
  .badge.cardBadge {
    font-size: 11px;
  }
}
@media (min-width: 1615px) {
  .badge.cardBadge {
    font-size: 12px;
  }
}
.badge.new {
  background-color: #ff451f;
}
.badge.few {
  background-color: #36f;
}
.badge.recommend {
  background-color: #ff398d;
}
.badge.pet {
  background-color: #d45b07;
}
.badge.report {
  background-color: #ff7f0e;
}
.badge.already {
  background-color: #919191;
}
.badge.post {
  background-color: #f63b4d;
}
.badge.return {
  background-color: #11b0dd;
}

/* /badge
--------------------------------------------------------- */

.icoBar06 {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.5;
  display: inline-block;
  padding: 0 0.2em;
  word-break: keep-all;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.icoBar06.new {
  background-color: #ff451f;
}
.icoBar06.few {
  background-color: #36f;
}
.icoBar06.recommend {
  background-color: #ff398d;
}
.icoBar06.pet {
  background-color: #d45b07;
}
.icoBar06.report {
  background-color: #ff7f0e;
}
.icoBar06.repeat {
  background-color: #524d50;
}
.icoBar06.already {
  background-color: #919191;
}
.icoBar06.post {
  background-color: #f63b4d;
}
.icoBar06.return {
  background-color: #11b0dd;
}

.p-card--top {
  position: relative;
  border: 1px solid #e7e7ea;
  background-color: #fdfcfb;
}
.p-card--top--mora {
  position: relative;
  box-sizing: content-box;
  min-height: 158px;
}
.p-card--top--mora li {
  display: inline-block;
  margin-right: 10px;
}

.p-card__detail {
  font-size: 12px;
  padding: 10px;
}
@media (min-width: 1615px) {
  .p-card__detail {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.p-card .count {
  font-size: 14px;
}
.p-card .thumbnail {
  width: 100%;
  height: auto;
}

.js-menu__link {
  position: relative;
}
.js-menu__link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: #666;
  content: "\f13a";
}
.js-menu__link.active::after {
  content: "\f139";
}
.js-menu__link {
  padding: 10px 30px 10px 20px;
  border-bottom: 1px solid #ddd;
  background: #eee;
  line-height: 1.5;
}

.js-submenu__link {
  position: relative;
}
.js-submenu__link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: #666;
  content: "\f13a";
}
.js-submenu__link.active::after {
  content: "\f139";
}
.js-submenu__link {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background: #fafafa;
  text-indent: 2em;
  line-height: 1;
}

.submenu {
  display: none;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  line-height: 1.75;
}

.submenu_child {
  display: none;
  background: #fff;
}

/* Visual Formatting
------------------------------ */
.d {
  display: block;
}

/* Box Sizing
------------------------------ */

/* Text
------------------------------ */

/* ------------------------------
css/style--pc.css の上書きスタイル
------------------------------ */

/* ------------------------------
/ css/style--pc.css の上書きスタイル
------------------------------ */
/* ------------------------------
 css/style--sp.css の上書きスタイル
------------------------------ */
.p-project-lists__dl.p-project-lists__dl--tame {
  width: 90%;
}

/* ------------------------------
/ css/style--sp.css の上書きスタイル
------------------------------ */
/* ------------------------------
SP and PC
------------------------------ */

/* ------------------------------
/SP and PC
------------------------------ */
/* ------------------------------
PC
------------------------------ */
/* ------------------------------
/PC
------------------------------ */
/* ------------------------------
SP
------------------------------ */

/* ------------------------------
/SP
------------------------------ */
/* ------------------------------
modal-clip
------------------------------ */
body {
  position: relative;
}

/* ------------------------------
/ modal-clip
------------------------------ */
/* ------------------------------
/ SDGs
------------------------------ */

/* @tailwind base; */
