@charset "UTF-8";

.with_sns {
    display: flex;
    align-items: center;
    margin: 10px 0 5px;
    gap: 15px;
}

.with_sns_twitter {
    display: flex;
    align-items: center;
    gap: 5px;
}

.with_sns_twitter label {
    background-color: #00acee;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
    padding: 2px 10px;
    margin: 1px;
}

.with_sns_twitter label input {
    margin-right: 10px;
}

.comment_textarea {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    line-height: 1.3;
    height: 150px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
}
.ct_content_box {
    margin-top: 10px;
}

.preview_box {
    margin: 20px 0;
}

.thumbnail-wrap-comment {
    padding-top: 10px;
}

.thumbnail-wrap-comment li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 24%;
    display: inline-block;
}

.thumbnail-wrap-comment li img {
    width: 100%;
    height: auto;
}
