<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = '再発送依頼完了｜Vポイントが貯まる・使える Vサンプル' %}
    {% capture head_extra %}
    <link rel="stylesheet" type="text/css" href="../assets/css/member-registration.css">
    {% endcapture %}
    {% include 'head' %}
  </head>

  <body id="pageTop">
    <div class="body-wrapper">
      {% include 'header' %}
      <main style="padding-top: 67px;">
        <div class="main">
          <h3 class="step-name" style="margin-top: 10px;">再発送依頼を受け付けました。</h3>
        </div>
      </main>
      {% include 'footer' %}
    </div>

    <script src="../assets/js/t.js"></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>

</html>
