<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'シェアフルモニター | 再発送依頼完了' %} {% capture head_extra %} {% endcapture %} {% include 'head' %}
  </head>

  <body id="pageTop">
    <div class="body-wrapper">
      {% include 'header' %}
      <main aria-labelledby="redelivery-complete-heading">
        <div class="l-container">
          <h1 id="redelivery-complete-heading" class="mt-8 text-center text-lg font-normal">登録解除手続きが完了致しました。</h1>
          <div class="t-button">
            <button id="" class="t-button__green t-button__small-text t-button__blue">シェアフルモニタートップへ</button>
          </div>
        </div>
      </main>
      {% include 'footer' %}
    </div>

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
