<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = '新規会員登録（完了）' %}
    {% include 'head-login-contents' %}

  <body id="pageTop">
    <div class="page">












      <div class="body-wrapper">
        {% include 'header' %}
        <!-- cliplist -->
        <div class="content">
          <div class="container">
            <div class="block">
              <div class="title">
                エラー
              </div>
              <form action="https://stg.moratame.net/s/login/index2.php" method="post">
                <div class="form">
                  <div class="error">登録情報が見つかりませんでした。<br>お手数ですが再度最初からお試しください。</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% include 'footer' %}
      </div>




    </div>

    <script type="module" src="../assets/js/main.js"></script>

  </body>


  <script type="text/javascript" src="../assets/js/moratame_s_common.js?2026030513"></script>
  <script type="text/javascript" src="../assets/js/p9255-scripts.js?2026030513"></script>

</html>
