<!DOCTYPE html>
<html lang="ja">

  <head>
    {% assign page_title = 'シェアフル 6-2 会員情報入力 入力内容確認' %}
    {% capture head_extra %}
    <link rel="stylesheet" href="../assets/css/member-registration.css?2026030513" />
    {% endcapture %}
    {% include 'head-login-contents' %}

  <body id="pageTop">

    <div class="page" id="registration-page">


      <div class="body-wrapper">
        {% include 'header' %}
        <main id="contente-top" class="content">
          <div class="l-container">
            <section class="new-signup-confirm">
              <!--パンくず-->
              <p class="milesstone"><img src="../assets/images/img/milestone-2.png" alt="step1 入力内容確認"></p>
              <!--パンくず-->
              <!--ページタイトル-->
              <h1 class="heading-ttl">入力内容確認</h1>
              <!--ページタイトル-->

              <form action="https://stg.moratame.net/s/contents/signup04.php" method="post" name="new-signup-input" id="new-signup-input">
                <!--性別-->
                <div class="select-area select-sex">
                  <div class="form-ttl">
                    <h2 class="element-ttl">性別</h2>
                  </div>
                  <div class="input-area">
                    <p class="confirm-text">男性</p>
                  </div>
                </div>
                <!--/ 性別-->
                <!--生年月日-->
                <div class="select-area select-birthday">
                  <div class="form-ttl">
                    <h2 class="element-ttl">生年月日</h2>
                  </div>
                  <div class="input-area">
                    <p class="confirm-text">1980年02月01日</p>
                  </div>
                </div>
                <!--/生年月日-->
                <!--メールアドレス-->
                <div class="select-area select-email">
                  <div class="form-ttl">
                    <h2 class="element-ttl">メールアドレス</h2>
                  </div>
                  <div class="input-area">
                    <p class="confirm-text">kanno+1@dohouse.co.jp</p>
                  </div>
                </div>
                <!--/メールアドレス-->
                <!--パスワード-->
                <div class="select-area select-password">
                  <div class="form-ttl">
                    <h2 class="element-ttl">パスワード</h2>
                  </div>
                  <div class="input-area">
                    <p class="confirm-text">VoK93Vxv</p>
                  </div>
                </div>
                <!--/パスワード-->
                <!--ニックネーム-->
                <div class="select-area select-nickname">
                  <div class="form-ttl">
                    <h2 class="element-ttl">ニックネーム</h2>
                  </div>
                  <div class="input-area">
                    <p class="confirm-text">あlsdfkj</p>
                  </div>
                </div>
                <!--/ニックネーム-->
                <!--紹介コード-->
                <div class="select-area select-password">
                  <div class="form-ttl">
                    <h2 class="element-ttl">紹介コード</h2>
                  </div>
                  <div class="input-area">
                    <p class="confirm-text"></p>
                  </div>
                </div>
                <!--/紹介コード-->
                <hr>
                <div class="input-area">
                  <p class="confirm-text" style="color: #ff0000;">※ 携帯メールアドレスをご登録いただく場合、<br>moratame.netからのドメイン着信許可を設定<br>してください。</p>
                </div>
                <hr>
                <div class="submit-btn">
                  <button type="submit" rel="external">電話番号認証を行う</button>
                </div>
                <div class="correct-btn">
                  <a href="../contents/signup01.html" rel="external">
                    <button type="button" rel="external">内容を修正する</button>
                  </a>
                </div>
              </form>
            </section>
          </div>
        </main>
        {% include 'footer' %}
      </div>

    </div>

    <script type="module" src="../assets/js/main.js"></script>

  </body>

</html>
