<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'シェアフルモニター | 新規会員登録（完了）' %} {% assign page_is_login_contents = true %} {% capture head_extra %} {% endcapture %} {% include 'head' %}
  </head>

  <body id="pageTop">
    <div class="page" id="registration-page">
      <div class="body-wrapper is-no-navbar">
        <main class="content" aria-labelledby="signup05-heading">
          <div class="l-container">
            <section class="new-signup-input pb-[32px]" aria-labelledby="signup05-heading">
              <img src="../assets/images/img/milestone-4.png" alt="step4 会員登録完了" class="u-img-center u-img" width="750" height="64" />
              <h1 class="heading-ttl" id="signup05-heading">会員登録完了</h1>

              <p class="new-signup-input__complete-message">dummy@dummy-mail.co.jpにメールを送信しました</p>
              <p class="side-text">もしメールが届いていない場合、ご登録いただいたメールアドレスが誤っている可能性がありますので、登録情報変更よりメールアドレスを変更ください。</p>

              <div class="submit-area">
                <a href="../index.html" class="c-button c-button--confirm">トップへ戻る</a>
              </div>
            </section>
          </div>
        </main>
        {% include 'footer' %}
      </div>
    </div>

    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
