<!DOCTYPE html>
<html lang="ja">

  <head>



















    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta content="試供品,無料,お試し,プレゼント,モラタメ" name="Keywords">
    <meta name="Description" content="試供品や新商品がもらえる・ためせる、プレゼント＆クチコミサイト！お得に話題の商品をためせて、ポイントもたまる♪" />

    <title>新規会員登録（内容確認）</title>
    <script src="../assets/vendor/jquery/jquery-1.12.4.min.js"></script>
    <script src="../assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScroll.js?2026030513"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.v3.3.7--scope.css?2026030513">
    <script type="text/javascript" src="../assets/js/clips.js?2026030513"></script>
    <script type="text/javascript" src="../assets/js/helper-sp.js?2026030513"></script>



    <link rel="stylesheet" href="../assets/css/html5-doctor-reset-stylesheet.min.css" />
    <link rel="stylesheet" href="../assets/css/common.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style.3078.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style--sp.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style.moratamelist-tame--sp.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/tooltip.css?2026030513">
    <link rel="stylesheet" href="../assets/css/pickup.css?2026030513">

    <!-- remodal -->
    <link rel="stylesheet" href="../assets/vendor/remodal/remodal.css">
    <link rel="stylesheet" href="../assets/vendor/remodal/remodal-default-theme.css">
    <link rel="stylesheet" href="../assets/vendor/remodal/remodal-user.css">
    <script src="../assets/vendor/remodal/remodal.min.js"></script>
    <!-- /remodal -->

    <link rel="stylesheet" href="../assets/css/style--common-sp-and-pc.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style--common-sp-and-pc-2.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/footer-common.css?2026030513" />

    <!-- 共通ヘッダー用 -->
    <link rel="stylesheet" href="../assets/css/style--pc.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/t-sample.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <link rel="stylesheet" href="../assets/css/mamahalo-pickup-items.css?2026030513">
    <!-- /mamahalo-slider -->

    <!-- checkBox・radioBtn -->
    <script src="../assets/js/inputimg.js?2026030513"></script>
    <!-- //checkBox・radioBtn -->
    <!-- ドロワメニューの高さ取得・コンテンツ制御 -->
    <script type="text/javascript">
      jQuery(function ($) {
        $(".ui-block-d").click(function () {
          var mnHeight = $('#drawerMenu').height();
          $('.ui-panel-content-wrap').css('height', mnHeight);
        });
      });
    </script>
    <!-- //ドロワメニューの高さ取得・コンテンツ制御 -->

    <script>
      if (window.jQuery && jQuery.mobile) {
        jQuery.mobile.ajaxEnabled = false;
      }
    </script>



    <!-- fontawesome -->

    <!-- ページ固有 Style -->
    <link rel="stylesheet" href="../assets/css/p9255-common--sp.css?2026030513" />
    <link rel="stylesheet" href="../assets/css/p9255-top--sp.css?2026030513" />
    <!-- //ページ固有 Style -->

  </head>
  <link rel="stylesheet" href="../assets/css/html5-doctor-reset-stylesheet.min.css" />
  <link rel="stylesheet" href="../assets/css/member-registration.css?2026030513" />

  <body>

    <div data-role="page" class="page" id="registration-page">


      <div class="body-wrapper">
        {% include 'header' %}
      </div>
      <div id="contente-top" class="content">
        <div class="container">
          <section class="new-signup-confirm">
            <!--パンくず-->
            <p class="milesstone"><img src="../assets/images/img/milestone-2.png" alt="step1 入力内容確認"></p>
            <!--パンくず-->
            <!--ページタイトル-->
            <h1 class="heading-ttl">入力内容確認</h1>
            <!--ページタイトル-->

            <form action="https://stg.moratame.net/s/contents/signup04.php" method="post" name="new-signup-input" id="new-signup-input">
              <!--性別-->
              <div class="select-area select-sex">
                <div class="form-ttl">
                  <h2 class="element-ttl">性別</h2>
                </div>
                <div class="input-area">
                  <p class="confirm-text">男性</p>
                </div>
              </div>
              <!--/ 性別-->
              <!--生年月日-->
              <div class="select-area select-birthday">
                <div class="form-ttl">
                  <h2 class="element-ttl">生年月日</h2>
                </div>
                <div class="input-area">
                  <p class="confirm-text">1980年02月01日</p>
                </div>
              </div>
              <!--/生年月日-->
              <!--メールアドレス-->
              <div class="select-area select-email">
                <div class="form-ttl">
                  <h2 class="element-ttl">メールアドレス</h2>
                </div>
                <div class="input-area">
                  <p class="confirm-text">kanno+1@dohouse.co.jp</p>
                </div>
              </div>
              <!--/メールアドレス-->
              <!--パスワード-->
              <div class="select-area select-password">
                <div class="form-ttl">
                  <h2 class="element-ttl">パスワード</h2>
                </div>
                <div class="input-area">
                  <p class="confirm-text">VoK93Vxv</p>
                </div>
              </div>
              <!--/パスワード-->
              <!--ニックネーム-->
              <div class="select-area select-nickname">
                <div class="form-ttl">
                  <h2 class="element-ttl">ニックネーム</h2>
                </div>
                <div class="input-area">
                  <p class="confirm-text">あlsdfkj</p>
                </div>
              </div>
              <!--/ニックネーム-->
              <!--紹介コード-->
              <div class="select-area select-password">
                <div class="form-ttl">
                  <h2 class="element-ttl">紹介コード</h2>
                </div>
                <div class="input-area">
                  <p class="confirm-text"></p>
                </div>
              </div>
              <!--/紹介コード-->
              <hr>
              <div class="input-area">
                <p class="confirm-text" style="color: #ff0000;">※ 携帯メールアドレスをご登録いただく場合、<br>moratame.netからのドメイン着信許可を設定<br>してください。</p>
              </div>
              <hr>
              <div class="submit-btn">
                <button type="submit" rel="external">電話番号認証を行う</button>
              </div>
              <div class="correct-btn">
                <a href="../contents/signup01.html" rel="external">
                  <button type="button" rel="external">内容を修正する</button>
                </a>
              </div>
            </form>
          </section>
        </div>
      </div>
      {% include 'footer' %}

    </div>

    <script type="module" src="../assets/js/main.js"></script>

  </body>


  <script type="text/javascript" src="../assets/js/moratame_s_common.js?2026030513"></script>
  <script type="text/javascript" src="../assets/js/p9255-scripts.js?2026030513"></script>

</html>
