<!doctype html>
<html lang="ja">
  <head>
    {% assign page_title = 'シェアフル 1-1 トップページ' %} {% capture head_extra %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="assets/css/p-top-hero.css" />
    {% endcapture %} {% include 'head' %}
  </head>

  <body id="pageTop" class="toppage">
    <div class="body-wrapper">
      {% include 'header' %}
      <div class="p-top-hero">
        <div class="swiper p-top-hero__swiper" aria-label="おすすめキャンペーン">
          <ul class="swiper-wrapper">
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/dd6699/ffffff/1280x480.png?text=バナー1" alt="おすすめキャンペーン1" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/6699dd/ffffff/1280x480.png?text=バナー2" alt="おすすめキャンペーン2" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/99dd66/ffffff/1280x480.png?text=バナー3" alt="おすすめキャンペーン3" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/dd99aa/ffffff/1280x480.png?text=バナー4" alt="おすすめキャンペーン4" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/88ccff/ffffff/1280x480.png?text=バナー5" alt="おすすめキャンペーン5" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/ffcc88/ffffff/1280x480.png?text=バナー6" alt="おすすめキャンペーン6" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/aa88ff/ffffff/1280x480.png?text=バナー7" alt="おすすめキャンペーン7" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/88ffcc/ffffff/1280x480.png?text=バナー8" alt="おすすめキャンペーン8" class="u-img" />
            </li>
            <li class="swiper-slide" role="group" aria-roledescription="slide">
              <img src="https://placehold.jp/30/ff88cc/ffffff/1280x480.png?text=バナー9" alt="おすすめキャンペーン9" class="u-img" />
            </li>
          </ul>

          <button class="swiper-button-prev" type="button" aria-label="前のバナー"></button>
          <button class="swiper-button-next" type="button" aria-label="次のバナー"></button>

          <div class="p-top-hero__tabs" role="tablist" aria-label="バナー切り替えタブ"></div>
        </div>
      </div>
      <main class="main" aria-labelledby="page-heading">
        <h1 id="page-heading" class="sr-only">シェアフル 1-1 トップページ</h1>
        <div class="l-container">
          <div class="pr-tame pr-content">
            <h2 class="heading xx-large enclosingBtn withIcon">
              <span class="icoWrap">
                <img alt="" height="75" src="assets/images/icon-tame.png" width="76" />
              </span>
              <span class="">少額でためせる</span>
              <span class="heading__sub-title">送料関係費のみで色々な商品がおトクに試せる</span>
            </h2>
            <div class="tame ta-list">
              <ul class="l-card-items">
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame-pickup" title="商品名">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>モラタメ編集部</p>
                      <p>
                        <a href="detail/tamesu.html">商品名</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">9</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame-pickup" title="ギフトコード10件A">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>モラタメ編集部</p>
                      <p>
                        <a href="detail/tamesu.html">ギフトコード10件A</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">9</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame-pickup" title="ギフトコードPJT0120">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>リニューアルV…</p>
                      <p>
                        <a href="detail/tamesu.html">ギフトコードPJT0120</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">97</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame-pickup" title="CCCMK様ご確認用ギフトコードPJT">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>リニューアルV…</p>
                      <p>
                        <a href="detail/tamesu.html">CCCMK様ご確認用ギフトコードPJT</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">97</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>

                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="ギフトコードK5 200件">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>クーポンクラ…</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">ギフトコードK5 200件</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">198</span>
                      </p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="MTSD-14548 少数クーポンB">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>クーポンクラ…</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">MTSD-14548 少数クーポンB</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">8</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="MTSD-14548 少数クーポンA">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>クーポンクラ…</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">MTSD-14548 少数クーポンA</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">9</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="ギフトコード3万件">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>リニューアルV…</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">ギフトコード3万件</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">29,995</span>
                      </p>
                      <p class="badge cardBadge recommend">オススメ</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="クーポンテスト2">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>モラタメ編集部</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">クーポンテスト2</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">4</span>
                      </p>
                      <p class="badge cardBadge few">残りわずか</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="LORETTA AIMER ミストケアオイル">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">LORETTA AIMER ミストケアオイル</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">997</span>
                      </p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="重複OK2">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">重複OK2</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">4,972</span>
                      </p>
                      <p class="icoBar06 repeat">リピート可</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="重複OK">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/ccc/ffffff/640x640.png?text=eye-catch+tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis">重複OK</a>
                      </p>
                      <p class="count">
                        残り
                        <span class="c_red fw_b">4,974</span>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="l-card-items--tame">
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="プロファイルチェック用Attoos（大阪除外）">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>小林製薬　　</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis"> プロファイルチェック用Attoos… </a>
                      </p>
                      <p class="count">残り<span class="c_red fw_b">495</span></p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="ポイント決済用少額">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト　</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis"> ポイント決済用少額 </a>
                      </p>
                      <p class="count">残り<span class="c_red fw_b">9,931</span></p>
                      <p class="badge cardBadge recommend">オススメ</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="重複有り,家族有り">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト　</p>
                      <p class="">
                        <a href="detail/tamesu.html" 　class="u-text-ellipsis"> 重複有り,家族有り </a>
                      </p>
                      <p class="count">残り<span class="c_red fw_b">9,844</span></p>
                      <p class="badge cardBadge recommend">オススメ</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="重複有り,家族有り">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト　</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis"> 重複有り,家族有り </a>
                      </p>
                      <p class="count">残り<span class="c_red fw_b">9,844</span></p>
                      <p class="badge cardBadge recommend">オススメ</p>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="p-card p-card--top blockLink heightLine--tame" title="重複有り,家族有り">
                    <p class="item">
                      <a href="detail/tamesu.html">
                        <img src="https://placehold.jp/30/dd6699/ffffff/640x640.png?text=Item+Img+Tame" alt="商品名" width="640" height="640" class="item thumbnail" />
                      </a>
                    </p>
                    <div class="p-card__detail">
                      <p>テスト　</p>
                      <p class="">
                        <a href="detail/tamesu.html" class="u-text-ellipsis"> 重複有り,家族有り </a>
                      </p>
                      <p class="count">残り<span class="c_red fw_b">9,844</span></p>
                      <p class="badge cardBadge recommend">オススメ</p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="mt_20">
                <p class="ta_c fz_14">今ためせるのは <span class="c_red">15</span> 商品</p>
                <p class="btnSquare01wrap">
                  <a class="btnSquare01 btnBeige01" href="detail/tamesulist.html"
                    >ためせる商品一覧はこちら
                    <span class="arrow">
                      <img alt="" height="32" src="assets/images/arrow03.png" width="20" />
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="pr-mora pr-content">
            <h2 class="heading xx-large enclosingBtn withIcon">
              <span class="icoWrap">
                <img alt="" height="79" src="assets/images/icon-mora.png" width="64" />
              </span>
              <span class="">無料でもらえる</span>
              <span class="heading__sub-title">応募者の中から選考で商品をお試しいただけます</span>
            </h2>
            <ul class="l-card-items--mora">
              <li class="">
                <a class="blockLink" href="detail/morau.html">
                  <div class="p-card p-card--top p-card--top--mora heightLine--mora" title="モラご確認用B">
                    <img alt="商品名" height="240" src="https://placehold.jp/30/dd6699/ffffff/638x240.png?text=eye-catch+mora" width="638" class="u-img thumbnail" />
                    <div class="p-card__detail" style="min-height: 76px">
                      <p>テスト</p>
                      <p class="u-text-ellipsis">モラご確認用B</p>
                      <ul>
                        <li class="number">提供数 <span class="c_red fw_b"> 100 </span>名</li>
                        <li class="number">
                          応募締切
                          <span class="c_red fw_b"> 360日前 </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="blockLink" href="detail/morau.html">
                  <div class="p-card p-card--top p-card--top--mora heightLine--mora" title="モラご確認用A">
                    <img alt="商品名" height="240" src="https://placehold.jp/30/dd6699/ffffff/638x240.png?text=eye-catch+mora" width="638" class="u-img thumbnail" />
                    <div class="p-card__detail" style="min-height: 76px">
                      <p>テスト</p>
                      <p class="u-text-ellipsis">モラご確認用A</p>
                      <ul>
                        <li class="number">提供数 <span class="c_red fw_b"> 100 </span>名</li>
                        <li class="number">
                          応募締切
                          <span class="c_red fw_b"> 360日前 </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="blockLink" href="detail/morau.html">
                  <div class="p-card p-card--top p-card--top--mora heightLine--mora" title="Vサンプル真冬のビタミンキャンペーン！">
                    <img alt="商品名" height="240" src="https://placehold.jp/30/dd6699/ffffff/638x240.png?text=eye-catch+mora" width="638" class="u-img thumbnail" />
                    <div class="p-card__detail" style="min-height: 76px">
                      <p>テスト</p>
                      <p class="u-text-ellipsis">Vサンプル真冬のビタミンキャンペーン！</p>
                      <ul>
                        <li class="number">提供数 <span class="c_red fw_b"> 1 </span>名</li>
                        <li class="number">
                          応募締切
                          <span class="c_red fw_b"> 203日前 </span>
                        </li>
                      </ul>
                      <p class="badge cardBadge already">応募済み</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>

            <div class="mt_20">
              <p class="btnSquare01wrap">
                <a class="btnSquare01 btnBeige01" href="detail/moraulist.html"
                  >もらえる商品一覧はこちら
                  <span class="arrow">
                    <img alt="" height="32" src="assets/images/arrow03.png" width="20" />
                  </span>
                </a>
              </p>
            </div>
            <!-- /btnGroup -->
          </div>
        </div>
        <!-- /contents -->
      </main>
      {% include 'footer' %}
    </div>
    <!-- /body-wrapper -->

    <script src="assets/js/t.js"></script>
    <script type="module" src="assets/js/main.js"></script>
    <script type="module" src="assets/js/p-top-hero.js"></script>
  </body>
</html>
